Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-handler':
  - 'packages/react-start-server-functions-handler/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

cleanup
  packages/solid-start-client/tsconfig.json
Labels: none

rebase
  packages/solid-start-config/src/index.ts
  packages/solid-start-config/src/schema.ts
Labels: none

work on solid-start-client
  packages/solid-start-client/eslint.config.js
  packages/solid-start-client/src/renderRSC.tsx
Labels: none

fix the workspace
  e2e/solid-start/basic/app/routeTree.gen.ts
  e2e/solid-start/basic/package.json
  pnpm-workspace.yaml
Labels: none

work on solid basic e2e
  e2e/solid-start/basic/app/routes/__root.tsx
  e2e/solid-start/basic/app/routes/deferred.tsx
  e2e/solid-start/basic/app/routes/search-params.tsx
  e2e/solid-start/basic/app/routes/stream.tsx
  e2e/solid-start/basic/package.json
Labels: none

solid-start-client
  packages/solid-start-client/README.md
  packages/solid-start-client/eslint.config.js
  packages/solid-start-client/package.json
  packages/solid-start-client/src/Meta.tsx
  packages/solid-start-client/src/Scripts.tsx
  packages/solid-start-client/src/StartClient.tsx
  packages/solid-start-client/src/createIsomorphicFn.ts
  packages/solid-start-client/src/createMiddleware.ts
  packages/solid-start-client/src/createServerFn.ts
  packages/solid-start-client/src/envOnly.ts
  packages/solid-start-client/src/headers.ts
  packages/solid-start-client/src/index.tsx
  packages/solid-start-client/src/json.ts
  packages/solid-start-client/src/registerGlobalMiddleware.ts
  packages/solid-start-client/src/renderRSC.tsx
  packages/solid-start-client/src/routesManifest.ts
  packages/solid-start-client/src/serializer.ts
  packages/solid-start-client/src/ssr-client.tsx
  packages/solid-start-client/src/tests/createIsomorphicFn.test-d.ts
  packages/solid-start-client/src/tests/createServerFn.test-d.tsx
  packages/solid-start-client/src/tests/createServerMiddleware.test-d.ts
  packages/solid-start-client/src/tests/envOnly.test-d.ts
  packages/solid-start-client/src/tests/json.test.ts
  packages/solid-start-client/src/tests/transformer.test.tsx
  packages/solid-start-client/src/useServerFn.ts
  packages/solid-start-client/tsconfig.json
  packages/solid-start-client/vite.config.ts
Labels: none

Fix api routes
  packages/solid-start-config/src/index.ts
Labels: none

Fix streaming and hydration
  e2e/solid-start/basic/app/client.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
Labels: none

fix malforemd html error
  examples/solid/start-bare/app/routes/__root.tsx
Labels: none

import solid-start-plugin
  packages/solid-start-config/src/index.ts
Labels: none

add timeout for redirect tests
  e2e/solid-start/basic/tests/redirect.spec.ts
Labels: none

fix default config for solid-start
  e2e/solid-start/basic/app/routeTree.gen.ts
  packages/solid-start-config/src/index.ts
Labels: none

format
  examples/solid/start-bare/app/routes/__root.tsx
Labels: none

Fix use hydration
  examples/solid/start-bare/app/client.tsx
  examples/solid/start-bare/app/routes/__root.tsx
Labels: none

add vite-plugin-solid
  packages/solid-start-config/src/index.ts
Labels: none

use agnostic start
  packages/solid-start-client/package.json
  packages/solid-start-client/src/createServerFn.ts
  packages/solid-start-client/src/ssr-client.tsx
  packages/solid-start-client/src/tests/createServerFn.test-d.tsx
  packages/solid-start-client/src/tests/createServerMiddleware.test-d.ts
  packages/solid-start-server-functions-fetcher/package.json
  packages/solid-start-server-functions-fetcher/src/index.tsx
  packages/solid-start-server/package.json
  packages/solid-start-server/src/createRequestHandler.ts
  packages/solid-start-server/src/createStartHandler.ts
  packages/solid-start-server/src/ssr-server.ts
  packages/solid-start-server/src/tsrScript.ts
  packages/solid-start/src/server.tsx
  pnpm-lock.yaml
Labels: none

add back react-refresh
  packages/react-start-plugin/src/index.ts
  packages/react-start-router-manifest/src/index.ts
Labels: package: react-start-plugin, package: react-start-router-manifest

add solid-start-api-routers and solid-start-server-functions-ssr
  e2e/solid-start/basic/app/routeTree.gen.ts
  examples/solid/start-bare/app.config.ts
  examples/solid/start-bare/app/api.ts
  examples/solid/start-bare/app/client.tsx
  examples/solid/start-bare/app/components/Counter.css
  examples/solid/start-bare/app/components/Counter.tsx
  examples/solid/start-bare/app/routeTree.gen.ts
  examples/solid/start-bare/app/router.tsx
  examples/solid/start-bare/app/routes/__root.tsx
  examples/solid/start-bare/app/routes/about.tsx
  examples/solid/start-bare/app/routes/index.tsx
  examples/solid/start-bare/app/ssr.tsx
  examples/solid/start-bare/app/styles/app.css
  examples/solid/start-bare/package.json
  examples/solid/start-bare/public/favicon.ico
  examples/solid/start-bare/tailwind.config.mjs
  examples/solid/start-bare/tsconfig.json
  packages/solid-start-api-routes/README.md
  packages/solid-start-api-routes/eslint.config.js
  packages/solid-start-api-routes/package.json
  packages/solid-start-api-routes/src/index.ts
  packages/solid-start-api-routes/tsconfig.json
  packages/solid-start-api-routes/vite.config.ts
  packages/solid-start-client/src/createMiddleware.ts
  packages/solid-start-config/src/index.ts
  packages/solid-start-server-functions-ssr/README.md
  packages/solid-start-server-functions-ssr/eslint.config.js
  packages/solid-start-server-functions-ssr/package.json
  packages/solid-start-server-functions-ssr/src/index.ts
  packages/solid-start-server-functions-ssr/tsconfig.json
  packages/solid-start-server-functions-ssr/tsconfigs/config.tsconfig.json
  packages/solid-start-server-functions-ssr/tsconfigs/router-manifest.tsconfig.json
  packages/solid-start-server-functions-ssr/vite.config.ts
  packages/solid-start-server/src/defaultStreamHandler.tsx
  packages/solid-start/package.json
  packages/solid-start/src/api.tsx
  packages/solid-start/src/server-functions-ssr.tsx
  packages/solid-start/vite.config.ts
  pnpm-lock.yaml
Labels: none

add separate solid-start-router-manifest
  packages/solid-start-router-manifest/README.md
  packages/solid-start-router-manifest/eslint.config.js
  packages/solid-start-router-manifest/package.json
  packages/solid-start-router-manifest/src/index.ts
  packages/solid-start-router-manifest/tsconfig.json
  packages/solid-start-router-manifest/vite.config.ts
  packages/solid-start/package.json
  packages/solid-start/src/router-manifest.tsx
  packages/solid-start/vite.config.ts
  pnpm-lock.yaml
Labels: none

fix syntax
  e2e/solid-start/basic/app/client.tsx
  e2e/solid-start/basic/app/routes/not-found/index.tsx
  e2e/solid-start/basic/app/routes/posts.$postId.tsx
  e2e/solid-start/basic/app/routes/posts.tsx
  e2e/solid-start/basic/app/routes/posts_.$postId.deep.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/serverFn/index.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/serverFn/via-useServerFn.tsx
  e2e/solid-start/basic/app/routes/users.$userId.tsx
Labels: none

cleanup e2e/solid-start/basic
  e2e/solid-start/basic/app/client.tsx
  e2e/solid-start/basic/app/components/PostErrorComponent.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
  e2e/solid-start/basic/app/routes/posts.$postId.tsx
  e2e/solid-start/basic/app/routes/posts_.$postId.deep.tsx
Labels: none

revert change
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

lock
  pnpm-lock.yaml
Labels: none

remove head/body
  examples/solid/start-bare/app/routes/__root.tsx
Labels: none

use simple error component
  e2e/solid-start/basic/app/routes/__root.tsx
Labels: none

solid-refresh
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

revert change
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

improve solid-start/basic e2e
  e2e/solid-start/basic/app/components/UserErrorComponent.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/index.tsx
  e2e/solid-start/basic/app/routes/stream.tsx
  e2e/solid-start/basic/app/routes/users.$userId.tsx
Labels: none

revert change react-refresh
  packages/router-plugin/src/core/router-code-splitter-plugin.ts
Labels: package: router-plugin

fix tailwind
  e2e/solid-start/basic/app/routes/posts.tsx
  examples/solid/start-bare/app/routes/__root.tsx
  examples/solid/start-bare/package.json
  examples/solid/start-bare/tailwind.config.mjs
Labels: none

disable react-refresh for solid
  packages/react-start-router-manifest/src/index.ts
Labels: package: react-start-router-manifest

working hydration
  examples/solid/start-bare/app/client.tsx
  examples/solid/start-bare/app/routes/__root.tsx
  packages/react-start-plugin/src/index.ts
  packages/react-start-router-manifest/src/index.ts
  packages/router-plugin/src/core/router-code-splitter-plugin.ts
Labels: package: react-start-plugin, package: react-start-router-manifest, package: router-plugin

remove api routes
  examples/solid/start-bare/app/api.ts
Labels: none

fix solid-start-config
  packages/solid-start-config/src/index.ts
Labels: none

work on agnostic packages
  packages/solid-start-server-functions-fetcher/src/index.ts
  packages/solid-start-server-functions-fetcher/tsconfig.json
  packages/solid-start-server-functions-fetcher/vite.config.ts
  packages/solid-start-server-functions-handler/src/index.ts
  packages/solid-start-server-functions-handler/tsconfig.json
  packages/solid-start-server-functions-handler/vite.config.ts
Labels: none

use prev from setCount
  e2e/solid-start/basic/app/routes/deferred.tsx
Labels: none

add basic-tsr-config
  e2e/solid-start/basic-tsr-config/.gitignore
  e2e/solid-start/basic-tsr-config/.prettierignore
  e2e/solid-start/basic-tsr-config/README.md
  e2e/solid-start/basic-tsr-config/app.config.ts
  e2e/solid-start/basic-tsr-config/package.json
  e2e/solid-start/basic-tsr-config/playwright.config.ts
  e2e/solid-start/basic-tsr-config/src/app/client.tsx
  e2e/solid-start/basic-tsr-config/src/app/routeTree.gen.ts
  e2e/solid-start/basic-tsr-config/src/app/router.tsx
  e2e/solid-start/basic-tsr-config/src/app/routes/__root.tsx
  e2e/solid-start/basic-tsr-config/src/app/routes/index.tsx
  e2e/solid-start/basic-tsr-config/src/app/ssr.tsx
  e2e/solid-start/basic-tsr-config/tests/app.spec.ts
  e2e/solid-start/basic-tsr-config/tsconfig.json
  pnpm-lock.yaml
Labels: none

fix multipart test
  e2e/solid-start/server-functions/app/routes/multipart.tsx
Labels: none

use createSignal
  e2e/solid-start/server-functions/app/routes/dead-code-preserve.tsx
  e2e/solid-start/server-functions/app/routes/env-only.tsx
  e2e/solid-start/server-functions/app/routes/isomorphic-fns.tsx
Labels: none

test correctly
  e2e/react-start/basic-tsr-config/tests/app.spec.ts
Labels: none
