Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

feat(router): add TStateValidator type for state validation in routing
  packages/react-router/src/fileRoute.ts
  packages/router-core/src/RouterProvider.ts
  packages/router-core/src/fileRoute.ts
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/route.ts
Labels: package: react-router, package: router-core, package: router-devtools-core, package: solid-router

refactor: tidy up types to read top to bottom
  packages/start-client-core/src/serverRoute.ts
Labels: none

checkpoint
  examples/react/start-basic/src/routeTree.gen.ts
  examples/react/start-basic/src/routes/users.tsx
  packages/react-start-plugin/src/start-compiler-plugin.ts
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/index.ts
  packages/router-generator/src/types.ts
  packages/solid-start-client/src/index.tsx
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-plugin-core/src/compilers.ts
  packages/start-plugin-core/tests/createServerRoute/createServerRoute.test.d.ts
  packages/start-plugin-core/tests/createServerRoute/createServerRoute.test.ts
  packages/start-plugin-core/tests/createServerRoute/snapshots/client/nonImported.tsx
  packages/start-plugin-core/tests/createServerRoute/snapshots/server/nonImported.tsx
  packages/start-plugin-core/tests/createServerRoute/test-files/nonImported.tsx
Labels: package: react-start-plugin, package: router-generator, package: solid-start-client

commit
  packages/start-client-core/src/serverRoute.ts
Labels: none

checkpoint
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

fix: type errors
  packages/react-start-client/src/index.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: package: react-start-client

Resolve client validator input type
  examples/react/start-basic/src/routes/users.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

fix(serializer): enhance type handling for serialization and deserialization
  packages/router-core/src/serializer.ts
  packages/start-client-core/src/tests/createServerMiddleware.test-d.ts
Labels: package: router-core

fixup
  examples/react/start-basic/src/routes/users.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

fix: incorrect label value
  examples/react/start-basic-auth/src/components/Auth.tsx
Labels: none

test(e2e): add react router-cli sandbox
  e2e/react-router/generator-cli-only/.gitignore
  e2e/react-router/generator-cli-only/index.html
  e2e/react-router/generator-cli-only/package.json
  e2e/react-router/generator-cli-only/playwright.config.ts
  e2e/react-router/generator-cli-only/postcss.config.mjs
  e2e/react-router/generator-cli-only/src/main.tsx
  e2e/react-router/generator-cli-only/src/posts.ts
  e2e/react-router/generator-cli-only/src/routeTree.gen.ts
  e2e/react-router/generator-cli-only/src/routes/__root.tsx
  e2e/react-router/generator-cli-only/src/routes/_pathlessLayout.tsx
  e2e/react-router/generator-cli-only/src/routes/_pathlessLayout/_nested-layout.tsx
  e2e/react-router/generator-cli-only/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  e2e/react-router/generator-cli-only/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  e2e/react-router/generator-cli-only/src/routes/anchor.tsx
  e2e/react-router/generator-cli-only/src/routes/index.tsx
  e2e/react-router/generator-cli-only/src/routes/posts.$postId.tsx
  e2e/react-router/generator-cli-only/src/routes/posts.index.tsx
  e2e/react-router/generator-cli-only/src/routes/posts.route.tsx
  e2e/react-router/generator-cli-only/src/styles.css
  e2e/react-router/generator-cli-only/tailwind.config.mjs
  e2e/react-router/generator-cli-only/tests/app.spec.ts
  e2e/react-router/generator-cli-only/tsconfig.json
  e2e/react-router/generator-cli-only/tsr.config.json
  e2e/react-router/generator-cli-only/vite.config.js
  pnpm-lock.yaml
Labels: none

test(e2e): add react js-only-file-based sandbox
  e2e/react-router/js-only-file-based/.gitignore
  e2e/react-router/js-only-file-based/index.html
  e2e/react-router/js-only-file-based/package.json
  e2e/react-router/js-only-file-based/playwright.config.ts
  e2e/react-router/js-only-file-based/postcss.config.mjs
  e2e/react-router/js-only-file-based/src/main.jsx
  e2e/react-router/js-only-file-based/src/posts.js
  e2e/react-router/js-only-file-based/src/routeTree.gen.js
  e2e/react-router/js-only-file-based/src/routes/__root.jsx
  e2e/react-router/js-only-file-based/src/routes/_pathlessLayout.jsx
  e2e/react-router/js-only-file-based/src/routes/_pathlessLayout/_nested-layout.jsx
  e2e/react-router/js-only-file-based/src/routes/_pathlessLayout/_nested-layout/route-a.jsx
  e2e/react-router/js-only-file-based/src/routes/_pathlessLayout/_nested-layout/route-b.jsx
  e2e/react-router/js-only-file-based/src/routes/index.jsx
  e2e/react-router/js-only-file-based/src/routes/posts.$postId.jsx
  e2e/react-router/js-only-file-based/src/routes/posts.index.jsx
  e2e/react-router/js-only-file-based/src/routes/posts.route.jsx
  e2e/react-router/js-only-file-based/src/styles.css
  e2e/react-router/js-only-file-based/tailwind.config.mjs
  e2e/react-router/js-only-file-based/tests/app.spec.ts
  e2e/react-router/js-only-file-based/tsconfig.json
  e2e/react-router/js-only-file-based/vite.config.js
  pnpm-lock.yaml
Labels: none

chore(e2e): remove "anchor" routes from previous
  e2e/react-router/generator-cli-only/src/routeTree.gen.ts
  e2e/react-router/generator-cli-only/src/routes/__root.tsx
  e2e/react-router/generator-cli-only/src/routes/anchor.tsx
Labels: none

chore(e2e): disable manifest generation for new sandboxes
  e2e/react-router/generator-cli-only/src/routeTree.gen.ts
  e2e/react-router/generator-cli-only/tsr.config.json
  e2e/react-router/js-only-file-based/src/routeTree.gen.js
  e2e/react-router/js-only-file-based/vite.config.js
Labels: none

sync solid
  examples/solid/start-basic/src/routeTree.gen.ts
  examples/solid/start-basic/src/routes/users.$userId.tsx
  examples/solid/start-basic/src/routes/users.tsx
  packages/solid-start-client/src/index.tsx
Labels: package: solid-start-client

cleanup solid-start-client
  packages/solid-start-client/package.json
  packages/solid-start-client/src/index.tsx
  pnpm-lock.yaml
Labels: package: solid-start-client

fix(router-generator): only `declare module` when using typescript
  packages/router-generator/src/generator.ts
Labels: package: router-generator

Add biome lint ignore comment
  packages/router-generator/src/config.ts
Labels: package: router-generator

chore(repo): Use new TanStack React Start + Clerk package name
  e2e/react-start/clerk-basic/package.json
  e2e/react-start/clerk-basic/src/routes/__root.tsx
  e2e/react-start/clerk-basic/src/routes/_authed.tsx
  e2e/react-start/clerk-basic/src/ssr.tsx
  examples/react/start-clerk-basic/package.json
  examples/react/start-clerk-basic/src/routes/__root.tsx
  examples/react/start-clerk-basic/src/routes/_authed.tsx
  examples/react/start-clerk-basic/src/ssr.tsx
  pnpm-lock.yaml
Labels: none

fix: incorrect label value in e2e
  e2e/react-start/basic-auth/src/components/Auth.tsx
Labels: none

chore(examples,e2e): incorrect label value for "email" (#3851)
  e2e/react-start/basic-auth/src/components/Auth.tsx
  examples/react/start-basic-auth/src/components/Auth.tsx
Labels: none

sync solid
  examples/react/start-basic/src/routeTree.gen.ts
  examples/solid/start-basic/src/routeTree.gen.ts
  packages/solid-start-plugin/src/nitro/dev-server-plugin.ts
  packages/solid-start-plugin/src/nitro/nitro-plugin.ts
  packages/solid-start-plugin/src/start-compiler-plugin.ts
Labels: package: solid-start-plugin

move framework specific compilers code to react/solid-start-plugin
  packages/react-start-plugin/src/compilers.ts
  packages/react-start-plugin/src/index.ts
  packages/react-start-plugin/src/start-compiler-plugin.ts
  packages/solid-start-plugin/src/compilers.ts
  packages/solid-start-plugin/src/index.ts
  packages/solid-start-plugin/src/start-compiler-plugin.ts
  packages/start-plugin-core/src/compilers.ts
  packages/start-plugin-core/src/index.ts
Labels: package: react-start-plugin, package: solid-start-plugin

Set return type for throwing notFound function
  packages/router-core/src/not-found.ts
Labels: package: router-core

add TStateValidator to route type definition
  packages/router-core/src/route.ts
Labels: package: router-core

chore(examples): Use new TanStack React Start + Clerk package name (#3858)
  e2e/react-start/clerk-basic/package.json
  e2e/react-start/clerk-basic/src/routes/__root.tsx
  e2e/react-start/clerk-basic/src/routes/_authed.tsx
  e2e/react-start/clerk-basic/src/ssr.tsx
  examples/react/start-clerk-basic/package.json
  examples/react/start-clerk-basic/src/routes/__root.tsx
  examples/react/start-clerk-basic/src/routes/_authed.tsx
  examples/react/start-clerk-basic/src/ssr.tsx
  pnpm-lock.yaml
Labels: none

docs: fix create-tsrouter-app command (#3829)
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

fix(docs): Update link for the The Router Configuration: Preloading & Caching (#3833)
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

release: v1.114.28
  examples/react/basic-ssr-file-based/package.json
  examples/react/basic-ssr-streaming-file-based/package.json
  examples/react/start-bare/package.json
  examples/react/start-basic-auth/package.json
  examples/react/start-basic-react-query/package.json
  examples/react/start-basic-rsc/package.json
  examples/react/start-basic-static/package.json
  examples/react/start-basic/package.json
  examples/react/start-clerk-basic/package.json
  examples/react/start-convex-trellaux/package.json
  examples/react/start-counter/package.json
  examples/react/start-large/package.json
  examples/react/start-material-ui/package.json
  examples/react/start-supabase-basic/package.json
  examples/react/start-trellaux/package.json
  examples/react/with-trpc-react-query/package.json
  examples/react/with-trpc/package.json
  packages/create-start/package.json
  packages/directive-functions-plugin/package.json
  packages/react-start-config/package.json
  packages/react-start-plugin/package.json
  packages/react-start/package.json
  packages/server-functions-plugin/package.json
  packages/start-config/package.json
  packages/start-server-functions-client/package.json
  packages/start-server-functions-server/package.json
  packages/start-server-functions-ssr/package.json
  packages/start/package.json
Labels: package: create-start, package: directive-functions-plugin, package: react-start, package: react-start-config, package: react-start-plugin, package: start-server-functions-client, package: start-server-functions-ssr, package: server-functions-plugin, package: start, package: start-config, package: start-server-functions-server

unflag in publish.js
  scripts/publish.js
Labels: none

add docs
  docs/start/config.json
  docs/start/framework/react/server-functions.md
  docs/start/framework/solid/api-routes.md
  docs/start/framework/solid/authentication.md
  docs/start/framework/solid/build-from-scratch.md
  docs/start/framework/solid/databases.md
  docs/start/framework/solid/getting-started.md
  docs/start/framework/solid/hosting.md
  docs/start/framework/solid/learn-the-basics.md
  docs/start/framework/solid/middleware.md
  docs/start/framework/solid/observability.md
  docs/start/framework/solid/overview.md
  docs/start/framework/solid/path-aliases.md
  docs/start/framework/solid/quick-start.md
  docs/start/framework/solid/server-functions.md
  docs/start/framework/solid/ssr.md
  docs/start/framework/solid/static-prerendering.md
  docs/start/framework/solid/static-server-functions.md
  examples/solid/start-bare/package.json
  examples/solid/start-basic/package.json
  package.json
  packages/solid-start-client/package.json
  packages/solid-start-config/package.json
  packages/solid-start-plugin/package.json
  packages/solid-start-router-manifest/package.json
  packages/solid-start-server/package.json
  packages/solid-start/README.md
  packages/solid-start/package.json
  pnpm-lock.yaml
Labels: package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, documentation

chore: revert validator type logic
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

docs(tooling): switch to gitpick to quick-start.md ~ 1 file 2+ 2-
  docs/start/framework/react/quick-start.md
Labels: documentation

add experimental notice
  docs/start/framework/solid/overview.md
Labels: documentation

release experimental `@tanstack/solid-start` package (#3864)
  docs/start/config.json
  docs/start/framework/react/server-functions.md
  docs/start/framework/solid/api-routes.md
  docs/start/framework/solid/authentication.md
  docs/start/framework/solid/build-from-scratch.md
  docs/start/framework/solid/databases.md
  docs/start/framework/solid/getting-started.md
  docs/start/framework/solid/hosting.md
  docs/start/framework/solid/learn-the-basics.md
  docs/start/framework/solid/middleware.md
  docs/start/framework/solid/observability.md
  docs/start/framework/solid/overview.md
  docs/start/framework/solid/path-aliases.md
  docs/start/framework/solid/quick-start.md
  docs/start/framework/solid/server-functions.md
  docs/start/framework/solid/ssr.md
  docs/start/framework/solid/static-prerendering.md
  docs/start/framework/solid/static-server-functions.md
  examples/solid/start-bare/package.json
  examples/solid/start-basic/package.json
  package.json
  packages/solid-start-client/package.json
  packages/solid-start-config/package.json
  packages/solid-start-plugin/package.json
  packages/solid-start-router-manifest/package.json
  packages/solid-start-server/package.json
  packages/solid-start/README.md
  packages/solid-start/package.json
  pnpm-lock.yaml
  scripts/publish.js
Labels: package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, documentation

fix: RELEASE_ALL
  README.md
Labels: none

Update overview.md
  docs/start/framework/solid/overview.md
Labels: documentation

chore(docs): fix escaping of brackets in solid overview page
  docs/start/framework/solid/overview.md
Labels: documentation

chore(docs): fix escaping of brackets in solid overview page (#3866)
  docs/start/framework/solid/overview.md
Labels: documentation

Install & Setup Lingui
  examples/react/start-basic-i18n-lingui/app.config.ts
  examples/react/start-basic-i18n-lingui/lingui.config.ts
  examples/react/start-basic-i18n-lingui/package.json
  examples/react/start-basic-i18n-lingui/src/client.tsx
  examples/react/start-basic-i18n-lingui/src/locales/en/messages.po
  examples/react/start-basic-i18n-lingui/src/locales/fr/messages.po
  examples/react/start-basic-i18n-lingui/src/modules/lingui/i18n.ts
  examples/react/start-basic-i18n-lingui/src/routeTree.gen.ts
  examples/react/start-basic-i18n-lingui/src/router.tsx
  examples/react/start-basic-i18n-lingui/src/routes/__root.tsx
  examples/react/start-basic-i18n-lingui/src/ssr.tsx
  pnpm-lock.yaml
Labels: none
