Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

Translate App
  examples/react/start-basic-i18n-lingui/src/components/DefaultCatchBoundary.tsx
  examples/react/start-basic-i18n-lingui/src/components/NotFound.tsx
  examples/react/start-basic-i18n-lingui/src/locales/en/messages.po
  examples/react/start-basic-i18n-lingui/src/locales/fr/messages.po
  examples/react/start-basic-i18n-lingui/src/routes/__root.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/react/start-basic-i18n-lingui/src/routes/api/users.$id.ts
  examples/react/start-basic-i18n-lingui/src/routes/deferred.tsx
  examples/react/start-basic-i18n-lingui/src/routes/index.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts.$postId.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts.index.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts.route.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts_.$postId.deep.tsx
  examples/react/start-basic-i18n-lingui/src/routes/users.$userId.tsx
  examples/react/start-basic-i18n-lingui/src/routes/users.index.tsx
  examples/react/start-basic-i18n-lingui/src/routes/users.route.tsx
Labels: none

Add language switcher
  examples/react/start-basic-i18n-lingui/src/routes/__root.tsx
Labels: none

Check for URL locale first
  examples/react/start-basic-i18n-lingui/src/ssr.tsx
Labels: none

Add example do documentation
  docs/start/config.json
Labels: documentation

Apply Prettier
  examples/react/start-basic-i18n-lingui/app.config.ts
  examples/react/start-basic-i18n-lingui/lingui.config.ts
  examples/react/start-basic-i18n-lingui/src/client.tsx
  examples/react/start-basic-i18n-lingui/src/components/NotFound.tsx
  examples/react/start-basic-i18n-lingui/src/modules/lingui/i18n.ts
  examples/react/start-basic-i18n-lingui/src/router.tsx
  examples/react/start-basic-i18n-lingui/src/routes/__root.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/react/start-basic-i18n-lingui/src/routes/deferred.tsx
  examples/react/start-basic-i18n-lingui/src/routes/index.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts.$postId.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts.index.tsx
  examples/react/start-basic-i18n-lingui/src/routes/users.$userId.tsx
  examples/react/start-basic-i18n-lingui/src/routes/users.index.tsx
  examples/react/start-basic-i18n-lingui/src/ssr.tsx
Labels: none

Strip example to bare minimum
  examples/react/start-basic-i18n-lingui/app.config.ts
  examples/react/start-basic-i18n-lingui/package.json
  examples/react/start-basic-i18n-lingui/postcss.config.mjs
  examples/react/start-basic-i18n-lingui/src/components/DefaultCatchBoundary.tsx
  examples/react/start-basic-i18n-lingui/src/components/NotFound.tsx
  examples/react/start-basic-i18n-lingui/src/components/PostError.tsx
  examples/react/start-basic-i18n-lingui/src/components/UserError.tsx
  examples/react/start-basic-i18n-lingui/src/global-middleware.ts
  examples/react/start-basic-i18n-lingui/src/locales/en/messages.po
  examples/react/start-basic-i18n-lingui/src/locales/fr/messages.po
  examples/react/start-basic-i18n-lingui/src/modules/lingui/i18n.server.ts
  examples/react/start-basic-i18n-lingui/src/routeTree.gen.ts
  examples/react/start-basic-i18n-lingui/src/router.tsx
  examples/react/start-basic-i18n-lingui/src/routes/__root.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/react/start-basic-i18n-lingui/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/react/start-basic-i18n-lingui/src/routes/about.tsx
  examples/react/start-basic-i18n-lingui/src/routes/api/users.$id.ts
  examples/react/start-basic-i18n-lingui/src/routes/api/users.ts
  examples/react/start-basic-i18n-lingui/src/routes/deferred.tsx
  examples/react/start-basic-i18n-lingui/src/routes/index.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts.$postId.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts.index.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts.route.tsx
  examples/react/start-basic-i18n-lingui/src/routes/posts_.$postId.deep.tsx
  examples/react/start-basic-i18n-lingui/src/routes/redirect.tsx
  examples/react/start-basic-i18n-lingui/src/routes/users.$userId.tsx
  examples/react/start-basic-i18n-lingui/src/routes/users.index.tsx
  examples/react/start-basic-i18n-lingui/src/routes/users.route.tsx
  examples/react/start-basic-i18n-lingui/src/ssr.tsx
  examples/react/start-basic-i18n-lingui/src/styles/app.css
  examples/react/start-basic-i18n-lingui/src/utils/loggingMiddleware.tsx
  examples/react/start-basic-i18n-lingui/src/utils/posts.tsx
  examples/react/start-basic-i18n-lingui/src/utils/seo.ts
  examples/react/start-basic-i18n-lingui/src/utils/users.tsx
  examples/react/start-basic-i18n-lingui/tailwind.config.mjs
  pnpm-lock.yaml
Labels: none

fix(react-router-with-query): skip client-side redirect handling during ssr
  packages/react-router-with-query/src/index.tsx
Labels: package: react-router-with-query

docs(start): switch from `degit` to `gitpick` (#3863)
  docs/start/framework/react/quick-start.md
Labels: documentation

Remove log noise
  packages/start-server-core/src/server-functions-handler.ts
Labels: none

feat: allow discriminated unions for inputs
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

chore: use validator constraint
  packages/start-client-core/src/serverRoute.ts
Labels: none

checkpoint
  examples/react/start-basic/src/routeTree.gen.ts
  packages/react-start-plugin/src/compilers.ts
  packages/router-core/src/router.ts
  packages/router-generator/src/generator.ts
  packages/start-client-core/src/serverRoute.ts
  packages/start-server-core/src/createStartHandler.ts
Labels: package: react-start-plugin, package: router-core, package: router-generator

check
  examples/react/start-basic/src/routes/users.tsx
Labels: none

check
  packages/start-server-core/src/createStartHandler.ts
Labels: none

fix(solid-router): move html to root
  examples/solid/start-bare/src/client.tsx
  examples/solid/start-bare/src/routes/__root.tsx
  packages/solid-start-server/src/StartServer.tsx
Labels: package: solid-start-server

use factory to move start-plugin code to shared package
  examples/solid/start-basic/src/routeTree.gen.ts
  packages/react-start-plugin/src/compilers.ts
  packages/solid-start-plugin/src/compilers.ts
  packages/start-plugin-core/src/compilers.ts
  packages/start-plugin-core/src/index.ts
Labels: package: react-start-plugin, package: solid-start-plugin

docs: Adjust _pathlessLayout example of directory routes
  docs/router/framework/react/routing/file-based-routing.md
Labels: documentation

docs(router): fix `_pathlessLayout` example of file-based routing (#3877)
  docs/router/framework/react/routing/file-based-routing.md
Labels: documentation

move queue
  packages/react-start-plugin/src/prerender.ts
  packages/solid-start-plugin/src/Queue.ts
  packages/solid-start-plugin/src/prerender.ts
  packages/start-plugin-core/src/index.ts
  packages/start-plugin-core/src/queue.ts
Labels: package: react-start-plugin, package: solid-start-plugin

move build-nitro to start-plugin-core
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/prerender.ts
  packages/solid-start-plugin/src/nitro/build-nitro.ts
  packages/solid-start-plugin/src/nitro/nitro-plugin.ts
  packages/solid-start-plugin/src/prerender.ts
  packages/start-plugin-core/package.json
  packages/start-plugin-core/src/index.ts
  packages/start-plugin-core/src/nitro/build-nitro.ts
  pnpm-lock.yaml
Labels: package: react-start-plugin, package: solid-start-plugin

move build-sitemap to start-plugin-core
  packages/react-start-plugin/package.json
  packages/solid-start-plugin/package.json
  packages/solid-start-plugin/src/nitro/build-sitemap.ts
  packages/solid-start-plugin/src/nitro/nitro-plugin.ts
  packages/start-plugin-core/package.json
  packages/start-plugin-core/src/index.ts
  packages/start-plugin-core/src/nitro/build-sitemap.ts
  pnpm-lock.yaml
Labels: package: react-start-plugin, package: solid-start-plugin

fix import orders
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/prerender.ts
Labels: package: react-start-plugin

move schema to start-plugin-core
  packages/react-start-plugin/src/index.ts
  packages/react-start-plugin/src/prerender.ts
  packages/react-start-plugin/src/schema.ts
  packages/solid-start-plugin/src/index.ts
  packages/solid-start-plugin/src/prerender.ts
  packages/solid-start-plugin/src/schema.ts
  packages/start-plugin-core/src/index.ts
  packages/start-plugin-core/src/schema.ts
Labels: package: react-start-plugin, package: solid-start-plugin

remove unused export start-plugin-core
  packages/start-plugin-core/src/index.ts
  packages/start-plugin-core/src/schema.ts
Labels: none

fix solid/react in vite plugin options
  packages/react-start-plugin/src/index.ts
  packages/solid-start-plugin/src/index.ts
Labels: package: react-start-plugin, package: solid-start-plugin

move dependency for `@tanstack/router-generator` to `start-plugin-core`
  packages/react-start-plugin/package.json
  packages/solid-start-plugin/package.json
  packages/start-plugin-core/package.json
  pnpm-lock.yaml
Labels: package: react-start-plugin, package: solid-start-plugin

chore(solid-start-plugin): remove react-refresh checks react shouldn't exist here
  packages/solid-start-plugin/src/start-compiler-plugin.ts
Labels: package: solid-start-plugin

refactor(start-plugin-core): more strictly type the `factory` input for `compileStartOutput`
  packages/start-plugin-core/src/compilers.ts
Labels: none

feat(router): add useHistoryState for enhanced state management
  packages/react-router/src/index.tsx
  packages/react-router/src/route.ts
  packages/router-core/src/index.ts
  packages/router-core/src/link.ts
  packages/router-core/src/route.ts
  packages/router-core/src/routeInfo.ts
  packages/router-core/src/typePrimitives.ts
  packages/router-core/src/validators.ts
Labels: package: react-router, package: router-core

docs(start): update the list to the router examples
  docs/start/framework/react/quick-start.md
Labels: documentation

feat(router): add state params display in devtools panel
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
Labels: package: router-devtools-core

feat(router): implement useHistoryState hook for custom state management
  packages/react-router/src/useHistoryState.tsx
Labels: package: react-router

feat(router): add UseHistoryState types for enhanced state management
  packages/router-core/src/useHistoryState.ts
Labels: package: router-core

fix: bump babel-dead-code-elimination
  packages/directive-functions-plugin/package.json
  packages/react-start-plugin/package.json
  packages/router-plugin/package.json
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/random-number@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/random-number@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/development/random-number@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/production/random-number@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/random-number@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/random-number@component---loader---notFoundComponent---pendingComponent.tsx
  pnpm-lock.yaml
Labels: package: directive-functions-plugin, package: react-start-plugin, package: router-plugin

fix: bump babel-dead-code-elimination (#3881)
  packages/directive-functions-plugin/package.json
  packages/react-start-plugin/package.json
  packages/router-plugin/package.json
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/random-number@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/random-number@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/development/random-number@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/production/random-number@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/random-number@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/random-number@component---loader---notFoundComponent---pendingComponent.tsx
  pnpm-lock.yaml
Labels: package: directive-functions-plugin, package: react-start-plugin, package: router-plugin

feat: improve validator types
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

chore: fix users example
  examples/react/start-basic/src/routes/users.tsx
Labels: none

sync validation in solid/start-basic example
  examples/solid/start-basic/src/routes/users.tsx
Labels: none

feat: allow merging of validators from parents to children
  packages/start-client-core/src/createMiddleware.ts
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/createServerMiddleware.test-d.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

docs(router): simplify route variable naming in search params guide
  docs/router/framework/react/guide/search-params.md
Labels: documentation
