Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

fix default config for solid-start
  e2e/solid-start/basic/app/routeTree.gen.ts
  packages/solid-start-config/src/index.ts
Labels: none

rebase
  packages/solid-start-config/src/index.ts
  packages/solid-start-config/src/schema.ts
Labels: none

fix solid-start-config
  packages/solid-start-config/src/index.ts
Labels: none

fix malforemd html error
  examples/solid/start-bare/app/routes/__root.tsx
Labels: none

improve solid-start/basic e2e
  e2e/solid-start/basic/app/components/UserErrorComponent.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/index.tsx
  e2e/solid-start/basic/app/routes/stream.tsx
  e2e/solid-start/basic/app/routes/users.$userId.tsx
Labels: none

class
  e2e/solid-start/basic/app/components/CustomMessage.tsx
  e2e/solid-start/basic/app/components/DefaultCatchBoundary.tsx
  e2e/solid-start/basic/app/components/NotFound.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
  e2e/solid-start/basic/app/routes/_layout.tsx
  e2e/solid-start/basic/app/routes/_layout/_layout-2.tsx
  e2e/solid-start/basic/app/routes/deferred.tsx
  e2e/solid-start/basic/app/routes/index.tsx
  e2e/solid-start/basic/app/routes/links.tsx
  e2e/solid-start/basic/app/routes/not-found/index.tsx
  e2e/solid-start/basic/app/routes/posts.$postId.tsx
  e2e/solid-start/basic/app/routes/posts.tsx
  e2e/solid-start/basic/app/routes/posts_.$postId.deep.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/index.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/serverFn/index.tsx
  e2e/solid-start/basic/app/routes/redirect/index.tsx
  e2e/solid-start/basic/app/routes/scripts.tsx
  e2e/solid-start/basic/app/routes/stream.tsx
  e2e/solid-start/basic/app/routes/users.$userId.tsx
  e2e/solid-start/basic/app/routes/users.tsx
  e2e/solid-start/basic/tsconfig.json
Labels: none

fix tailwind
  e2e/solid-start/basic/app/routes/posts.tsx
  examples/solid/start-bare/app/routes/__root.tsx
  examples/solid/start-bare/package.json
  examples/solid/start-bare/tailwind.config.mjs
Labels: none

disable react-refresh for solid
  packages/react-start-router-manifest/src/index.ts
Labels: package: react-start-router-manifest

add vite-plugin-solid
  packages/solid-start-config/src/index.ts
Labels: none

revert change react-refresh
  packages/router-plugin/src/core/router-code-splitter-plugin.ts
Labels: package: router-plugin

add separate solid-start-router-manifest
  packages/solid-start-router-manifest/README.md
  packages/solid-start-router-manifest/eslint.config.js
  packages/solid-start-router-manifest/package.json
  packages/solid-start-router-manifest/src/index.ts
  packages/solid-start-router-manifest/tsconfig.json
  packages/solid-start-router-manifest/vite.config.ts
  packages/solid-start/package.json
  packages/solid-start/src/router-manifest.tsx
  packages/solid-start/vite.config.ts
  pnpm-lock.yaml
Labels: none

revert change
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

use prev from setCount
  e2e/solid-start/basic/app/routes/deferred.tsx
Labels: none

use simple error component
  e2e/solid-start/basic/app/routes/__root.tsx
Labels: none

working hydration
  examples/solid/start-bare/app/client.tsx
  examples/solid/start-bare/app/routes/__root.tsx
  packages/react-start-plugin/src/index.ts
  packages/react-start-router-manifest/src/index.ts
  packages/router-plugin/src/core/router-code-splitter-plugin.ts
Labels: package: react-start-plugin, package: react-start-router-manifest, package: router-plugin

revert change
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

Fix api routes
  packages/solid-start-config/src/index.ts
Labels: none

Fix streaming and hydration
  e2e/solid-start/basic/app/client.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
Labels: none

cleanup e2e/solid-start/basic
  e2e/solid-start/basic/app/client.tsx
  e2e/solid-start/basic/app/components/PostErrorComponent.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
  e2e/solid-start/basic/app/routes/posts.$postId.tsx
  e2e/solid-start/basic/app/routes/posts_.$postId.deep.tsx
Labels: none

lock
  pnpm-lock.yaml
Labels: none

import solid-start-plugin
  packages/solid-start-config/src/index.ts
Labels: none

remove 3s timeout from redirect test
  e2e/solid-start/basic/tests/redirect.spec.ts
Labels: none

fix: correctly render and hydrate app shell
  e2e/solid-start/basic/app/client.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
  packages/solid-router/src/HeadContent.tsx
  packages/solid-start-client/src/StartClient.tsx
  packages/solid-start-server/src/StartServer.tsx
  packages/solid-start-server/src/defaultRenderHandler.tsx
  packages/solid-start-server/src/defaultStreamHandler.tsx
  packages/solid-start-server/src/transformStreamWithRouter.ts
  packages/solid-start-server/vite.config.ts
Labels: package: solid-router

add publish
  scripts/publish.js
Labels: none

add timeout for redirect tests
  e2e/solid-start/basic/tests/redirect.spec.ts
Labels: none

lockfile
  pnpm-lock.yaml
Labels: none

release: v1.111.13
  examples/solid/basic-file-based/package.json
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query/package.json
  examples/solid/kitchen-sink-file-based/package.json
  examples/solid/quickstart-file-based/package.json
  packages/solid-router/package.json
  pnpm-lock.yaml
Labels: package: solid-router

lint
  packages/solid-router/src/link.tsx
Labels: package: solid-router

lint
  packages/solid-start-client/src/renderRSC.tsx
  packages/solid-start-router-manifest/src/index.ts
  packages/solid-start-server/src/ssr-server.ts
Labels: none

fix(solid-router): remove delete linkProps.disabled
  packages/solid-router/src/link.tsx
Labels: package: solid-router

generalize response
  e2e/react-start/server-functions/app/routes/consistent.tsx
  e2e/react-start/server-functions/app/routes/raw-response.tsx
  packages/react-start-client/src/createMiddleware.ts
  packages/react-start-client/src/createServerFn.ts
  packages/react-start-client/src/tests/createServerFn.test-d.tsx
Labels: package: react-start-client

restrict raw response
  packages/react-start-client/src/createServerFn.ts
  packages/react-start-client/src/tests/createServerFn.test-d.tsx
Labels: package: react-start-client

remove `Response` from Serializable
  packages/router-core/src/serializer.ts
Labels: package: router-core

chore(root): bump tinyglobby to `0.2.12`
  package.json
  pnpm-lock.yaml
Labels: none

chore(root): bump tinyglobby to `0.2.12` (#3596)
  package.json
  pnpm-lock.yaml
Labels: none

fix(solid-router): remove delete linkProps.disabled (#3592)
  packages/solid-router/src/link.tsx
Labels: package: solid-router

release: v1.111.14
  examples/solid/basic-file-based/package.json
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query/package.json
  examples/solid/kitchen-sink-file-based/package.json
  examples/solid/quickstart-file-based/package.json
  packages/solid-router/package.json
  pnpm-lock.yaml
Labels: package: solid-router

fix(react-start-client): execute `head` and `scripts` after custom hydration
  packages/react-start-client/src/ssr-client.tsx
Labels: package: react-start-client

fix(react-start-client): execute `head` and `scripts` after custom hydration (#3594)
  packages/react-start-client/src/ssr-client.tsx
Labels: package: react-start-client

release: v1.111.15
  examples/react/basic-ssr-file-based/package.json
  examples/react/basic-ssr-streaming-file-based/package.json
  examples/react/start-bare/package.json
  examples/react/start-basic-auth/package.json
  examples/react/start-basic-react-query/package.json
  examples/react/start-basic-rsc/package.json
  examples/react/start-basic-static/package.json
  examples/react/start-basic/package.json
  examples/react/start-clerk-basic/package.json
  examples/react/start-convex-trellaux/package.json
  examples/react/start-counter/package.json
  examples/react/start-large/package.json
  examples/react/start-supabase-basic/package.json
  examples/react/start-trellaux/package.json
  examples/react/with-trpc-react-query/package.json
  examples/react/with-trpc/package.json
  packages/create-start/package.json
  packages/react-start-api-routes/package.json
  packages/react-start-client/package.json
  packages/react-start-config/package.json
  packages/react-start-server-functions-client/package.json
  packages/react-start-server-functions-fetcher/package.json
  packages/react-start-server-functions-handler/package.json
  packages/react-start-server-functions-ssr/package.json
  packages/react-start-server/package.json
  packages/react-start/package.json
  packages/start-config/package.json
  packages/start/package.json
Labels: package: create-start, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: start, package: start-config

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-handler':
  - 'packages/react-start-server-functions-handler/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'
