Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

refactor(router): update useHistoryState.ts types for improved state resolution
  packages/router-core/src/useHistoryState.ts
Labels: package: router-core

refactor(router): replace useRouterState with useLocation in useHistoryState
  packages/react-router/src/useHistoryState.tsx
Labels: package: react-router

remove dead links from start-basic example
  examples/solid/start-basic/src/routes/__root.tsx
Labels: none

chore(solid examples): update query
  e2e/solid-router/basic-solid-query-file-based/package.json
  e2e/solid-router/basic-solid-query-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-solid-query-file-based/src/routes/posts.$postId.tsx
  e2e/solid-router/basic-solid-query-file-based/src/routes/posts.tsx
  e2e/solid-router/basic-solid-query/package.json
  e2e/solid-router/basic-solid-query/src/main.tsx
  e2e/solid-router/basic-solid-query/src/posts.lazy.tsx
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query-file-based/src/routes/posts.$postId.tsx
  examples/solid/basic-solid-query-file-based/src/routes/posts.tsx
  examples/solid/basic-solid-query/package.json
  examples/solid/basic-solid-query/src/main.tsx
  examples/solid/basic-solid-query/src/posts.lazy.tsx
  examples/solid/start-basic/src/routes/__root.tsx
  pnpm-lock.yaml
Labels: none

chore(examples): Update solid query examples (#3956)
  e2e/solid-router/basic-solid-query-file-based/package.json
  e2e/solid-router/basic-solid-query-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-solid-query-file-based/src/routes/posts.$postId.tsx
  e2e/solid-router/basic-solid-query-file-based/src/routes/posts.tsx
  e2e/solid-router/basic-solid-query/package.json
  e2e/solid-router/basic-solid-query/src/main.tsx
  e2e/solid-router/basic-solid-query/src/posts.lazy.tsx
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query-file-based/src/routes/posts.$postId.tsx
  examples/solid/basic-solid-query-file-based/src/routes/posts.tsx
  examples/solid/basic-solid-query/package.json
  examples/solid/basic-solid-query/src/main.tsx
  examples/solid/basic-solid-query/src/posts.lazy.tsx
  examples/solid/start-basic/src/routes/__root.tsx
  pnpm-lock.yaml
Labels: none

fix(react-router): fix issue with scroll restoration (#3918)
  packages/react-router/src/Match.tsx
Labels: package: react-router

docs: devtools installation
  docs/router/framework/react/devtools.md
Labels: documentation

docs: devtools installation (#3961)
  docs/router/framework/react/devtools.md
Labels: documentation

chore: adjust code styles; lint
  packages/angular-router/package.json
  packages/angular-router/src/can-go-back.ts
  packages/angular-router/src/default-error.ts
  packages/angular-router/src/default-not-found.ts
  packages/angular-router/src/distinct-until-ref-changed.ts
  packages/angular-router/src/file-route.ts
  packages/angular-router/src/index.ts
  packages/angular-router/src/is-dev-mode.ts
  packages/angular-router/src/link.ts
  packages/angular-router/src/loader-data.ts
  packages/angular-router/src/loader-deps.ts
  packages/angular-router/src/location.ts
  packages/angular-router/src/match-route.ts
  packages/angular-router/src/match.ts
  packages/angular-router/src/matches.ts
  packages/angular-router/src/outlet.ts
  packages/angular-router/src/params.ts
  packages/angular-router/src/route-context.ts
  packages/angular-router/src/route.ts
  packages/angular-router/src/router-devtools.ts
  packages/angular-router/src/router-root.ts
  packages/angular-router/src/router-state.ts
  packages/angular-router/src/router.ts
  packages/angular-router/src/search.ts
  packages/angular-router/src/transitioner.ts
Labels: none

chore: fix package exports paths
  packages/angular-router/package.json
  packages/angular-router/vite.config.ts
Labels: none

chore: use ng-packagr for the build
  packages/angular-router/ng-package.json
  packages/angular-router/package.json
  packages/angular-router/tsconfig.build.json
  packages/angular-router/vite.config.ts
  pnpm-lock.yaml
Labels: none

chore: adjust example with latest angular router impl
  .gitignore
  examples/angular/basic/angular.json
  examples/angular/basic/package.json
  examples/angular/basic/project.json
  examples/angular/basic/src/app/app.config.ts
  examples/angular/basic/src/app/app.routes.ts
  examples/angular/basic/src/app/app.ts
  examples/angular/basic/src/app/home/index.ts
  examples/angular/basic/src/app/not-found.ts
  examples/angular/basic/src/app/pathless/a-layout.ts
  examples/angular/basic/src/app/pathless/a.ts
  examples/angular/basic/src/app/pathless/b.ts
  examples/angular/basic/src/app/pathless/nested.ts
  examples/angular/basic/src/app/posts/index.ts
  examples/angular/basic/src/app/posts/post.ts
  examples/angular/basic/src/app/posts/posts.lazy.ts
  examples/angular/basic/src/app/root.ts
  examples/angular/basic/src/main.ts
  examples/angular/basic/tsconfig.json
  packages/angular-router/vite.config.ts
  pnpm-lock.yaml
Labels: none

chore: make sure angular examples work
  examples/angular/basic/package.json
  examples/angular/basic/project.json
  examples/angular/basic/src/app/app.routes.ts
  examples/angular/basic/src/app/root.ts
  package.json
  packages/angular-router/ng-package.json
  patches/@angular__build.patch
  pnpm-lock.yaml
Labels: none

fix: type issue
  packages/angular-router/src/link.ts
  packages/angular-router/src/outlet.ts
  packages/angular-router/src/router-state.ts
  packages/angular-router/src/transitioner.ts
Labels: none

feat: separate angular devtools
  examples/angular/basic/package.json
  examples/angular/basic/src/app/root.ts
  packages/angular-router-devtools/README.md
  packages/angular-router-devtools/ng-package.json
  packages/angular-router-devtools/package.json
  packages/angular-router-devtools/src/index.ts
  packages/angular-router-devtools/src/router-devtools.ts
  packages/angular-router-devtools/tests/index.spec.ts
  packages/angular-router-devtools/tests/setup-tests.ts
  packages/angular-router-devtools/tsconfig.build.json
  packages/angular-router-devtools/tsconfig.json
  packages/angular-router-devtools/tsconfig.lib.json
  packages/angular-router-devtools/tsconfig.lib.prod.json
  packages/angular-router-devtools/tsconfig.spec.json
  packages/angular-router-devtools/vite.config.ts
  packages/angular-router/src/index.ts
  pnpm-lock.yaml
Labels: none

add useHistoryState basic example
  examples/react/basic-history-state/.gitignore
  examples/react/basic-history-state/.vscode/settings.json
  examples/react/basic-history-state/README.md
  examples/react/basic-history-state/index.html
  examples/react/basic-history-state/package.json
  examples/react/basic-history-state/postcss.config.mjs
  examples/react/basic-history-state/src/main.tsx
  examples/react/basic-history-state/src/posts.lazy.tsx
  examples/react/basic-history-state/src/posts.ts
  examples/react/basic-history-state/src/styles.css
  examples/react/basic-history-state/tailwind.config.mjs
  examples/react/basic-history-state/tsconfig.dev.json
  examples/react/basic-history-state/tsconfig.json
  examples/react/basic-history-state/vite.config.js
Labels: none

initial commit of start-workos-basic example
  examples/react/start-workos-basic/.env.example
  examples/react/start-workos-basic/app.config.ts
  examples/react/start-workos-basic/app/api.ts
  examples/react/start-workos-basic/app/authkit/serverFunctions.ts
  examples/react/start-workos-basic/app/authkit/ssr/config.ts
  examples/react/start-workos-basic/app/authkit/ssr/interfaces.ts
  examples/react/start-workos-basic/app/authkit/ssr/session.ts
  examples/react/start-workos-basic/app/authkit/ssr/types.ts
  examples/react/start-workos-basic/app/authkit/ssr/utils.ts
  examples/react/start-workos-basic/app/authkit/ssr/workos.ts
  examples/react/start-workos-basic/app/client.tsx
  examples/react/start-workos-basic/app/components/footer.tsx
  examples/react/start-workos-basic/app/components/sign-in-button.tsx
  examples/react/start-workos-basic/app/routeTree.gen.ts
  examples/react/start-workos-basic/app/router.tsx
  examples/react/start-workos-basic/app/routes/__root.tsx
  examples/react/start-workos-basic/app/routes/_authenticated.tsx
  examples/react/start-workos-basic/app/routes/_authenticated/account.tsx
  examples/react/start-workos-basic/app/routes/api/auth/callback.tsx
  examples/react/start-workos-basic/app/routes/index.tsx
  examples/react/start-workos-basic/app/routes/logout.tsx
  examples/react/start-workos-basic/app/ssr.tsx
  examples/react/start-workos-basic/package.json
  examples/react/start-workos-basic/prettier.config.js
  examples/react/start-workos-basic/tsconfig.json
  pnpm-lock.yaml
Labels: none

add README
  examples/react/start-workos-basic/README.md
Labels: none

rename to start-workos
  examples/react/start-workos/.env.example
  examples/react/start-workos/README.md
  examples/react/start-workos/app.config.ts
  examples/react/start-workos/app/api.ts
  examples/react/start-workos/app/authkit/serverFunctions.ts
  examples/react/start-workos/app/authkit/ssr/config.ts
  examples/react/start-workos/app/authkit/ssr/interfaces.ts
  examples/react/start-workos/app/authkit/ssr/session.ts
  examples/react/start-workos/app/authkit/ssr/types.ts
  examples/react/start-workos/app/authkit/ssr/utils.ts
  examples/react/start-workos/app/authkit/ssr/workos.ts
  examples/react/start-workos/app/client.tsx
  examples/react/start-workos/app/components/footer.tsx
  examples/react/start-workos/app/components/sign-in-button.tsx
  examples/react/start-workos/app/routeTree.gen.ts
  examples/react/start-workos/app/router.tsx
  examples/react/start-workos/app/routes/__root.tsx
  examples/react/start-workos/app/routes/_authenticated.tsx
  examples/react/start-workos/app/routes/_authenticated/account.tsx
  examples/react/start-workos/app/routes/api/auth/callback.tsx
  examples/react/start-workos/app/routes/index.tsx
  examples/react/start-workos/app/routes/logout.tsx
  examples/react/start-workos/app/ssr.tsx
  examples/react/start-workos/package.json
  examples/react/start-workos/prettier.config.js
  examples/react/start-workos/tsconfig.json
  pnpm-lock.yaml
Labels: none

update quick-start with link
  docs/start/framework/react/quick-start.md
Labels: documentation

add WorkOS example to config
  docs/start/config.json
Labels: documentation

add react router devtools to example
  examples/react/start-workos/app/routes/__root.tsx
  examples/react/start-workos/package.json
  pnpm-lock.yaml
Labels: none

match linting style
  examples/react/start-workos/app/authkit/serverFunctions.ts
  examples/react/start-workos/app/authkit/ssr/config.ts
  examples/react/start-workos/app/authkit/ssr/interfaces.ts
  examples/react/start-workos/app/authkit/ssr/session.ts
  examples/react/start-workos/app/authkit/ssr/types.ts
  examples/react/start-workos/app/client.tsx
  examples/react/start-workos/app/components/sign-in-button.tsx
  examples/react/start-workos/app/routes/api/auth/callback.tsx
  examples/react/start-workos/app/routes/index.tsx
Labels: none

feat(examples): add basic-history-state example dependencies
  pnpm-lock.yaml
Labels: none

pin all dependencies
  examples/react/start-workos/package.json
  pnpm-lock.yaml
Labels: none

fix: formatting
  docs/start/config.json
  examples/react/start-workos/app/routeTree.gen.ts
Labels: documentation

test: wip
  package.json
  packages/angular-router/package.json
  packages/angular-router/src/distinct-until-ref-changed.ts
  packages/angular-router/src/link.ts
  packages/angular-router/src/match.ts
  packages/angular-router/src/matches.ts
  packages/angular-router/src/outlet.ts
  packages/angular-router/src/transitioner.ts
  packages/angular-router/tests/lazy/heavy.ts
  packages/angular-router/tests/lazy/mockHeavyDependenciesRoute.ts
  packages/angular-router/tests/lazy/normal-file-route.ts
  packages/angular-router/tests/lazy/normal-route.ts
  packages/angular-router/tests/lazy/normal.ts
  packages/angular-router/tests/matches.spec.ts
  packages/angular-router/tests/router.spec.ts
  packages/angular-router/tests/setup-tests.ts
  packages/angular-router/tests/utils.ts
  packages/angular-router/tsconfig.spec.json
  packages/angular-router/vite.config.ts
  pnpm-lock.yaml
Labels: none

fixes
  examples/react/start-workos/package.json
  packages/server-functions-plugin/package.json
  pnpm-lock.yaml
Labels: package: server-functions-plugin

unpin deps and try again
  examples/react/start-basic/src/routeTree.gen.ts
  examples/react/start-workos/package.json
  packages/server-functions-plugin/package.json
  pnpm-lock.yaml
Labels: package: server-functions-plugin

fix: constrain validators to not infer `any` for input
  packages/start-client-core/src/createServerFn.ts
Labels: none

chore: add type tests
  packages/start-client-core/src/tests/createServerFn.test-d.ts
  packages/start-client-core/src/tests/createServerMiddleware.test-d.ts
Labels: none

feat: Add ClientOnly as an component and export
  packages/react-router/src/ClientOnly.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/lazyRouteComponent.tsx
  packages/react-router/tests/ClientOnly.test.tsx
Labels: package: react-router

fix: bad type due to change
  packages/react-router/src/lazyRouteComponent.tsx
Labels: package: react-router

docs: Add in docs
  docs/router/framework/react/api/router/ClientOnly.md
Labels: documentation

docs: fix docs and match existing
  docs/router/framework/react/api/router/clientOnlyComponent.md
Labels: documentation

chore: run prettier
  docs/router/framework/react/api/router/clientOnlyComponent.md
  packages/react-router/src/ClientOnly.tsx
  packages/react-router/src/lazyRouteComponent.tsx
  packages/react-router/tests/ClientOnly.test.tsx
Labels: package: react-router, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'
