Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-cross-context, package: react-router, package: react-router-with-query, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-api-routes, package: start-client, package: start-config, package: start-plugin, package: start-router-manifest, package: start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-server, package: start-server-functions-ssr, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-cross-context':
  - 'packages/react-cross-context/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: start-client':
  - 'packages/start-client/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-plugin':
  - 'packages/start-plugin/**/*'
'package: start-router-manifest':
  - 'packages/start-router-manifest/**/*'
'package: start-server':
  - 'packages/start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

docs(solid-router): add getting-started pages (#3481)
  docs/router/config.json
  docs/router/framework/solid/installation.md
  docs/router/framework/solid/overview.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

update header image for solid
  media/header.png
Labels: none

chore: update 404 route docs for file-based routing (#3506)
  docs/router/framework/react/guide/creating-a-router.md
Labels: documentation

docs(router): centralize installation
  docs/router/framework/react/installation.md
  docs/router/framework/solid/installation.md
Labels: documentation

docs(router): centralize overview
  docs/router/framework/react/overview.md
  docs/router/framework/solid/overview.md
Labels: documentation

docs(router): decisions on dx
  docs/router/config.json
  docs/router/framework/solid/decisions-on-dx.md
Labels: documentation

docs(router): fix rogue replacements
  docs/router/framework/solid/installation.md
  docs/router/framework/solid/overview.md
Labels: documentation

docs(router): more reduction in overview
  docs/router/framework/react/overview.md
  docs/router/framework/solid/overview.md
Labels: documentation

docs(router): callout about the devtools
  docs/router/config.json
  docs/router/framework/solid/devtools.md
Labels: documentation

docs(router): backfilling "route-trees" and "routing-concepts"
  docs/router/config.json
  docs/router/framework/solid/guide/route-trees.md
  docs/router/framework/solid/guide/routing-concepts.md
  docs/router/guide/route-trees.md
  docs/router/guide/routing-concepts.md
Labels: documentation

patch(start-api-routes): use router-core
  packages/start-api-routes/package.json
  packages/start-api-routes/src/index.ts
  pnpm-lock.yaml
Labels: package: start-api-routes

remove dependency
  packages/start-api-routes/vite.config.ts
Labels: package: start-api-routes

docs(router): moving more guides over
  docs/router/config.json
  docs/router/framework/react/guide/file-based-routing.md
  docs/router/framework/react/guide/virtual-file-routes.md
  docs/router/framework/solid/guide/code-based-routing.md
  docs/router/framework/solid/guide/code-splitting.md
  docs/router/framework/solid/guide/file-based-routing.md
  docs/router/framework/solid/guide/route-trees.md
  docs/router/framework/solid/guide/virtual-file-routes.md
  docs/router/guide/code-based-routing.md
  docs/router/guide/code-splitting.md
  docs/router/guide/file-based-routing.md
  docs/router/guide/virtual-file-routes.md
Labels: documentation

agnostic-start-router-manifest
  packages/start-router-manifest/package.json
  packages/start-router-manifest/src/index.ts
  packages/start-router-manifest/vite.config.ts
  pnpm-lock.yaml
Labels: package: start-router-manifest

agnostic start-server-functions-ssr
  packages/start-server-functions-ssr/package.json
  packages/start-server-functions-ssr/src/index.ts
  packages/start-server-functions-ssr/vite.config.ts
  pnpm-lock.yaml
Labels: package: start-server-functions-ssr

file .ts
  packages/start-server-functions-ssr/vite.config.ts
Labels: package: start-server-functions-ssr

patch(start-server-functions-server): make agnostic
  packages/start-server-functions-server/package.json
  packages/start-server-functions-server/src/index.ts
  packages/start-server-functions-server/vite.config.ts
Labels: package: start-server-functions-server

fix lockfile
  pnpm-lock.yaml
Labels: none

docs(router): move more guides over
  docs/router/config.json
  docs/router/framework/react/guide/outlets.md
  docs/router/framework/solid/guide/creating-a-router.md
  docs/router/framework/solid/guide/history-types.md
  docs/router/framework/solid/guide/outlets.md
  docs/router/framework/solid/guide/preloading.md
  docs/router/framework/solid/guide/route-matching.md
  docs/router/framework/solid/guide/router-context.md
  docs/router/guide/creating-a-router.md
  docs/router/guide/history-types.md
  docs/router/guide/outlets.md
  docs/router/guide/preloading.md
  docs/router/guide/route-matching.md
  docs/router/guide/router-context.md
Labels: documentation

docs(router): fix broken ref
  docs/router/config.json
Labels: documentation

Add solid-cross-context package
  packages/solid-cross-context/eslint.config.js
  packages/solid-cross-context/package.json
  packages/solid-cross-context/src/Context.ts
  packages/solid-cross-context/src/index.ts
  packages/solid-cross-context/tsconfig.json
  packages/solid-cross-context/vite.config.ts
  pnpm-lock.yaml
  scripts/publish.js
Labels: none

fix directory
  packages/solid-cross-context/package.json
Labels: none

fix vite config
  packages/solid-cross-context/vite.config.ts
Labels: none

docs(router): more checkpoint
  docs/router/config.json
  docs/router/framework/react/guide/custom-link.md
  docs/router/framework/solid/guide/custom-link.md
  docs/router/framework/solid/guide/link-options.md
  docs/router/framework/solid/guide/navigation.md
  docs/router/framework/solid/guide/path-params.md
  docs/router/framework/solid/guide/search-params.md
  docs/router/guide/custom-link.md
  docs/router/guide/link-options.md
  docs/router/guide/navigation.md
  docs/router/guide/path-params.md
  docs/router/guide/search-params.md
Labels: documentation

doc(router): more
  docs/router/config.json
  docs/router/framework/react/guide/deferred-data-loading.md
  docs/router/framework/react/guide/external-data-loading.md
  docs/router/framework/solid/guide/data-loading.md
  docs/router/framework/solid/guide/data-mutations.md
  docs/router/framework/solid/guide/deferred-data-loading.md
  docs/router/framework/solid/guide/external-data-loading.md
  docs/router/guide/data-loading.md
  docs/router/guide/data-mutations.md
  docs/router/guide/deferred-data-loading.md
  docs/router/guide/external-data-loading.md
Labels: documentation

docs(router): type stuff
  docs/router/config.json
  docs/router/framework/react/guide/type-utilities.md
  docs/router/framework/solid/guide/type-safety.md
  docs/router/framework/solid/guide/type-utilities.md
  docs/router/guide/type-safety.md
  docs/router/guide/type-utilities.md
Labels: documentation

docs(router): add custom link impl
  docs/router/framework/solid/guide/custom-link.md
Labels: documentation

docs(router): add `Solid.JSX.Element`
  docs/router/framework/solid/guide/type-utilities.md
  docs/router/guide/type-utilities.md
Labels: documentation

docs(router): completed till router-context
  docs/router/config.json
  docs/router/framework/solid/guide/custom-search-param-serialization.md
  docs/router/framework/solid/guide/document-head-management.md
  docs/router/framework/solid/guide/navigation-blocking.md
  docs/router/framework/solid/guide/route-masking.md
  docs/router/guide/custom-search-param-serialization.md
  docs/router/guide/document-head-management.md
  docs/router/guide/navigation-blocking.md
  docs/router/guide/route-masking.md
Labels: documentation

docs(router): apply suggestions
  docs/router/framework/solid/guide/path-params.md
  docs/router/framework/solid/guide/type-utilities.md
  docs/router/guide/type-utilities.md
Labels: documentation

docs(router): markers for Solid porting requirements
  docs/router/framework/solid/guide/navigation-blocking.md
  docs/router/guide/navigation-blocking.md
Labels: documentation

external rollupOption
  packages/solid-cross-context/vite.config.ts
Labels: none

docs(router): port over remaining
  docs/router/config.json
  docs/router/framework/solid/guide/authenticated-routes.md
  docs/router/framework/solid/guide/not-found-errors.md
  docs/router/framework/solid/guide/scroll-restoration.md
  docs/router/framework/solid/guide/static-route-data.md
  docs/router/guide/authenticated-routes.md
  docs/router/guide/not-found-errors.md
  docs/router/guide/scroll-restoration.md
  docs/router/guide/static-route-data.md
Labels: documentation

docs(router): solid createSignal on navigation-blocking
  docs/router/framework/solid/guide/navigation-blocking.md
Labels: documentation

refactor(start-server-functions-server): make agnostic (#3514)
  packages/start-server-functions-server/package.json
  packages/start-server-functions-server/src/index.ts
  packages/start-server-functions-server/vite.config.ts
  pnpm-lock.yaml
Labels: package: start-server-functions-server

docs(router): scroll restoration patch
  docs/router/framework/solid/guide/scroll-restoration.md
Labels: documentation

release: v1.110.1
  examples/react/basic-ssr-file-based/package.json
  examples/react/basic-ssr-streaming-file-based/package.json
  examples/react/start-basic-auth/package.json
  examples/react/start-basic-react-query/package.json
  examples/react/start-basic-rsc/package.json
  examples/react/start-basic-static/package.json
  examples/react/start-basic/package.json
  examples/react/start-clerk-basic/package.json
  examples/react/start-convex-trellaux/package.json
  examples/react/start-counter/package.json
  examples/react/start-large/package.json
  examples/react/start-supabase-basic/package.json
  examples/react/start-trellaux/package.json
  examples/react/with-trpc-react-query/package.json
  examples/react/with-trpc/package.json
  packages/create-start/package.json
  packages/start-server-functions-server/package.json
  packages/start/package.json
Labels: package: create-start, package: start, package: start-server-functions-server
