Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: react-start-client, package: react-start-plugin, package: react-start-server, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-plugin, package: solid-start-server, package: start-client-core, package: start-plugin-core, package: start-server-core, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

feat(router): add TStateValidator to FileRouteOptions and BaseRoute
  packages/router-core/src/fileRoute.ts
  packages/router-core/src/route.ts
  packages/router-core/src/router.ts
Labels: package: router-core

fix(router-generator): allow standalone export
  packages/router-generator/src/transform/transform.ts
  packages/router-generator/tests/generator/export-variations/routeTree.snapshot.ts
  packages/router-generator/tests/generator/export-variations/routes/__root.tsx
  packages/router-generator/tests/generator/export-variations/routes/export-separate-from-declaration.tsx
  packages/router-generator/tests/generator/export-variations/routes/export-with-as.tsx
Labels: package: router-generator

fix(router-generator): allow standalone export (#4405)
  packages/router-generator/src/transform/transform.ts
  packages/router-generator/tests/generator/export-variations/routeTree.snapshot.ts
  packages/router-generator/tests/generator/export-variations/routes/__root.tsx
  packages/router-generator/tests/generator/export-variations/routes/export-separate-from-declaration.tsx
  packages/router-generator/tests/generator/export-variations/routes/export-with-as.tsx
Labels: package: router-generator

add fixes to solid
  docs/start/framework/solid/build-from-scratch.md
Labels: documentation

docs(start): use correct import source for `createFileRoute` in build-from-scratch guide (#4399)
  docs/start/framework/react/build-from-scratch.md
  docs/start/framework/solid/build-from-scratch.md
Labels: documentation

update action
  .github/workflows/labeler.yml
Labels: none

decouple the generator
  package.json
  scripts/generate-labeler-config.mjs
  scripts/generateLabelerConfig.mjs
Labels: none

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start-client-core':
  - 'packages/start-client-core/**/*'
'package: start-plugin-core':
  - 'packages/start-plugin-core/**/*'
'package: start-server-core':
  - 'packages/start-server-core/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'
