Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

chore: add additional exports
  packages/react-start-client/src/index.tsx
  packages/solid-start-client/src/index.tsx
Labels: package: react-start-client, package: solid-start-client

fix: add serverFileRoutesById to generator
  packages/router-generator/src/generator.ts
Labels: package: router-generator

roll back scroll restoration flag change
  packages/react-router/src/Match.tsx
Labels: package: react-router

chore(router-core): update headers params to asset context
  packages/react-router/tests/Scripts.test.tsx
  packages/router-core/src/route.ts
  packages/router-core/src/router.ts
Labels: package: react-router, package: router-core

fix(react-router): missing Symbol declaration for HMR in root route
  packages/react-router/src/route.ts
Labels: package: react-router

fix(react-router): missing Symbol declaration for HMR in root route (#3923)
  packages/react-router/src/route.ts
Labels: package: react-router

fix(react,solid): extract CSS for preloading
  packages/react-router/src/HeadContent.tsx
  packages/react-start-plugin/src/routesManifestPlugin.ts
  packages/solid-router/src/HeadContent.tsx
  packages/solid-start-plugin/src/routesManifestPlugin.ts
Labels: package: react-router, package: react-start-plugin, package: solid-router, package: solid-start-plugin

feat(start-plugin-core): remove `.vite` directory from build
  packages/start-plugin-core/src/nitro/build-nitro.ts
Labels: none

chore(root): switch from `fs.rmdir` to `fs.rm`
  scripts/cleanup-empty-packages.mjs
Labels: none

refactor: reuse `rootRouteId`
  packages/react-start-plugin/src/routesManifestPlugin.ts
  packages/router-generator/src/generator.ts
  packages/solid-start-plugin/src/routesManifestPlugin.ts
Labels: package: react-start-plugin, package: router-generator, package: solid-start-plugin

fix(router-plugin): support code-splitting using the new `createFileRoute` syntax
  packages/router-plugin/src/core/code-splitter/compilers.ts
Labels: package: router-plugin

fix(react,start): add CSS urls to `route.assets`
  packages/react-start-plugin/src/routesManifestPlugin.ts
  packages/solid-start-plugin/src/routesManifestPlugin.ts
  packages/start-server-core/src/router-manifest.ts
Labels: package: react-start-plugin, package: solid-start-plugin

refactor(start-server-core): remove unnecessary typing
  packages/start-server-core/src/router-manifest.ts
Labels: none

fix(router-core): Fixed decoding of "+" in search params
  packages/router-core/src/qss.ts
  packages/router-core/tests/qss.test.ts
Labels: package: router-core

refactor: server route types and add get to large example
  examples/react/start-large/src/routes/search/searchPlaceholder.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/route.ts
  packages/router-core/src/utils.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serverRoute.ts
Labels: package: router-core

Update scroll-restoration.md
  docs/router/framework/react/guide/scroll-restoration.md
Labels: documentation

docs: Update scroll-restoration.md (#3934)
  docs/router/framework/react/guide/scroll-restoration.md
Labels: documentation

test(router-generator): check route starting with number
  packages/router-generator/tests/generator/numbers-in-path/routeTree.snapshot.ts
  packages/router-generator/tests/generator/numbers-in-path/routes/01-example/index.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/__root.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/index.tsx
Labels: package: router-generator

test(router-generator): add more test cases to the file naming
  packages/router-generator/tests/generator/numbers-in-path/routeTree.snapshot.ts
  packages/router-generator/tests/generator/numbers-in-path/routes/02.index.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/03.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/about.tsx
Labels: package: router-generator

test(router-generator): check filenames starting with a number (#3935)
  packages/router-generator/tests/generator/numbers-in-path/routeTree.snapshot.ts
  packages/router-generator/tests/generator/numbers-in-path/routes/01-example/index.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/02.index.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/03.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/__root.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/about.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/index.tsx
Labels: package: router-generator

test(router-generator): update snapshots for the numbers in filename test cases
  packages/router-generator/tests/generator/numbers-in-path/routeTree.snapshot.ts
  packages/router-generator/tests/generator/numbers-in-path/routes/01-example/index.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/02.index.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/03.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/about.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/index.tsx
Labels: package: router-generator

Fix: Return query data from loader in Router Context docs
  docs/router/framework/react/guide/router-context.md
Labels: documentation

docs: fix broken example link
  docs/router/framework/react/guide/authenticated-routes.md
Labels: documentation

Update path-params.md
  docs/router/framework/react/guide/path-params.md
Labels: documentation

checkpoint
  examples/react/start-basic/src/routes/users.tsx
  packages/start-client-core/src/serverRoute.ts
Labels: none

Update partners
  README.md
  docs/start/framework/react/authentication.md
  docs/start/framework/react/databases.md
Labels: documentation

docs(router): fix broken link to example in authenticated routes guide (#3937)
  docs/router/framework/react/guide/authenticated-routes.md
Labels: documentation

Make start examples send credentials via POST
  examples/react/start-basic-auth/src/routes/_authed.tsx
  examples/react/start-basic-auth/src/routes/signup.tsx
  examples/react/start-supabase-basic/src/routes/_authed.tsx
  examples/react/start-supabase-basic/src/routes/signup.tsx
Labels: none

chore(router-core): add the license back in
  packages/router-core/src/qss.ts
Labels: package: router-core

docs(router): add a silent callout for using a `URLSearchParams` polyfill
  docs/router/framework/react/guide/search-params.md
Labels: documentation

fix(router-core): search parsing of `+` using `URLSearchParams` (#3894)
  docs/router/framework/react/guide/search-params.md
  packages/router-core/src/qss.ts
  packages/router-core/tests/qss.test.ts
Labels: package: router-core, documentation

chore(examples): use `POST` for auth stuff
  examples/react/start-basic-auth/src/routes/_authed.tsx
  examples/react/start-basic-auth/src/routes/signup.tsx
  examples/react/start-supabase-basic/src/routes/__root.tsx
  examples/react/start-supabase-basic/src/routes/_authed.tsx
  examples/react/start-supabase-basic/src/routes/signup.tsx
Labels: none

chore(examples): do not use `GET` to send credentials (#3945)
  examples/react/start-basic-auth/src/routes/_authed.tsx
  examples/react/start-basic-auth/src/routes/signup.tsx
  examples/react/start-supabase-basic/src/routes/_authed.tsx
  examples/react/start-supabase-basic/src/routes/signup.tsx
Labels: none

chore(examples): change types for input arguments for auth examples (#3946)
  examples/react/start-basic-auth/src/routes/_authed.tsx
  examples/react/start-basic-auth/src/routes/signup.tsx
  examples/react/start-supabase-basic/src/routes/__root.tsx
  examples/react/start-supabase-basic/src/routes/_authed.tsx
  examples/react/start-supabase-basic/src/routes/signup.tsx
Labels: none

feat: RELEASE_ALL
  README.md
Labels: none

refactor(start-client-core): hash the static filenames
  packages/start-client-core/src/createServerFn.ts
Labels: none

chore(start-client-core): remove line-break
  packages/start-client-core/src/createServerFn.ts
Labels: none

chore(start-client-core): more into the comment
  packages/start-client-core/src/createServerFn.ts
Labels: none

refactor(start-client-core): hash the static filenames (#3947)
  packages/start-client-core/src/createServerFn.ts
Labels: none

release: v1.115.1
  examples/react/basic-ssr-file-based/package.json
  examples/react/basic-ssr-streaming-file-based/package.json
  examples/react/start-bare/package.json
  examples/react/start-basic-auth/package.json
  examples/react/start-basic-react-query/package.json
  examples/react/start-basic-rsc/package.json
  examples/react/start-basic-static/package.json
  examples/react/start-basic/package.json
  examples/react/start-clerk-basic/package.json
  examples/react/start-convex-trellaux/package.json
  examples/react/start-counter/package.json
  examples/react/start-large/package.json
  examples/react/start-material-ui/package.json
  examples/react/start-supabase-basic/package.json
  examples/react/start-trellaux/package.json
  examples/react/with-trpc-react-query/package.json
  examples/react/with-trpc/package.json
  examples/solid/start-bare/package.json
  examples/solid/start-basic/package.json
  packages/create-start/package.json
  packages/react-start-client/package.json
  packages/react-start-config/package.json
  packages/react-start-server/package.json
  packages/react-start/package.json
  packages/solid-start-client/package.json
  packages/solid-start-config/package.json
  packages/solid-start-server/package.json
  packages/solid-start/package.json
  packages/start-api-routes/package.json
  packages/start-client-core/package.json
  packages/start-config/package.json
  packages/start-server-core/package.json
  packages/start-server-functions-client/package.json
  packages/start-server-functions-fetcher/package.json
  packages/start-server-functions-handler/package.json
  packages/start-server-functions-ssr/package.json
  packages/start/package.json
Labels: package: create-start, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-server, package: start, package: start-config
