Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-handler':
  - 'packages/react-start-server-functions-handler/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

lock
  pnpm-lock.yaml
Labels: none

Get @solidjs/meta working
  packages/solid-start-client/src/StartClient.tsx
  packages/solid-start-server/package.json
  packages/solid-start-server/src/StartServer.tsx
  pnpm-lock.yaml
Labels: none

fix client navigation head tag updates for solid-router
  e2e/solid-router/basic-file-based/tests/app.spec.ts
Labels: none

skip solid-router nav test
  e2e/solid-router/basic-file-based/tests/app.spec.ts
Labels: none

use solid 1.9.5
  e2e/solid-start/basic/package.json
  e2e/solid-start/scroll-restoration/package.json
  e2e/solid-start/website/package.json
  examples/solid/start-bare/package.json
  packages/solid-start-server-functions-fetcher/package.json
  packages/solid-start-server-functions-handler/package.json
  packages/solid-start-server/package.json
  pnpm-lock.yaml
Labels: none

remove react easlint from solid-start-server
  packages/solid-start-server/eslint.config.js
Labels: none

fix version mismatch
  e2e/solid-start/server-functions/package.json
  pnpm-lock.yaml
Labels: none

lockfile
  pnpm-lock.yaml
Labels: none

release: v1.112.2
  examples/solid/basic-file-based/package.json
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query/package.json
  examples/solid/kitchen-sink-file-based/package.json
  examples/solid/quickstart-file-based/package.json
  packages/solid-router/package.json
  pnpm-lock.yaml
Labels: package: solid-router

remove --compat from preview release flow
  .github/workflows/pr.yml
Labels: none

fix(solid-start-router-manifest): adjust package name in noExternal
  packages/solid-start-config/src/index.ts
Labels: none

fix(solid-start-config): adjust package name in noExternal (#3619)
  packages/solid-start-config/src/index.ts
Labels: none

Update build-from-scratch.md
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

use solid package
  e2e/solid-start/basic-auth/app/client.tsx
  e2e/solid-start/basic-auth/app/components/Auth.tsx
  e2e/solid-start/basic-auth/app/components/DefaultCatchBoundary.tsx
  e2e/solid-start/basic-auth/app/components/Login.tsx
  e2e/solid-start/basic-auth/app/components/NotFound.tsx
  e2e/solid-start/basic-auth/app/routeTree.gen.ts
  e2e/solid-start/basic-auth/app/router.tsx
  e2e/solid-start/basic-auth/app/routes/__root.tsx
  e2e/solid-start/basic-auth/app/routes/_authed.tsx
  e2e/solid-start/basic-auth/app/routes/_authed/posts.$postId.tsx
  e2e/solid-start/basic-auth/app/routes/_authed/posts.index.tsx
  e2e/solid-start/basic-auth/app/routes/_authed/posts.tsx
  e2e/solid-start/basic-auth/app/routes/index.tsx
  e2e/solid-start/basic-auth/app/routes/login.tsx
  e2e/solid-start/basic-auth/app/routes/logout.tsx
  e2e/solid-start/basic-auth/app/routes/signup.tsx
  e2e/solid-start/basic-auth/app/ssr.tsx
  e2e/solid-start/basic-auth/app/utils/posts.ts
  e2e/solid-start/basic-auth/app/utils/session.ts
Labels: none

work on solid version
  e2e/solid-start/basic-auth/app/client.tsx
  e2e/solid-start/basic-auth/app/components/Auth.tsx
  e2e/solid-start/basic-auth/app/components/DefaultCatchBoundary.tsx
  e2e/solid-start/basic-auth/app/hooks/useMutation.ts
  e2e/solid-start/basic-auth/app/routes/__root.tsx
  e2e/solid-start/basic-auth/app/routes/_authed/posts.$postId.tsx
  e2e/solid-start/basic-auth/app/routes/_authed/posts.tsx
  e2e/solid-start/basic-auth/tsconfig.json
Labels: none

call loginMutation
  e2e/solid-start/basic-auth/app/components/Login.tsx
Labels: none

checkpoint
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/filesystem/virtual/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/types.ts
Labels: package: router-generator

checkpoint
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/types.ts
Labels: package: router-generator

use array methods `every` and `some` for `&&` and `||` operations for `routeType`
  packages/router-generator/src/generator.ts
Labels: package: router-generator

update jsdoc comment for `determineRouteIsPathless`
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
Labels: package: router-generator

another spot to use `Array.every`
  packages/router-generator/src/generator.ts
Labels: package: router-generator

change `routeType` value of `pathless` to `pathless-layout`
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/filesystem/virtual/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/types.ts
Labels: package: router-generator

rename from `routeType` to `_fsRouteType` making this change so that its correctly sectioned off
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/filesystem/virtual/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/types.ts
Labels: package: router-generator

fix existing bug not setting createLazyFileRoute for lazy "pathless layout routes"
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
Labels: package: router-generator

rename `RouteType` to `FsRouteType`
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/types.ts
Labels: package: router-generator

more renaming
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
Labels: package: router-generator

early filtering for api and non-api routes and parity between physical and virtual routes
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/filesystem/virtual/getRouteNodes.ts
  packages/router-generator/src/generator.ts
Labels: package: router-generator

comments as to whats happening during route file changes
  packages/router-generator/src/generator.ts
Labels: package: router-generator

test(e2e): align the test with how server functions are to be used as described by the "build from scratch" guide
  e2e/react-start/basic-tsr-config/package.json
  e2e/react-start/basic-tsr-config/src/app/routes/index.tsx
  e2e/react-start/basic-tsr-config/tests/app.spec.ts
Labels: none

test(react-start): make basic-tsr-config test more strict (#3611)
  e2e/react-start/basic-tsr-config/package.json
  e2e/react-start/basic-tsr-config/src/app/routes/index.tsx
  e2e/react-start/basic-tsr-config/tests/app.spec.ts
Labels: none

docs(start): fix installation script in "build-from-scratch" guide (#3623)
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

Update server-functions.md
  docs/start/framework/react/server-functions.md
Labels: documentation

refactor devtools
  packages/router-devtools/src/AgeTicker.tsx
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/devtools.tsx
  packages/router-devtools/src/index.tsx
  packages/router-devtools/src/useStyles.tsx
  pnpm-lock.yaml
Labels: package: router-devtools

import order
  packages/router-devtools/src/AgeTicker.tsx
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
Labels: package: router-devtools

introduce-router-devtools-core
  packages/router-devtools-core/README.md
  packages/router-devtools-core/eslint.config.js
  packages/router-devtools-core/media/logo.sketch
  packages/router-devtools-core/media/logo.svg
  packages/router-devtools-core/media/repo-dark.png
  packages/router-devtools-core/package.json
  packages/router-devtools-core/src/AgeTicker.tsx
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/Explorer.tsx
  packages/router-devtools-core/src/TanStackRouterDevtools.tsx
  packages/router-devtools-core/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/context.ts
  packages/router-devtools-core/src/index.tsx
  packages/router-devtools-core/src/logo.tsx
  packages/router-devtools-core/src/theme.tsx
  packages/router-devtools-core/src/tokens.ts
  packages/router-devtools-core/src/useLocalStorage.ts
  packages/router-devtools-core/src/useMediaQuery.ts
  packages/router-devtools-core/src/useStyles.tsx
  packages/router-devtools-core/src/utils.ts
  packages/router-devtools-core/tsconfig.json
  packages/router-devtools-core/vite.config.ts
  pnpm-lock.yaml
Labels: none

fix lock
  pnpm-lock.yaml
Labels: none

update to react 19 refactor
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/Explorer.tsx
  packages/router-devtools-core/src/TanStackRouterDevtools.tsx
  packages/router-devtools-core/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/context.ts
  packages/router-devtools-core/src/theme.tsx
  packages/router-devtools-core/src/useStyles.tsx
  packages/router-devtools-core/src/utils.ts
Labels: none

refactor(router-generator): reduce use of `boolean` to identify file-system routes (#3626)
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/filesystem/virtual/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/types.ts
Labels: package: router-generator

export DevtoolsOptions
  packages/router-devtools-core/src/TanStackRouterDevtools.tsx
Labels: none

refactor(router-devtools): have components in separate files like query-devtools (#3629)
  packages/router-devtools/src/AgeTicker.tsx
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/devtools.tsx
  packages/router-devtools/src/index.tsx
  packages/router-devtools/src/useStyles.tsx
Labels: package: router-devtools
