Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

perf: improve ts performance of createFileRoute without path
  packages/react-router/src/index.tsx
  packages/router-core/src/fileRoute.ts
  packages/router-core/src/index.ts
  packages/router-generator/src/generator.ts
Labels: package: react-router, package: router-core, package: router-generator

chore(examples): fix "board update" in `start-convex-trellaux` (#3802)
  examples/react/start-convex-trellaux/convex/board.ts
Labels: none

fix(router-generator): make the type import for pathless `createFileRoute` work for Solid
  packages/router-generator/src/generator.ts
Labels: package: router-generator

remove the TYPES_DISABLED guard for the createFileRoute stuff I mistakenly committed this in with my last commit. So undoing!!!
  packages/router-generator/src/generator.ts
Labels: package: router-generator

refactor: tidy types in generator
  packages/router-core/src/fileRoute.ts
  packages/router-generator/src/generator.ts
Labels: package: router-core, package: router-generator

chore: try types
  examples/react/start-basic/src/routeTree.gen.ts
  examples/react/start-basic/src/routes/_pathlessLayout.tsx
  examples/react/start-basic/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/react/start-basic/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/react/start-basic/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/react/start-basic/src/routes/deferred.tsx
  examples/react/start-basic/src/routes/index.tsx
  examples/react/start-basic/src/routes/posts.$postId.tsx
  examples/react/start-basic/src/routes/posts.index.tsx
  examples/react/start-basic/src/routes/posts.tsx
  examples/react/start-basic/src/routes/posts_.$postId.deep.tsx
  examples/react/start-basic/src/routes/redirect.tsx
  examples/react/start-basic/src/routes/users.$userId.tsx
  examples/react/start-basic/src/routes/users.index.tsx
  examples/react/start-basic/src/routes/users.tsx
  packages/start-client-core/src/serverRoute.ts
Labels: none

chore: add short hand function handler example
  examples/react/start-basic/src/routes/users.$userId.tsx
  packages/start-client-core/src/serverRoute.ts
Labels: none

fix(solid-router): nav flickering and view transitions
  packages/solid-router/src/lazyRouteComponent.tsx
Labels: package: solid-router

fix(solid-router): nav flickering and view transitions (#3813)
  packages/solid-router/src/lazyRouteComponent.tsx
Labels: package: solid-router

release: v1.114.26
  examples/solid/basic-devtools-panel/package.json
  examples/solid/basic-file-based/package.json
  examples/solid/basic-non-nested-devtools/package.json
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query/package.json
  examples/solid/basic/package.json
  examples/solid/kitchen-sink-file-based/package.json
  examples/solid/quickstart-file-based/package.json
  examples/solid/start-bare/package.json
  examples/solid/start-basic/package.json
  packages/solid-router-devtools/package.json
  packages/solid-router/package.json
  pnpm-lock.yaml
Labels: package: solid-router, package: solid-router-devtools

checkpoint
  docs/start/framework/react/middleware.md
  examples/react/start-basic-static/src/utils/loggingMiddleware.tsx
  examples/react/start-basic-static/src/utils/posts.tsx
  examples/react/start-basic/src/routes/users.$userId.tsx
  examples/react/start-basic/src/routes/users.tsx
  examples/react/start-basic/src/utils/loggingMiddleware.tsx
  examples/react/start-basic/src/utils/users.tsx
  examples/react/start-large/src/routes/params/$paramsPlaceholder.tsx
  examples/react/start-large/src/routes/search/searchPlaceholder.tsx
  examples/solid/start-basic/src/utils/loggingMiddleware.tsx
  packages/react-start-client/src/index.tsx
  packages/router-generator/src/generator.ts
  packages/solid-start-client/src/index.tsx
  packages/start-client-core/src/createMiddleware.ts
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/createServerFn.test-d.ts
  packages/start-client-core/src/tests/createServerMiddleware.test-d.ts
Labels: package: react-start-client, package: router-generator, package: solid-start-client, documentation

checkpoint
  docs/start/framework/react/middleware.md
  examples/react/start-basic-static/src/utils/loggingMiddleware.tsx
  examples/react/start-basic-static/src/utils/posts.tsx
  examples/react/start-basic/src/routeTree.gen.ts
  examples/react/start-basic/src/utils/loggingMiddleware.tsx
  examples/react/start-large/src/routes/params/$paramsPlaceholder.tsx
  examples/react/start-large/src/routes/search/searchPlaceholder.tsx
  examples/solid/start-basic/src/utils/loggingMiddleware.tsx
  packages/start-client-core/src/createMiddleware.ts
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/createServerFn.test-d.ts
  packages/start-client-core/src/tests/createServerMiddleware.test-d.ts
Labels: documentation

chore: checkpoint
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

checkpoint
  examples/react/start-basic/src/routes/users.tsx
Labels: none

docs(start): move router configuration note to the top
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

docs(start): move router configuration note to the top (#3819)
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

feat(router): add validateState function for state validation in router
  packages/react-router/src/router.ts
Labels: package: react-router

sync solid ab070e4
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/src/router.ts
Labels: package: solid-router

sync solid 1cae52b
  packages/solid-router/src/index.tsx
Labels: package: solid-router

sync solid/start-basic example
  examples/solid/start-basic/src/components/DefaultCatchBoundary.tsx
  examples/solid/start-basic/src/routeTree.gen.ts
  examples/solid/start-basic/src/routes/_pathlessLayout.tsx
  examples/solid/start-basic/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/solid/start-basic/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/solid/start-basic/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/solid/start-basic/src/routes/api/users.$id.ts
  examples/solid/start-basic/src/routes/api/users.ts
  examples/solid/start-basic/src/routes/deferred.tsx
  examples/solid/start-basic/src/routes/index.tsx
  examples/solid/start-basic/src/routes/posts.$postId.tsx
  examples/solid/start-basic/src/routes/posts.index.tsx
  examples/solid/start-basic/src/routes/posts.tsx
  examples/solid/start-basic/src/routes/posts_.$postId.deep.tsx
  examples/solid/start-basic/src/routes/redirect.tsx
  examples/solid/start-basic/src/routes/users.$userId.tsx
  examples/solid/start-basic/src/routes/users.index.tsx
  examples/solid/start-basic/src/routes/users.tsx
  examples/solid/start-basic/src/utils/users.tsx
  examples/solid/start-basic/vite.config.ts
Labels: none

update solid/start-bare
  examples/solid/start-bare/app.config.ts
  examples/solid/start-bare/package.json
  examples/solid/start-bare/src/client.tsx
  examples/solid/start-bare/src/routeTree.gen.ts
  examples/solid/start-bare/src/routes/about.tsx
  examples/solid/start-bare/src/routes/index.tsx
  examples/solid/start-bare/vite.config.ts
  pnpm-lock.yaml
Labels: none

fix(react-router): missing Symbol declaration for HMR
  packages/react-router/src/route.ts
Labels: package: react-router

fix(react-router): missing `Symbol` declaration for HMR (#3821)
  packages/react-router/src/route.ts
Labels: package: react-router

docs(router): add a FAQ section
  docs/router/config.json
  docs/router/framework/react/faq.md
  docs/router/framework/solid/faq.md
Labels: documentation

docs(react-router,solid-router): add a FAQ section (#3822)
  docs/router/config.json
  docs/router/framework/react/faq.md
  docs/router/framework/solid/faq.md
Labels: documentation

docs(react-router,solid-router): add missing hash to the faq
  docs/router/framework/react/faq.md
Labels: documentation

chore: checkpoint
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

checkpoint
  docs/router/eslint/create-route-property-order.md
  docs/router/framework/react/api/router/createFileRouteFunction.md
  docs/router/framework/react/api/router/retainSearchParamsFunction.md
  docs/router/framework/react/api/router/stripSearchParamsFunction.md
  docs/router/framework/react/decisions-on-dx.md
  docs/router/framework/react/guide/external-data-loading.md
  docs/router/framework/react/guide/router-context.md
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/routing/routing-concepts.md
  docs/start/config.json
  docs/start/framework/react/api-routes.md
  docs/start/framework/react/server-routes.md
  e2e/solid-start/scroll-restoration/src/routes/(tests)/with-loader.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: documentation

docs: fix create-tsrouter-app command
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

refactor: Make (zod|valibot|arktyp)-adapter agnostic
  packages/arktype-adapter/package.json
  packages/arktype-adapter/src/index.ts
  packages/valibot-adapter/package.json
  packages/valibot-adapter/src/index.ts
  packages/zod-adapter/package.json
  packages/zod-adapter/src/index.ts
  pnpm-lock.yaml
Labels: package: arktype-adapter, package: valibot-adapter, package: zod-adapter

checkpoint
  examples/react/start-basic/src/routeTree.gen.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/template.ts
  packages/router-generator/src/types.ts
  packages/start-client-core/src/serverRoute.ts
Labels: package: router-generator

chorepoint
  packages/react-start-client/src/index.tsx
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: package: react-start-client

fix(docs): Update link for the The Router Configuration: Preloading & Caching documentation
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

fix(docs): Update link for the The Router Configuration: Preloading & Caching
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

feat: test adding seroval
  packages/start-client-core/package.json
  packages/start-client-core/src/serializer.ts
  packages/start-client-core/src/seroval.js
  packages/start-server-functions-fetcher/src/index.ts
  packages/start-server-functions-handler/src/index.ts
  pnpm-lock.yaml
Labels: package: start-server-functions-fetcher, package: start-server-functions-handler

generate typemaps for server routes
  packages/router-generator/src/generator.ts
Labels: package: router-generator

checkpoint
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

chore: update example
  examples/react/start-basic/src/routes/users.$userId.tsx
Labels: none

checkpoint
  examples/react/start-basic/src/routeTree.gen.ts
  packages/router-generator/src/generator.ts
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: package: router-generator

fix: param merging
  packages/start-client-core/src/serverRoute.ts
Labels: none

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'
