Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

fix(react-router): ensure resetScroll works with strict mode on (#3659)
  packages/react-router/src/Match.tsx
Labels: package: react-router

refactor(router-core): move redirect to core
  packages/react-router/src/Match.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/redirects.ts
  packages/react-router/src/router.ts
  packages/router-core/src/index.ts
  packages/router-core/src/redirect.ts
  packages/solid-router/src/Match.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/src/redirects.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: router-core, package: solid-router

fix: transform should return null to preserve source maps
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

refactor(router-core): move redirect to core (#3662)
  packages/react-router/src/Match.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/redirects.ts
  packages/react-router/src/router.ts
  packages/router-core/src/index.ts
  packages/router-core/src/redirect.ts
  packages/solid-router/src/Match.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/src/redirects.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: router-core, package: solid-router

Revert "refactor(router-core): move redirect to core (#3662)"
  packages/react-router/src/Match.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/redirects.ts
  packages/react-router/src/router.ts
  packages/router-core/src/index.ts
  packages/router-core/src/redirect.ts
  packages/solid-router/src/Match.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/src/redirects.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: router-core, package: solid-router

Fix CI - Revert "refactor(react-router,solid-router): move redirect to router-core" (#3667)
  packages/react-router/src/Match.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/redirects.ts
  packages/react-router/src/router.ts
  packages/router-core/src/index.ts
  packages/router-core/src/redirect.ts
  packages/solid-router/src/Match.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/src/redirects.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: router-core, package: solid-router

fix: transform should return null to preserve source maps. Fixes #3661 (#3663)
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

release: v1.112.14
  examples/react/basic-ssr-file-based/package.json
  examples/react/basic-ssr-streaming-file-based/package.json
  examples/react/start-bare/package.json
  examples/react/start-basic-auth/package.json
  examples/react/start-basic-react-query/package.json
  examples/react/start-basic-rsc/package.json
  examples/react/start-basic-static/package.json
  examples/react/start-basic/package.json
  examples/react/start-clerk-basic/package.json
  examples/react/start-convex-trellaux/package.json
  examples/react/start-counter/package.json
  examples/react/start-large/package.json
  examples/react/start-supabase-basic/package.json
  examples/react/start-trellaux/package.json
  examples/react/with-trpc-react-query/package.json
  examples/react/with-trpc/package.json
  packages/create-start/package.json
  packages/react-start-config/package.json
  packages/react-start-plugin/package.json
  packages/react-start/package.json
  packages/start-config/package.json
  packages/start/package.json
Labels: package: create-start, package: react-start, package: react-start-config, package: react-start-plugin, package: start, package: start-config

Functional example of firebase client-side auth and protected routes.
  examples/react/authenticated-routes-firebase/.gitignore
  examples/react/authenticated-routes-firebase/.vscode/settings.json
  examples/react/authenticated-routes-firebase/README.md
  examples/react/authenticated-routes-firebase/index.html
  examples/react/authenticated-routes-firebase/package.json
  examples/react/authenticated-routes-firebase/postcss.config.mjs
  examples/react/authenticated-routes-firebase/src/auth.tsx
  examples/react/authenticated-routes-firebase/src/firebase/config.ts
  examples/react/authenticated-routes-firebase/src/main.tsx
  examples/react/authenticated-routes-firebase/src/posts.tsx
  examples/react/authenticated-routes-firebase/src/routeTree.gen.ts
  examples/react/authenticated-routes-firebase/src/routes/__root.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.dashboard.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.invoices.$invoiceId.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.invoices.index.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.invoices.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.tsx
  examples/react/authenticated-routes-firebase/src/routes/index.tsx
  examples/react/authenticated-routes-firebase/src/routes/login.tsx
  examples/react/authenticated-routes-firebase/src/stores/use-auth-store.tsx
  examples/react/authenticated-routes-firebase/src/styles.css
  examples/react/authenticated-routes-firebase/src/utils.ts
  examples/react/authenticated-routes-firebase/tailwind.config.mjs
  examples/react/authenticated-routes-firebase/tsconfig.dev.json
  examples/react/authenticated-routes-firebase/tsconfig.json
  examples/react/authenticated-routes-firebase/vite.config.js
Labels: none

Adding more docs
  examples/react/authenticated-routes-firebase/.env.example
  examples/react/authenticated-routes-firebase/README.md
Labels: none

removed zustand dependency
  examples/react/authenticated-routes-firebase/package.json
  examples/react/authenticated-routes-firebase/src/auth.tsx
  examples/react/authenticated-routes-firebase/src/main.tsx
  examples/react/authenticated-routes-firebase/src/stores/use-auth-store.tsx
Labels: none

Removed mention of zustand as it's no longer needed
  examples/react/authenticated-routes-firebase/src/routes/index.tsx
Labels: none

Add note for verbatimModuleSyntax setting in tsconfig docs
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

fix: use default from in `useNavigate`
  packages/react-router/src/useNavigate.tsx
  packages/react-router/tests/useNavigate.test.tsx
  packages/solid-router/src/useNavigate.tsx
  packages/solid-router/tests/useNavigate.test.tsx
Labels: package: react-router, package: solid-router

docs(start): Add note for verbatimModuleSyntax setting in tsconfig docs (#3670)
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

fix: use default from in `useNavigate` (#3671)
  packages/react-router/src/useNavigate.tsx
  packages/react-router/tests/useNavigate.test.tsx
  packages/solid-router/src/useNavigate.tsx
  packages/solid-router/tests/useNavigate.test.tsx
Labels: package: react-router, package: solid-router

chore: add script to bump typescript version and bump it to 5.8
  package.json
  packages/arktype-adapter/package.json
  packages/directive-functions-plugin/package.json
  packages/eslint-plugin-router/package.json
  packages/history/package.json
  packages/react-router-with-query/package.json
  packages/react-router/package.json
  packages/react-start-api-routes/package.json
  packages/react-start-client/package.json
  packages/react-start-plugin/package.json
  packages/react-start-router-manifest/package.json
  packages/react-start-server-functions-client/package.json
  packages/react-start-server-functions-fetcher/package.json
  packages/react-start-server-functions-handler/package.json
  packages/react-start-server-functions-ssr/package.json
  packages/react-start-server/package.json
  packages/router-cli/package.json
  packages/router-core/package.json
  packages/router-devtools/package.json
  packages/router-generator/package.json
  packages/router-plugin/package.json
  packages/router-utils/package.json
  packages/router-vite-plugin/package.json
  packages/server-functions-plugin/package.json
  packages/solid-router/package.json
  packages/solid-start-api-routes/package.json
  packages/solid-start-client/package.json
  packages/solid-start-plugin/package.json
  packages/solid-start-router-manifest/package.json
  packages/solid-start-server-functions-client/package.json
  packages/solid-start-server-functions-fetcher/package.json
  packages/solid-start-server-functions-handler/package.json
  packages/solid-start-server-functions-ssr/package.json
  packages/solid-start-server/package.json
  packages/start-server-functions-server/package.json
  packages/valibot-adapter/package.json
  packages/zod-adapter/package.json
  pnpm-lock.yaml
  scripts/set-ts-version.js
Labels: package: arktype-adapter, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start-api-routes, package: react-start-client, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start-server-functions-server, package: valibot-adapter, package: zod-adapter

fix: use leaf match as `from` if none supplied for `<Link>`
  packages/react-router/src/link.tsx
  packages/solid-router/src/link.tsx
Labels: package: react-router, package: solid-router

fix: use leaf match as `from` if none supplied for `<Link>` (#3673)
  packages/react-router/src/link.tsx
  packages/solid-router/src/link.tsx
Labels: package: react-router, package: solid-router

fix: rebuild link if matches change
  packages/react-router/src/link.tsx
  packages/solid-router/src/link.tsx
Labels: package: react-router, package: solid-router

fix: rebuild link if matches change (#3674)
  packages/react-router/src/link.tsx
  packages/solid-router/src/link.tsx
Labels: package: react-router, package: solid-router

chore: differentiate package name
  examples/react/authenticated-routes-firebase/package.json
Labels: none

chore: fix lockfile
  pnpm-lock.yaml
Labels: none

chore(examples): fixup the `start-trellaux` example
  examples/react/start-trellaux/app/components/Board.tsx
  examples/react/start-trellaux/app/components/Card.tsx
  examples/react/start-trellaux/app/components/Column.tsx
  examples/react/start-trellaux/app/components/NewCard.tsx
  examples/react/start-trellaux/app/components/NewColumn.tsx
  examples/react/start-trellaux/app/queries.ts
  examples/react/start-trellaux/app/router.tsx
Labels: none

chore(examples): fix up the `start-trellaux` example (#3675)
  examples/react/start-trellaux/app/components/Board.tsx
  examples/react/start-trellaux/app/components/Card.tsx
  examples/react/start-trellaux/app/components/Column.tsx
  examples/react/start-trellaux/app/components/NewCard.tsx
  examples/react/start-trellaux/app/components/NewColumn.tsx
  examples/react/start-trellaux/app/queries.ts
  examples/react/start-trellaux/app/router.tsx
Labels: none

fix: Updated .env to ensure only .env.example is allowed
  examples/react/authenticated-routes-firebase/.gitignore
Labels: none

Fix: Updated .env.example to include instructions for firebase usage
  examples/react/authenticated-routes-firebase/.env.example
Labels: none

fix: Updated router context, removed google and apple providers from login, removed lucide-react package
  examples/react/authenticated-routes-firebase/package.json
  examples/react/authenticated-routes-firebase/src/main.tsx
  examples/react/authenticated-routes-firebase/src/routes/__root.tsx
  examples/react/authenticated-routes-firebase/src/routes/login.tsx
Labels: none

fix: Updated routes to use new context
  examples/react/authenticated-routes-firebase/src/routes/_auth.tsx
  examples/react/authenticated-routes-firebase/src/routes/index.tsx
  examples/react/authenticated-routes-firebase/src/routes/login.tsx
Labels: none

fix: created vite.d.ts to include env vars
  examples/react/authenticated-routes-firebase/src/vite.d.ts
Labels: none

chore: fix lockfile
  pnpm-lock.yaml
Labels: none

chore(examples): add authenticated-routes example using firebase (#3669)
  examples/react/authenticated-routes-firebase/.env.example
  examples/react/authenticated-routes-firebase/.gitignore
  examples/react/authenticated-routes-firebase/.vscode/settings.json
  examples/react/authenticated-routes-firebase/README.md
  examples/react/authenticated-routes-firebase/index.html
  examples/react/authenticated-routes-firebase/package.json
  examples/react/authenticated-routes-firebase/postcss.config.mjs
  examples/react/authenticated-routes-firebase/src/auth.tsx
  examples/react/authenticated-routes-firebase/src/firebase/config.ts
  examples/react/authenticated-routes-firebase/src/main.tsx
  examples/react/authenticated-routes-firebase/src/posts.tsx
  examples/react/authenticated-routes-firebase/src/routeTree.gen.ts
  examples/react/authenticated-routes-firebase/src/routes/__root.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.dashboard.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.invoices.$invoiceId.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.invoices.index.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.invoices.tsx
  examples/react/authenticated-routes-firebase/src/routes/_auth.tsx
  examples/react/authenticated-routes-firebase/src/routes/index.tsx
  examples/react/authenticated-routes-firebase/src/routes/login.tsx
  examples/react/authenticated-routes-firebase/src/styles.css
  examples/react/authenticated-routes-firebase/src/utils.ts
  examples/react/authenticated-routes-firebase/src/vite.d.ts
  examples/react/authenticated-routes-firebase/tailwind.config.mjs
  examples/react/authenticated-routes-firebase/tsconfig.dev.json
  examples/react/authenticated-routes-firebase/tsconfig.json
  examples/react/authenticated-routes-firebase/vite.config.js
  pnpm-lock.yaml
Labels: none

chore: setup start-material-ui example
  examples/react/start-material-ui/app.config.ts
  examples/react/start-material-ui/app/api.ts
  examples/react/start-material-ui/app/client.tsx
  examples/react/start-material-ui/app/components/Counter.tsx
  examples/react/start-material-ui/app/routeTree.gen.ts
  examples/react/start-material-ui/app/router.tsx
  examples/react/start-material-ui/app/routes/__root.tsx
  examples/react/start-material-ui/app/routes/about.tsx
  examples/react/start-material-ui/app/routes/index.tsx
  examples/react/start-material-ui/app/ssr.tsx
  examples/react/start-material-ui/package.json
  examples/react/start-material-ui/public/favicon.ico
  examples/react/start-material-ui/tsconfig.json
  pnpm-lock.yaml
Labels: none

chore: add mui setup
  examples/react/start-material-ui/app/components/Counter.tsx
  examples/react/start-material-ui/app/components/Header.tsx
  examples/react/start-material-ui/app/components/RouterLink.tsx
  examples/react/start-material-ui/app/routes/__root.tsx
  examples/react/start-material-ui/app/routes/about.tsx
  examples/react/start-material-ui/app/routes/index.tsx
  examples/react/start-material-ui/app/setup/theme.ts
  examples/react/start-material-ui/package.json
  pnpm-lock.yaml
Labels: none

chore: configure ssr.noExternal
  examples/react/start-material-ui/app.config.ts
Labels: none

docs: add mui example
  docs/start/config.json
  docs/start/framework/react/quick-start.md
Labels: documentation

feat(router-generator): disable formatting of routeTree
  docs/router/api/file-based-routing.md
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/tests/generator.test.ts
  packages/router-generator/tests/generator/no-formatted-route-tree/routeTree.snapshot.ts
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/__root.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/index.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/nested/child.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/nested/index.tsx
Labels: package: router-generator, documentation

prettier ignore
  .prettierignore
  packages/router-generator/tests/generator/no-formatted-route-tree/routeTree.snapshot.ts
Labels: package: router-generator

docs: remove unnecessary 'alternatively' language from solid setup quick start docs
  docs/router/framework/solid/quick-start.md
Labels: documentation

chore: upgrade arktype
  examples/react/search-validator-adapters/package.json
  packages/arktype-adapter/package.json
  pnpm-lock.yaml
Labels: package: arktype-adapter

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-handler':
  - 'packages/react-start-server-functions-handler/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'
