Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-handler':
  - 'packages/react-start-server-functions-handler/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

chore: add script to bump typescript version and bump it to 5.8 (#3618)
  examples/react/search-validator-adapters/package.json
  package.json
  packages/arktype-adapter/package.json
  packages/directive-functions-plugin/package.json
  packages/eslint-plugin-router/package.json
  packages/history/package.json
  packages/react-router-with-query/package.json
  packages/react-router/package.json
  packages/react-start-api-routes/package.json
  packages/react-start-client/package.json
  packages/react-start-plugin/package.json
  packages/react-start-router-manifest/package.json
  packages/react-start-server-functions-client/package.json
  packages/react-start-server-functions-fetcher/package.json
  packages/react-start-server-functions-handler/package.json
  packages/react-start-server-functions-ssr/package.json
  packages/react-start-server/package.json
  packages/router-cli/package.json
  packages/router-core/package.json
  packages/router-devtools/package.json
  packages/router-generator/package.json
  packages/router-plugin/package.json
  packages/router-utils/package.json
  packages/router-vite-plugin/package.json
  packages/server-functions-plugin/package.json
  packages/solid-router/package.json
  packages/solid-start-api-routes/package.json
  packages/solid-start-client/package.json
  packages/solid-start-plugin/package.json
  packages/solid-start-router-manifest/package.json
  packages/solid-start-server-functions-client/package.json
  packages/solid-start-server-functions-fetcher/package.json
  packages/solid-start-server-functions-handler/package.json
  packages/solid-start-server-functions-ssr/package.json
  packages/solid-start-server/package.json
  packages/start-server-functions-server/package.json
  packages/valibot-adapter/package.json
  packages/zod-adapter/package.json
  pnpm-lock.yaml
  scripts/set-ts-version.js
Labels: package: arktype-adapter, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start-api-routes, package: react-start-client, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start-server-functions-server, package: valibot-adapter, package: zod-adapter

docs: streamline language in the quick-start guide for Solid (#3681)
  docs/router/framework/solid/quick-start.md
Labels: documentation

fix: use `fullPath` as `from` in Route/RouteApi `useNavigate`
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/route.ts
  packages/react-router/tests/useNavigate.test.tsx
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/route.ts
  packages/solid-router/tests/useNavigate.test.tsx
Labels: package: react-router, package: solid-router

fix: use `fullPath` as `from` in Route/RouteApi `useNavigate` (#3684)
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/route.ts
  packages/react-router/tests/useNavigate.test.tsx
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/route.ts
  packages/solid-router/tests/useNavigate.test.tsx
Labels: package: react-router, package: solid-router

chore: replace `<React.Fragment>` by `<>`
  examples/react/start-large/app/routes/linkProps.tsx
  packages/react-router/tests/blocker.test.tsx
  packages/react-router/tests/route.test.tsx
  packages/react-router/tests/useBlocker.test.tsx
  packages/react-router/tests/useNavigate.test.tsx
Labels: package: react-router

chore: replace `<React.Fragment>` by `<>` (#3672)
  examples/react/start-large/app/routes/linkProps.tsx
  packages/react-router/tests/blocker.test.tsx
  packages/react-router/tests/route.test.tsx
  packages/react-router/tests/useBlocker.test.tsx
  packages/react-router/tests/useNavigate.test.tsx
Labels: package: react-router

chore: remove api from example
  examples/react/start-material-ui/app/api.ts
Labels: none

chore: use button also as link
  examples/react/start-material-ui/app/components/Counter.tsx
  examples/react/start-material-ui/app/components/CustomButtonLink.tsx
  examples/react/start-material-ui/app/components/CustomLink.tsx
  examples/react/start-material-ui/app/components/Header.tsx
  examples/react/start-material-ui/app/components/RouterLink.tsx
  examples/react/start-material-ui/app/routes/__root.tsx
  examples/react/start-material-ui/app/routes/index.tsx
Labels: none

chore: rename styled component
  examples/react/start-material-ui/app/components/Header.tsx
Labels: none

docs: extend mui docs
  docs/router/framework/react/guide/custom-link.md
Labels: documentation

docs: fix example link
  docs/router/framework/react/guide/custom-link.md
Labels: documentation

docs: clarify button usage
  docs/router/framework/react/guide/custom-link.md
Labels: documentation

docs: align formatting
  docs/router/framework/react/guide/custom-link.md
Labels: documentation

rename flag
  docs/router/api/file-based-routing.md
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/tests/generator.test.ts
Labels: package: router-generator, documentation

Update docs/router/api/file-based-routing.md
  docs/router/api/file-based-routing.md
Labels: documentation

feat(router-generator): add internal `__enableApiRoutesGeneration` flag
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
Labels: package: router-generator

feat(react-start): enable `__enableApiRoutesGeneration`
  packages/react-start-config/src/index.ts
Labels: package: react-start-config

feat(solid-start): enable `__enableApiRoutesGeneration`
  packages/solid-start-config/src/index.ts
Labels: none

chore: remove omit href
  docs/router/framework/react/guide/custom-link.md
  examples/react/start-material-ui/app/components/CustomButtonLink.tsx
  examples/react/start-material-ui/app/components/CustomLink.tsx
Labels: documentation

refactor(router-generator): no "one-liners"
  packages/router-generator/src/generator.ts
Labels: package: router-generator

refactor: rename to `__enableAPIRoutesGeneration` for consistency
  packages/react-start-config/src/index.ts
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
  packages/solid-start-config/src/index.ts
Labels: package: react-start-config, package: router-generator

docs: no need to guard against `apiBase` value
  docs/router/api/file-based-routing.md
  docs/router/framework/react/routing/file-naming-conventions.md
Labels: documentation

test(router-generator): 'custom-scaffolding' test should use the `__enableAPIRoutesGeneration` flag
  packages/router-generator/tests/generator.test.ts
Labels: package: router-generator

rename to enable
  docs/router/api/file-based-routing.md
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/tests/generator.test.ts
Labels: package: router-generator, documentation

chore(root): pnpm override to use the local start package
  package.json
  pnpm-lock.yaml
Labels: none

chore(root): dedupe
  pnpm-lock.yaml
Labels: none

fix(router-generator): better filtering for api routes in `physical/getRouteNodes`
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
Labels: package: router-generator

chore(root): undo the pnpm override
  package.json
  packages/router-generator/src/generator.ts
  pnpm-lock.yaml
Labels: package: router-generator

feat(start-config): it wasn't enabled here 🫣
  packages/start-config/src/index.ts
Labels: package: start-config

chore(router-generator): remove debug console logs
  packages/router-generator/src/generator.ts
Labels: package: router-generator

refactor(router-generator): add internal `__enableAPIRoutesGeneration` flag (#3685)
  docs/router/api/file-based-routing.md
  docs/router/framework/react/routing/file-naming-conventions.md
  packages/react-start-config/src/index.ts
  packages/router-generator/src/config.ts
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/tests/generator.test.ts
  packages/solid-start-config/src/index.ts
  packages/start-config/src/index.ts
  pnpm-lock.yaml
Labels: package: react-start-config, package: router-generator, package: start-config, documentation

fix bad merge
  docs/router/api/file-based-routing.md
Labels: documentation

style: fix formatting
  docs/router/framework/react/guide/custom-link.md
Labels: documentation

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore(examples): add Material UI example (#3677)
  docs/router/framework/react/guide/custom-link.md
  docs/start/config.json
  docs/start/framework/react/quick-start.md
  examples/react/start-material-ui/app.config.ts
  examples/react/start-material-ui/app/client.tsx
  examples/react/start-material-ui/app/components/Counter.tsx
  examples/react/start-material-ui/app/components/CustomButtonLink.tsx
  examples/react/start-material-ui/app/components/CustomLink.tsx
  examples/react/start-material-ui/app/components/Header.tsx
  examples/react/start-material-ui/app/routeTree.gen.ts
  examples/react/start-material-ui/app/router.tsx
  examples/react/start-material-ui/app/routes/__root.tsx
  examples/react/start-material-ui/app/routes/about.tsx
  examples/react/start-material-ui/app/routes/index.tsx
  examples/react/start-material-ui/app/setup/theme.ts
  examples/react/start-material-ui/app/ssr.tsx
  examples/react/start-material-ui/package.json
  examples/react/start-material-ui/public/favicon.ico
  examples/react/start-material-ui/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

feat(router-generator): disable formatting of routeTree (#3678)
  .prettierignore
  docs/router/api/file-based-routing.md
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/tests/generator.test.ts
  packages/router-generator/tests/generator/no-formatted-route-tree/routeTree.snapshot.ts
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/__root.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/index.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/nested/child.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/nested/index.tsx
Labels: package: router-generator, documentation

refactor(root): labeler script to only consider packages with a `package.json` file
  scripts/generateLabelerConfig.mjs
Labels: none

chore(root): labeler script to only consider packages with a `package.json` file (#3690)
  scripts/generateLabelerConfig.mjs
Labels: none
