Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

reimplement
  examples/solid/kitchen-sink-solid-query/src/main.tsx
Labels: none

Update api-routes.md
  docs/start/framework/react/api-routes.md
Labels: documentation

refactor(router): delete unused type
  packages/router-core/src/useHistoryState.ts
Labels: package: router-core

feat(router): enhance useHistoryState with additional options and improved state selection
  packages/react-router/src/useHistoryState.tsx
Labels: package: react-router

Update docs/start/framework/react/api-routes.md
  docs/start/framework/react/api-routes.md
Labels: documentation

docs(start): add note on needing variable export named as `APIRoute` (#3892)
  docs/start/framework/react/api-routes.md
Labels: documentation

Use URLSearchParams to parse search params, fixing some parsing issues
  packages/router-core/src/qss.ts
  packages/router-core/tests/qss.test.ts
Labels: package: router-core

fix(docs): correct `router.matchRoute` return type to reflect actual `params` output
  docs/router/framework/react/api/router/RouterType.md
Labels: documentation

remove devtools padding on close
  packages/router-devtools-core/src/FloatingTanStackRouterDevtools.tsx
Labels: package: router-devtools-core

unset padding-bottom
  packages/router-devtools-core/src/FloatingTanStackRouterDevtools.tsx
Labels: package: router-devtools-core

remove style attribute
  packages/router-devtools-core/src/FloatingTanStackRouterDevtools.tsx
Labels: package: router-devtools-core

fix(router-devtools-core): remove floating panel style on close (#3898)
  packages/router-devtools-core/src/FloatingTanStackRouterDevtools.tsx
Labels: package: router-devtools-core

perf: add ServerRoute to large example and variance annotations
  examples/react/start-large/package.json
  examples/react/start-large/src/routeTree.gen.ts
  examples/react/start-large/src/routes/__root.tsx
  examples/react/start-large/src/routes/absolute.tsx
  examples/react/start-large/src/routes/index.tsx
  examples/react/start-large/src/routes/linkProps.tsx
  examples/react/start-large/src/routes/params/$paramsPlaceholder.tsx
  examples/react/start-large/src/routes/params/route.tsx
  examples/react/start-large/src/routes/relative.tsx
  examples/react/start-large/src/routes/search/route.tsx
  examples/react/start-large/src/routes/search/searchPlaceholder.tsx
  examples/react/start-large/src/server.ts
  examples/react/start-large/vite.config.ts
  packages/router-generator/src/generator.ts
  packages/start-client-core/src/serverRoute.ts
Labels: package: router-generator

test(router-plugin): add test file
  packages/router-plugin/tests/code-splitter/test-files/react/export-default-component.tsx
Labels: package: router-plugin

test(router-plugin): add another test file
  packages/router-plugin/tests/code-splitter/test-files/react/export-default-component-and-normal-notFound.tsx
Labels: package: router-plugin

fix(router-plugin): declaring a function as a default export should be retained
  packages/router-plugin/src/core/code-splitter/compilers.ts
Labels: package: router-plugin

fix(router-plugin): correctly do conditionals
  packages/router-plugin/src/core/code-splitter/compilers.ts
Labels: package: router-plugin

chore(router-plugin): remove comment
  packages/router-plugin/src/core/code-splitter/compilers.ts
Labels: package: router-plugin

perf: improve type perf for server route
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/serverRoute.ts
Labels: none

test(router-plugin): use `id` instead of `root` at some point this changed, so this syncs that up
  packages/router-plugin/tests/code-splitter.test.ts
Labels: package: router-plugin

docs(router): correct ReturnType of `Router.matchRoute` to match the runtime output (#3896)
  docs/router/framework/react/api/router/RouterType.md
Labels: documentation

fix: remove React type dependency in router-core
  packages/react-router/src/index.tsx
  packages/react-router/src/serializer.ts
  packages/router-core/src/index.ts
  packages/router-core/src/serializer.ts
  packages/solid-router/src/index.tsx
Labels: package: react-router, package: router-core, package: solid-router

docs(router): update HeadContent placement
  docs/router/framework/react/guide/document-head-management.md
Labels: documentation

docs(router): update createRootRoute syntax in document head management guide
  docs/router/framework/react/guide/document-head-management.md
Labels: documentation

docs: Fix HeadContent docs (#3905)
  docs/router/framework/react/guide/document-head-management.md
Labels: documentation

fix(router-core): remove `React` type dependency (#3902)
  packages/react-router/src/index.tsx
  packages/react-router/src/serializer.ts
  packages/router-core/src/index.ts
  packages/router-core/src/serializer.ts
  packages/solid-router/src/index.tsx
Labels: package: react-router, package: router-core, package: solid-router

docs(router): update example to use createFileRoute
  docs/router/framework/react/guide/search-params.md
Labels: documentation

docs(router): simplify route variable naming in search params guide (#3890)
  docs/router/framework/react/guide/search-params.md
Labels: documentation

fix(router-core): return meta if match.success notFound
  packages/react-router/tests/route.test.tsx
  packages/router-core/src/router.ts
  packages/solid-router/tests/route.test.tsx
Labels: package: react-router, package: router-core, package: solid-router

fix(router-core): make loaderData optional
  packages/router-core/src/router.ts
Labels: package: router-core

fix(react-router): restore scroll position onResolved
  packages/react-router/src/Transitioner.tsx
Labels: package: react-router

fix(react-router): extracted hash scroll handling into react-core
  packages/react-router/src/Transitioner.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/Transitioner.tsx
Labels: package: react-router, package: router-core, package: solid-router

fix(react-router): add jsdoc comment
  packages/router-core/src/scroll-restoration.ts
Labels: package: router-core

fix(router-core): return meta if match.status is error
  packages/react-router/tests/route.test.tsx
  packages/router-core/src/router.ts
  packages/solid-router/tests/route.test.tsx
Labels: package: react-router, package: router-core, package: solid-router

test(router-core): load matched routes before assertions
  packages/react-router/tests/route.test.tsx
  packages/solid-router/tests/route.test.tsx
Labels: package: react-router, package: solid-router

chore(router-core): remove empty lines
  packages/react-router/tests/route.test.tsx
Labels: package: react-router

fix(react-router): fix issue with scroll restoration, move ScrollRestoration component behind the flag
  packages/react-router/src/Match.tsx
Labels: package: react-router

fix(react-router): restore scroll position onResolved (#3914)
  packages/react-router/src/Transitioner.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/Transitioner.tsx
Labels: package: react-router, package: router-core, package: solid-router

feat: add types for getServerFileRouteApi
  packages/start-client-core/src/serverRoute.ts
  packages/start-client-core/src/tests/serverRoute.test-d.ts
Labels: none

chore: add export for getServerFileRouteApi
  packages/start-client-core/src/index.tsx
Labels: none
