Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-handler':
  - 'packages/react-start-server-functions-handler/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

rebase
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/Explorer.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/context.ts
  packages/router-devtools/src/theme.tsx
  packages/router-devtools/src/useStyles.tsx
  packages/router-devtools/src/utils.ts
Labels: package: router-devtools

refactor(router-devtools): Adopt recommendations for React 19 (#3631)
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/Explorer.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/context.ts
  packages/router-devtools/src/theme.tsx
  packages/router-devtools/src/useStyles.tsx
  packages/router-devtools/src/utils.ts
Labels: package: router-devtools

Revert "refactor(router-devtools): Adopt recommendations for React 19 (#3631)"
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/Explorer.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/context.ts
  packages/router-devtools/src/theme.tsx
  packages/router-devtools/src/useStyles.tsx
  packages/router-devtools/src/utils.ts
Labels: package: router-devtools

refactor(router-devtools): Revert #3631 to ensure backwards compat with react 18 (#3637)
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/Explorer.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/context.ts
  packages/router-devtools/src/theme.tsx
  packages/router-devtools/src/useStyles.tsx
  packages/router-devtools/src/utils.ts
Labels: package: router-devtools

docs: Update server-functions.md docs (#3628)
  docs/start/framework/react/server-functions.md
Labels: documentation

fix(react-router,solid-router): prevent crashes if sessionStorage isn't available
  packages/react-router/src/scroll-restoration.tsx
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: solid-router

test(react-start): check change to meta tags on client navigation (#3609)
  e2e/react-start/basic/app/routes/posts.tsx
  e2e/react-start/basic/tests/navigation.spec.ts
Labels: none

render HeadContent
  e2e/react-router/basic-file-based/src/routes/__root.tsx
Labels: none

test(react-router) should update title on navigation (#3610)
  e2e/react-router/basic-file-based/index.html
  e2e/react-router/basic-file-based/src/routes/__root.tsx
  e2e/react-router/basic-file-based/src/routes/posts.tsx
  e2e/react-router/basic-file-based/tests/app.spec.ts
Labels: none

test(tanstack-solid-start-e2e-basic-tsr-config)
  e2e/solid-start/basic-tsr-config/.gitignore
  e2e/solid-start/basic-tsr-config/.prettierignore
  e2e/solid-start/basic-tsr-config/README.md
  e2e/solid-start/basic-tsr-config/app.config.ts
  e2e/solid-start/basic-tsr-config/package.json
  e2e/solid-start/basic-tsr-config/playwright.config.ts
  e2e/solid-start/basic-tsr-config/src/app/client.tsx
  e2e/solid-start/basic-tsr-config/src/app/routeTree.gen.ts
  e2e/solid-start/basic-tsr-config/src/app/router.tsx
  e2e/solid-start/basic-tsr-config/src/app/routes/__root.tsx
  e2e/solid-start/basic-tsr-config/src/app/routes/index.tsx
  e2e/solid-start/basic-tsr-config/src/app/ssr.tsx
  e2e/solid-start/basic-tsr-config/tests/app.spec.ts
  e2e/solid-start/basic-tsr-config/tsconfig.json
  pnpm-lock.yaml
Labels: none

test(tanstack-solid-start-e2e-basic-tsr-config) (#3641)
  e2e/solid-start/basic-tsr-config/.gitignore
  e2e/solid-start/basic-tsr-config/.prettierignore
  e2e/solid-start/basic-tsr-config/README.md
  e2e/solid-start/basic-tsr-config/app.config.ts
  e2e/solid-start/basic-tsr-config/package.json
  e2e/solid-start/basic-tsr-config/playwright.config.ts
  e2e/solid-start/basic-tsr-config/src/app/client.tsx
  e2e/solid-start/basic-tsr-config/src/app/routeTree.gen.ts
  e2e/solid-start/basic-tsr-config/src/app/router.tsx
  e2e/solid-start/basic-tsr-config/src/app/routes/__root.tsx
  e2e/solid-start/basic-tsr-config/src/app/routes/index.tsx
  e2e/solid-start/basic-tsr-config/src/app/ssr.tsx
  e2e/solid-start/basic-tsr-config/tests/app.spec.ts
  e2e/solid-start/basic-tsr-config/tsconfig.json
  pnpm-lock.yaml
Labels: none

feat: add support for `shouldThrow` in RouteApi
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/route.ts
  packages/react-router/src/useParams.tsx
  packages/react-router/src/useSearch.tsx
  packages/react-router/tests/routeApi.test-d.tsx
Labels: package: react-router

Fix parseLocation in createHashHistory to handle search params correctly
  packages/history/src/index.ts
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

feat(router): add shouldThrow to useRouteContext options
  packages/react-router/src/useRouteContext.ts
  packages/react-router/tests/useRouteContext.test-d.tsx
  packages/router-core/src/useRouteContext.ts
  packages/solid-router/src/useRouteContext.ts
Labels: package: react-router, package: router-core, package: solid-router

fix: solid router crashing with useRouterState
  packages/solid-router/src/router.ts
Labels: package: solid-router

fix(react-router,solid-router): `scrollRestoration` crashes if `sessionStorage` is not available (#3638)
  packages/react-router/src/scroll-restoration.tsx
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: solid-router

split single unit test for the parseLocation into multiple focused cases
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

fixed the test case description
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

fix: solid router crashing with useRouterState
  packages/solid-router/src/router.ts
Labels: package: solid-router

Added more test cases for the parseLocation
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

fix: port change over to react router
  e2e/react-router/basic-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/src/routes/__root.tsx
  packages/react-router/src/router.ts
Labels: package: react-router

Avoid the custom mocking over the window.location and use the history.replaceState instead
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

fix(history): `parseLocation` in createHashHistory to handle search params correctly (#3644)
  packages/history/src/index.ts
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

docs(router): add viewTransition docs in NavigateOptionsType
  docs/router/framework/react/api/router/NavigateOptionsType.md
Labels: documentation

docs(router): add viewTransition docs in NavigateOptionsType (#3652)
  docs/router/framework/react/api/router/NavigateOptionsType.md
Labels: documentation

fix: allow relative `navigate` without `from`
  packages/react-router/src/router.ts
  packages/react-router/tests/navigate.test.tsx
  packages/solid-router/src/router.ts
  packages/solid-router/tests/navigate.test.tsx
Labels: package: react-router, package: solid-router

fix: allow relative `navigate` without `from` (#3654)
  packages/react-router/src/router.ts
  packages/react-router/tests/navigate.test.tsx
  packages/solid-router/src/router.ts
  packages/solid-router/tests/navigate.test.tsx
Labels: package: react-router, package: solid-router

fix(solid-router): check if promise is resolved before resolving in useRouterState (#3651)
  e2e/react-router/basic-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/src/routes/__root.tsx
  packages/react-router/src/router.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: solid-router

fix: explicitly capture previous loadPromise
  packages/react-router/src/router.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: solid-router

call nearestMatchId
  packages/solid-router/src/useMatch.tsx
Labels: package: solid-router

feat(solid-router) add structural sharing
  e2e/solid-router/basic-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-file-based/src/routes/structural-sharing.$enabled.tsx
  e2e/solid-router/basic-file-based/tests/app.spec.ts
  packages/solid-router/src/HeadContent.tsx
  packages/solid-router/src/Match.tsx
  packages/solid-router/src/Matches.tsx
  packages/solid-router/src/RouterProvider.tsx
  packages/solid-router/src/Scripts.tsx
  packages/solid-router/src/Transitioner.tsx
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/link.tsx
  packages/solid-router/src/route.ts
  packages/solid-router/src/router.ts
  packages/solid-router/src/structuralSharing.ts
  packages/solid-router/src/typePrimitives.ts
  packages/solid-router/src/useLoaderData.tsx
  packages/solid-router/src/useLoaderDeps.tsx
  packages/solid-router/src/useLocation.tsx
  packages/solid-router/src/useMatch.tsx
  packages/solid-router/src/useParams.tsx
  packages/solid-router/src/useRouterState.tsx
  packages/solid-router/src/useSearch.tsx
  packages/solid-router/tests/route.test-d.tsx
  packages/solid-router/tests/router.test-d.tsx
  packages/solid-router/tests/useLoaderData.test-d.tsx
  packages/solid-router/tests/useParams.test-d.tsx
  packages/solid-router/tests/useRouterState.test-d.tsx
  packages/solid-router/tests/useSearch.test-d.tsx
Labels: package: solid-router

format
  packages/solid-router/src/HeadContent.tsx
  packages/solid-router/src/useLoaderData.tsx
  packages/solid-router/src/useMatch.tsx
  packages/solid-router/src/useParams.tsx
  packages/solid-router/src/useRouterState.tsx
  packages/solid-router/tests/route.test-d.tsx
  packages/solid-router/tests/useLoaderData.test-d.tsx
  packages/solid-router/tests/useParams.test-d.tsx
  packages/solid-router/tests/useRouterState.test-d.tsx
  packages/solid-router/tests/useSearch.test-d.tsx
Labels: package: solid-router

remove default structuralSharing
  e2e/solid-router/basic-file-based/src/main.tsx
Labels: none

update example
  e2e/solid-router/basic-file-based/src/main.tsx
  e2e/solid-router/basic-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/src/routes/structural-sharing.$enabled.tsx
Labels: none

chore: rename method
  packages/react-router/src/router.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: solid-router

chore: rename method (#3658)
  packages/react-router/src/router.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: solid-router

feat: provide location in onEnter/onStay/onLeave hooks
  docs/router/framework/react/api/router/RouteOptionsType.md
  packages/react-router/src/router.ts
  packages/react-router/tests/route.test-d.tsx
  packages/react-router/tests/route.test.tsx
  packages/router-core/src/route.ts
  packages/solid-router/src/router.ts
  packages/solid-router/tests/route.test-d.tsx
  packages/solid-router/tests/route.test.tsx
Labels: package: react-router, package: router-core, package: solid-router, documentation

correct
  packages/solid-router/src/router.ts
Labels: package: solid-router

typing search
  packages/router-core/src/route.ts
Labels: package: router-core

fix(react-router): ensure scroll restoration works with strict mode on
  packages/react-router/src/Match.tsx
Labels: package: react-router
