Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-plugin, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-start, package: solid-start-api-routes, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: solid-start-server-functions-client, package: solid-start-server-functions-fetcher, package: solid-start-server-functions-handler, package: solid-start-server-functions-ssr, package: start, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

lockfile
  pnpm-lock.yaml
Labels: none

adjust examples package names
  examples/react/basic-non-nested-devtools/package.json
  examples/solid/basic-non-nested-devtools/package.json
  examples/solid/basic/package.json
Labels: none

add TanStackRouterDevtoolsPanel
  packages/react-router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/react-router-devtools/src/index.ts
  packages/router-devtools-core/src/TanStackRouterDevtoolsPanelCore.tsx
  packages/router-devtools-core/src/index.tsx
  packages/router-devtools/src/index.tsx
  packages/solid-router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/solid-router-devtools/src/index.tsx
Labels: package: router-devtools

format
  packages/react-router-devtools/src/index.ts
  packages/solid-router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/solid-router-devtools/src/index.tsx
Labels: none

add shadowdom devtools panel examples
  examples/react/basic-devtools-panel/.gitignore
  examples/react/basic-devtools-panel/.vscode/settings.json
  examples/react/basic-devtools-panel/README.md
  examples/react/basic-devtools-panel/index.html
  examples/react/basic-devtools-panel/package.json
  examples/react/basic-devtools-panel/postcss.config.mjs
  examples/react/basic-devtools-panel/src/App.tsx
  examples/react/basic-devtools-panel/src/main.tsx
  examples/react/basic-devtools-panel/src/styles.css
  examples/react/basic-devtools-panel/tailwind.config.mjs
  examples/react/basic-devtools-panel/tsconfig.dev.json
  examples/react/basic-devtools-panel/tsconfig.json
  examples/react/basic-devtools-panel/vite.config.js
  examples/solid/basic-devtools-panel/.gitignore
  examples/solid/basic-devtools-panel/.vscode/settings.json
  examples/solid/basic-devtools-panel/README.md
  examples/solid/basic-devtools-panel/index.html
  examples/solid/basic-devtools-panel/package.json
  examples/solid/basic-devtools-panel/postcss.config.mjs
  examples/solid/basic-devtools-panel/src/App.tsx
  examples/solid/basic-devtools-panel/src/main.tsx
  examples/solid/basic-devtools-panel/src/styles.css
  examples/solid/basic-devtools-panel/tailwind.config.mjs
  examples/solid/basic-devtools-panel/tsconfig.dev.json
  examples/solid/basic-devtools-panel/tsconfig.json
  examples/solid/basic-devtools-panel/vite.config.js
  packages/react-router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/TanStackRouterDevtoolsPanelCore.tsx
  packages/solid-router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  pnpm-lock.yaml
Labels: none

lockfile
  pnpm-lock.yaml
Labels: none

format
  examples/react/basic-devtools-panel/package.json
  examples/react/basic-devtools-panel/src/App.tsx
  examples/react/basic-devtools-panel/src/main.tsx
  examples/solid/basic-devtools-panel/src/App.tsx
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
Labels: none

add docs for fixed mode
  docs/router/framework/react/devtools.md
  docs/router/framework/solid/devtools.md
Labels: documentation

add expected snapshots
  examples/react/basic-devtools-panel/snapshot/expected.png
  examples/solid/basic-devtools-panel/snapshot/expected.png
Labels: none

make resizable
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/FloatingTanStackRouterDevtools.tsx
Labels: none

format
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/FloatingTanStackRouterDevtools.tsx
Labels: none

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-api-routes':
  - 'packages/solid-start-api-routes/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: solid-start-server-functions-client':
  - 'packages/solid-start-server-functions-client/**/*'
'package: solid-start-server-functions-fetcher':
  - 'packages/solid-start-server-functions-fetcher/**/*'
'package: solid-start-server-functions-handler':
  - 'packages/solid-start-server-functions-handler/**/*'
'package: solid-start-server-functions-ssr':
  - 'packages/solid-start-server-functions-ssr/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'
