Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-handler':
  - 'packages/react-start-server-functions-handler/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

fix e2e test
  e2e/react-start/server-functions/app/routes/index.tsx
  e2e/react-start/server-functions/app/routes/raw-response.tsx
Labels: none

chore: Bump @clerk/tanstack-start to 0.11.0
  e2e/react-start/clerk-basic/package.json
  examples/react/start-clerk-basic/package.json
  pnpm-lock.yaml
Labels: none

fix: spelling error
  examples/react/start-convex-trellaux/README.md
Labels: none

docs: update other places
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/quick-start.md
  docs/router/framework/react/routing/installation-with-vite.md
Labels: documentation

chore(examples): spelling error on Start Convex Trellaux (#3583)
  examples/react/start-convex-trellaux/README.md
Labels: none

docs(react-router): update import from `viteReact` to `react` (#3574)
  docs/router/framework/react/guide/code-splitting.md
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/quick-start.md
  docs/router/framework/react/routing/installation-with-vite.md
Labels: documentation

docs(solid-router): missing installation steps
  docs/router/framework/react/routing/installation-with-router-cli.md
  docs/router/framework/solid/routing/installation-with-router-cli.md
  docs/router/framework/solid/routing/installation-with-vite.md
Labels: documentation

docs(solid-router): missing steps for `tsconfig.json` (#3584)
  docs/router/framework/react/routing/installation-with-router-cli.md
  docs/router/framework/solid/routing/installation-with-router-cli.md
  docs/router/framework/solid/routing/installation-with-vite.md
Labels: documentation

chore(examples): add basic-file-based for solid-router
  examples/solid/basic-file-based/.gitignore
  examples/solid/basic-file-based/.vscode/settings.json
  examples/solid/basic-file-based/README.md
  examples/solid/basic-file-based/index.html
  examples/solid/basic-file-based/package.json
  examples/solid/basic-file-based/postcss.config.mjs
  examples/solid/basic-file-based/src/main.tsx
  examples/solid/basic-file-based/src/posts.tsx
  examples/solid/basic-file-based/src/routeTree.gen.ts
  examples/solid/basic-file-based/src/routes/-components/PostErrorComponent.tsx
  examples/solid/basic-file-based/src/routes/__root.tsx
  examples/solid/basic-file-based/src/routes/_layout.tsx
  examples/solid/basic-file-based/src/routes/_layout/_layout-2.tsx
  examples/solid/basic-file-based/src/routes/_layout/_layout-2/layout-a.tsx
  examples/solid/basic-file-based/src/routes/_layout/_layout-2/layout-b.tsx
  examples/solid/basic-file-based/src/routes/index.tsx
  examples/solid/basic-file-based/src/routes/posts.$postId.tsx
  examples/solid/basic-file-based/src/routes/posts.index.tsx
  examples/solid/basic-file-based/src/routes/posts.tsx
  examples/solid/basic-file-based/src/styles.css
  examples/solid/basic-file-based/tailwind.config.mjs
  examples/solid/basic-file-based/tsconfig.dev.json
  examples/solid/basic-file-based/tsconfig.json
  examples/solid/basic-file-based/vite.config.js
  pnpm-lock.yaml
Labels: none

chore(examples): add quickstart-file-based for solid-router
  examples/solid/quickstart-file-based/.gitignore
  examples/solid/quickstart-file-based/.vscode/settings.json
  examples/solid/quickstart-file-based/README.md
  examples/solid/quickstart-file-based/index.html
  examples/solid/quickstart-file-based/package.json
  examples/solid/quickstart-file-based/postcss.config.mjs
  examples/solid/quickstart-file-based/src/main.tsx
  examples/solid/quickstart-file-based/src/posts.tsx
  examples/solid/quickstart-file-based/src/routeTree.gen.ts
  examples/solid/quickstart-file-based/src/routes/__root.tsx
  examples/solid/quickstart-file-based/src/routes/about.tsx
  examples/solid/quickstart-file-based/src/routes/index.tsx
  examples/solid/quickstart-file-based/src/styles.css
  examples/solid/quickstart-file-based/tailwind.config.mjs
  examples/solid/quickstart-file-based/tsconfig.dev.json
  examples/solid/quickstart-file-based/tsconfig.json
  examples/solid/quickstart-file-based/vite.config.js
  pnpm-lock.yaml
Labels: none

docs(solid-router): add to `docs/config.json`
  docs/router/config.json
Labels: documentation

chore(examples): add basic-solid-query-file-based for solid-router
  docs/router/config.json
  examples/solid/basic-solid-query-file-based/.gitignore
  examples/solid/basic-solid-query-file-based/index.html
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query-file-based/playwright.config.ts
  examples/solid/basic-solid-query-file-based/postcss.config.mjs
  examples/solid/basic-solid-query-file-based/src/main.tsx
  examples/solid/basic-solid-query-file-based/src/postQueryOptions.tsx
  examples/solid/basic-solid-query-file-based/src/posts.tsx
  examples/solid/basic-solid-query-file-based/src/postsQueryOptions.tsx
  examples/solid/basic-solid-query-file-based/src/routeTree.gen.ts
  examples/solid/basic-solid-query-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query-file-based/src/routes/_layout.tsx
  examples/solid/basic-solid-query-file-based/src/routes/_layout/_layout-2.tsx
  examples/solid/basic-solid-query-file-based/src/routes/_layout/_layout-2/layout-a.tsx
  examples/solid/basic-solid-query-file-based/src/routes/_layout/_layout-2/layout-b.tsx
  examples/solid/basic-solid-query-file-based/src/routes/index.tsx
  examples/solid/basic-solid-query-file-based/src/routes/posts.$postId.tsx
  examples/solid/basic-solid-query-file-based/src/routes/posts.index.tsx
  examples/solid/basic-solid-query-file-based/src/routes/posts.tsx
  examples/solid/basic-solid-query-file-based/src/styles.css
  examples/solid/basic-solid-query-file-based/tailwind.config.mjs
  examples/solid/basic-solid-query-file-based/tests/app.spec.ts
  examples/solid/basic-solid-query-file-based/tsconfig.json
  examples/solid/basic-solid-query-file-based/vite.config.js
  pnpm-lock.yaml
Labels: documentation

chore(examples): cleanup
  examples/solid/basic-solid-query/package.json
  examples/solid/basic-solid-query/src/posts.lazy.tsx
  examples/solid/quickstart-file-based/src/routes/index.tsx
Labels: none

docs(solid-router): link to the solid quickstart sandbox
  docs/router/framework/solid/routing/installation-with-vite.md
Labels: documentation

chore(examples): remove unneeded test files
  examples/solid/basic-solid-query-file-based/playwright.config.ts
  examples/solid/basic-solid-query-file-based/tests/app.spec.ts
Labels: none

chore: spelling error
  docs/router/config.json
Labels: documentation

chore: ofc `className` => `class`
  examples/solid/quickstart-file-based/src/routes/__root.tsx
Labels: none

chore: Bump `@clerk/tanstack-start` dependencies to 0.11.0 (#3582)
  e2e/react-start/clerk-basic/package.json
  examples/react/start-clerk-basic/package.json
  pnpm-lock.yaml
Labels: none

fix(solid-router): properly load components on lazy routes
  packages/solid-router/src/lazyRouteComponent.tsx
Labels: package: solid-router

docs(solid-router) fix examples that import workspace packages
  examples/solid/basic-file-based/package.json
  examples/solid/basic-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query/package.json
  examples/solid/kitchen-sink-file-based/package.json
  examples/solid/kitchen-sink-file-based/src/routes/__root.tsx
  examples/solid/quickstart-file-based/package.json
  examples/solid/quickstart-file-based/src/routes/__root.tsx
  pnpm-lock.yaml
Labels: none

fix(solid-router) use solid resource and Show in Await
  packages/solid-router/src/awaited.tsx
Labels: package: solid-router

fix(solid-router): use createResource and Show in Await (#3591)
  packages/solid-router/src/awaited.tsx
Labels: package: solid-router

fix(solid-router): properly load components on lazy routes (#3589)
  packages/solid-router/src/lazyRouteComponent.tsx
Labels: package: solid-router

docs(solid-router) fix examples that import workspace packages (#3590)
  examples/solid/basic-file-based/package.json
  examples/solid/basic-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query/package.json
  examples/solid/kitchen-sink-file-based/package.json
  examples/solid/kitchen-sink-file-based/src/routes/__root.tsx
  examples/solid/quickstart-file-based/package.json
  examples/solid/quickstart-file-based/src/routes/__root.tsx
  pnpm-lock.yaml
Labels: none

solid-start-server
  packages/solid-start-server/README.md
  packages/solid-start-server/eslint.config.js
  packages/solid-start-server/package.json
  packages/solid-start-server/src/StartServer.tsx
  packages/solid-start-server/src/createRequestHandler.ts
  packages/solid-start-server/src/createStartHandler.ts
  packages/solid-start-server/src/defaultRenderHandler.tsx
  packages/solid-start-server/src/defaultStreamHandler.tsx
  packages/solid-start-server/src/handlerCallback.ts
  packages/solid-start-server/src/index.tsx
  packages/solid-start-server/src/ssr-server.ts
  packages/solid-start-server/src/transformStreamWithRouter.ts
  packages/solid-start-server/src/tsrScript.ts
  packages/solid-start-server/src/vite-env.d.ts
  packages/solid-start-server/tests/h3-wrappers.test-d.ts
  packages/solid-start-server/tsconfig.json
  packages/solid-start-server/vite-minify-plugin.ts
  packages/solid-start-server/vite.config.ts
Labels: none

remove api routes
  examples/solid/start-bare/app/api.ts
Labels: none

cleanup
  packages/solid-start-client/tsconfig.json
Labels: none

remove head/body
  examples/solid/start-bare/app/routes/__root.tsx
Labels: none

work on solid-start-client
  packages/solid-start-client/eslint.config.js
  packages/solid-start-client/src/renderRSC.tsx
Labels: none

Fix use hydration
  examples/solid/start-bare/app/client.tsx
  examples/solid/start-bare/app/routes/__root.tsx
Labels: none

fix the workspace
  e2e/solid-start/basic/app/routeTree.gen.ts
  e2e/solid-start/basic/package.json
  pnpm-workspace.yaml
Labels: none

use agnostic start
  packages/solid-start-client/package.json
  packages/solid-start-client/src/createServerFn.ts
  packages/solid-start-client/src/ssr-client.tsx
  packages/solid-start-client/src/tests/createServerFn.test-d.tsx
  packages/solid-start-client/src/tests/createServerMiddleware.test-d.ts
  packages/solid-start-server-functions-fetcher/package.json
  packages/solid-start-server-functions-fetcher/src/index.tsx
  packages/solid-start-server/package.json
  packages/solid-start-server/src/createRequestHandler.ts
  packages/solid-start-server/src/createStartHandler.ts
  packages/solid-start-server/src/ssr-server.ts
  packages/solid-start-server/src/tsrScript.ts
  packages/solid-start/src/server.tsx
  pnpm-lock.yaml
Labels: none

work on agnostic packages
  packages/solid-start-server-functions-fetcher/src/index.ts
  packages/solid-start-server-functions-fetcher/tsconfig.json
  packages/solid-start-server-functions-fetcher/vite.config.ts
  packages/solid-start-server-functions-handler/src/index.ts
  packages/solid-start-server-functions-handler/tsconfig.json
  packages/solid-start-server-functions-handler/vite.config.ts
Labels: none

solid-refresh
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

work on solid basic e2e
  e2e/solid-start/basic/app/routes/__root.tsx
  e2e/solid-start/basic/app/routes/deferred.tsx
  e2e/solid-start/basic/app/routes/search-params.tsx
  e2e/solid-start/basic/app/routes/stream.tsx
  e2e/solid-start/basic/package.json
Labels: none

format
  examples/solid/start-bare/app/routes/__root.tsx
Labels: none

add back react-refresh
  packages/react-start-plugin/src/index.ts
  packages/react-start-router-manifest/src/index.ts
Labels: package: react-start-plugin, package: react-start-router-manifest

fix syntax
  e2e/solid-start/basic/app/client.tsx
  e2e/solid-start/basic/app/routes/not-found/index.tsx
  e2e/solid-start/basic/app/routes/posts.$postId.tsx
  e2e/solid-start/basic/app/routes/posts.tsx
  e2e/solid-start/basic/app/routes/posts_.$postId.deep.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/serverFn/index.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/serverFn/via-useServerFn.tsx
  e2e/solid-start/basic/app/routes/users.$userId.tsx
Labels: none

solid-start-client
  packages/solid-start-client/package.json
  packages/solid-start-client/src/serializer.ts
  packages/solid-start-client/src/tests/createServerFn.test-d.tsx
  packages/solid-start-client/src/tests/setupTests.tsx
  packages/solid-start-client/tsconfig.json
  packages/solid-start-client/vite.config.ts
  packages/solid-start-server/package.json
  pnpm-lock.yaml
Labels: none

solid-start-client
  packages/solid-start-client/README.md
  packages/solid-start-client/eslint.config.js
  packages/solid-start-client/package.json
  packages/solid-start-client/src/Meta.tsx
  packages/solid-start-client/src/Scripts.tsx
  packages/solid-start-client/src/StartClient.tsx
  packages/solid-start-client/src/createIsomorphicFn.ts
  packages/solid-start-client/src/createMiddleware.ts
  packages/solid-start-client/src/createServerFn.ts
  packages/solid-start-client/src/envOnly.ts
  packages/solid-start-client/src/headers.ts
  packages/solid-start-client/src/index.tsx
  packages/solid-start-client/src/json.ts
  packages/solid-start-client/src/registerGlobalMiddleware.ts
  packages/solid-start-client/src/renderRSC.tsx
  packages/solid-start-client/src/routesManifest.ts
  packages/solid-start-client/src/serializer.ts
  packages/solid-start-client/src/ssr-client.tsx
  packages/solid-start-client/src/tests/createIsomorphicFn.test-d.ts
  packages/solid-start-client/src/tests/createServerFn.test-d.tsx
  packages/solid-start-client/src/tests/createServerMiddleware.test-d.ts
  packages/solid-start-client/src/tests/envOnly.test-d.ts
  packages/solid-start-client/src/tests/json.test.ts
  packages/solid-start-client/src/tests/transformer.test.tsx
  packages/solid-start-client/src/useServerFn.ts
  packages/solid-start-client/tsconfig.json
  packages/solid-start-client/vite.config.ts
Labels: none
