Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

fix: view transitions in solid-router
  packages/solid-router/src/lazyRouteComponent.tsx
Labels: package: solid-router

checkpoint
  examples/solid/start-bare/src/ssr.tsx
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/router-plugin/src/core/router-generator-plugin.ts
Labels: package: react-start-plugin, package: router-plugin

fix: Allow window as element scroll restoration element
  packages/react-router/src/ScrollRestoration.tsx
  packages/solid-router/src/ScrollRestoration.tsx
Labels: package: react-router, package: solid-router

fix(router-core): agnostic scroll-restoration
  packages/react-router/src/scroll-restoration.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: router-core, package: solid-router

format
  packages/react-router/src/ScrollRestoration.tsx
  packages/react-router/src/router.ts
  packages/solid-router/src/ScrollRestoration.tsx
  packages/solid-router/src/router.ts
Labels: package: react-router, package: solid-router

eslint
  packages/react-router/src/ScrollRestoration.tsx
  packages/react-router/src/router.ts
  packages/solid-router/src/ScrollRestoration.tsx
  packages/solid-router/src/router.ts
Labels: package: react-router, package: solid-router

update solid-router
  packages/react-router/src/ScrollRestoration.tsx
  packages/react-router/src/router.ts
  packages/solid-router/src/router.ts
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: solid-router

update ScrollRestoration component
  packages/react-router/src/ScrollRestoration.tsx
  packages/router-core/src/index.ts
  packages/solid-router/src/ScrollRestoration.tsx
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: router-core, package: solid-router

fix(router-core): agnostic scroll restoration (#3740)
  packages/react-router/src/ScrollRestoration.tsx
  packages/react-router/src/router.ts
  packages/react-router/src/scroll-restoration.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/ScrollRestoration.tsx
  packages/solid-router/src/router.ts
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: router-core, package: solid-router

add redaxios dependency to package.json
  examples/react/start-supabase-basic/package.json
Labels: none

checkpoint
  examples/react/start-basic/vite.config.ts
  packages/react-start-plugin/src/index.ts
  packages/react-start-plugin/src/nitro/hooks/post-rendering-hook.ts
  packages/react-start-plugin/src/nitro/hooks/post-rendering-hooks.spec.ts
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/routesManifestPlugin.ts
  packages/router-plugin/src/core/router-generator-plugin.ts
  packages/server-functions-plugin/src/index.ts
  packages/start-client-core/vite.config.ts
  pnpm-lock.yaml
Labels: package: react-start-plugin, package: router-plugin, package: server-functions-plugin

fix commonjsOptions
  packages/react-start-plugin/src/index.ts
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
Labels: package: react-start-plugin

checkpoint
  packages/react-start-plugin/src/index.ts
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/routesManifestPlugin.ts
  packages/start-server-core/src/router-manifest.ts
Labels: package: react-start-plugin

fix(router-core): move typePrimitives to core package
  packages/react-router/src/typePrimitives.ts
  packages/router-core/src/index.ts
  packages/router-core/src/typePrimitives.ts
  packages/solid-router/src/typePrimitives.ts
Labels: package: react-router, package: router-core, package: solid-router

eslint
  packages/react-router/src/typePrimitives.ts
  packages/router-core/src/scroll-restoration.ts
  packages/router-generator/src/template.ts
  packages/solid-router/src/typePrimitives.ts
  packages/start-client-core/src/createServerFn.ts
Labels: package: react-router, package: router-core, package: router-generator, package: solid-router

use relative imports
  packages/router-core/src/typePrimitives.ts
Labels: package: router-core

replace barrel with named re-exports for typePrimitives
  packages/react-router/src/index.tsx
  packages/router-core/src/index.ts
  packages/solid-router/src/index.tsx
Labels: package: react-router, package: router-core, package: solid-router

fix(router-core): move typePrimitives to shared package (#3748)
  packages/react-router/src/index.tsx
  packages/react-router/src/typePrimitives.ts
  packages/router-core/src/index.ts
  packages/router-core/src/scroll-restoration.ts
  packages/router-core/src/typePrimitives.ts
  packages/router-generator/src/template.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/src/typePrimitives.ts
  packages/start-client-core/src/createServerFn.ts
Labels: package: react-router, package: router-core, package: router-generator, package: solid-router

fix(router-core): move ThrowConstraint to core utils
  packages/react-router/src/useMatch.tsx
  packages/react-router/src/useParams.tsx
  packages/react-router/src/useSearch.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/utils.ts
  packages/solid-router/src/useMatch.tsx
  packages/solid-router/src/useParams.tsx
  packages/solid-router/src/useSearch.tsx
Labels: package: react-router, package: router-core, package: solid-router

fix(router-core): move ThrowConstraint to core utils (#3749)
  packages/react-router/src/useMatch.tsx
  packages/react-router/src/useParams.tsx
  packages/react-router/src/useSearch.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/utils.ts
  packages/solid-router/src/useMatch.tsx
  packages/solid-router/src/useParams.tsx
  packages/solid-router/src/useSearch.tsx
Labels: package: react-router, package: router-core, package: solid-router

fix workspace - rename to tanstack-solid-start-example-basic
  examples/solid/start-basic/package.json
Labels: none

Add example for virtualization for the whole window.
  docs/router/framework/react/guide/scroll-restoration.md
Labels: documentation

fix imports
  examples/solid/start-basic/src/routes/api/users.$id.ts
  examples/solid/start-basic/src/routes/api/users.ts
  examples/solid/start-basic/src/routes/deferred.tsx
  examples/solid/start-basic/src/utils/loggingMiddleware.tsx
  examples/solid/start-basic/src/utils/posts.tsx
Labels: none

fix some imports in solid-start example
  examples/solid/start-basic/src/routes/api/users.$id.ts
  examples/solid/start-basic/src/routes/api/users.ts
  examples/solid/start-basic/src/routes/deferred.tsx
  examples/solid/start-basic/src/utils/loggingMiddleware.tsx
  examples/solid/start-basic/src/utils/posts.tsx
Labels: none

Update server-functions.md
  docs/start/framework/react/server-functions.md
Labels: documentation

Add example for virtualization for the whole window. (#3752)
  docs/router/framework/react/guide/scroll-restoration.md
Labels: documentation

Update server-functions.md
  docs/start/framework/react/server-functions.md
Labels: documentation

docs: Add "response" option details to server-functions.md (#3753)
  docs/start/framework/react/server-functions.md
Labels: documentation

Allow serializer.ts to handle branded types
  packages/router-core/src/serializer.ts
Labels: package: router-core

rework schema
  examples/react/start-basic/vite.config.ts
  packages/react-start-plugin/src/index.ts
  packages/react-start-plugin/src/nitro/build-server.ts
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/nitro/options.ts
  packages/react-start-plugin/src/schema.ts
Labels: package: react-start-plugin

set Content-Type text/html for error overlay
  packages/react-start-plugin/src/nitro/dev-server-plugin.ts
  packages/solid-start-plugin/src/nitro/dev-server-plugin.ts
Labels: package: react-start-plugin, package: solid-start-plugin

prerendering todo
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/schema.ts
Labels: package: react-start-plugin

No nitro exposure
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/schema.ts
Labels: package: react-start-plugin

fix: remove router devtools duplicate peer dependency
  packages/react-router-devtools/package.json
Labels: package: react-router-devtools

sync solid
  packages/solid-start-plugin/src/index.ts
  packages/solid-start-plugin/src/nitro/build-server.ts
  packages/solid-start-plugin/src/nitro/nitro-plugin.ts
  packages/solid-start-plugin/src/nitro/options.ts
  packages/solid-start-plugin/src/schema.ts
Labels: package: solid-start-plugin

docs(quickstart): use create-tsrouter-app for scaffolding a tsrouter app
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

add --framework solid
  docs/router/framework/solid/quick-start.md
Labels: documentation

docs(quickstart): use create-tsrouter-app for scaffolding a tsrouter app (#3759)
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

fix: remove from solid-router-devtools too
  packages/solid-router-devtools/package.json
Labels: package: solid-router-devtools

add target react, for easier mirror to solid
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin
