Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-with-query, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: react-start-api-routes':
  - 'packages/react-start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: react-start-server-functions-client':
  - 'packages/react-start-server-functions-client/**/*'
'package: react-start-server-functions-fetcher':
  - 'packages/react-start-server-functions-fetcher/**/*'
'package: react-start-server-functions-handler':
  - 'packages/react-start-server-functions-handler/**/*'
'package: react-start-server-functions-ssr':
  - 'packages/react-start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

docs: differentiate between "layout" and "pathless layout" routes
  docs/router/framework/react/api/router/RouteOptionsType.md
  docs/router/framework/react/guide/authenticated-routes.md
  docs/router/framework/react/guide/not-found-errors.md
  docs/router/framework/react/guide/type-safety.md
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/overview.md
  docs/router/framework/react/routing/code-based-routing.md
  docs/router/framework/react/routing/file-based-routing.md
  docs/router/framework/react/routing/file-naming-conventions.md
  docs/router/framework/react/routing/route-trees.md
  docs/router/framework/react/routing/routing-concepts.md
  docs/router/framework/react/routing/virtual-file-routes.md
  docs/start/framework/react/api-routes.md
  docs/start/framework/react/learn-the-basics.md
  docs/start/framework/react/overview.md
Labels: documentation

simplify
  packages/react-start-client/src/createServerFn.ts
  packages/react-start-client/src/tests/createServerFn.test-d.tsx
  packages/react-start-server-functions-fetcher/src/index.ts
Labels: package: react-start-client, package: react-start-server-functions-fetcher

docs: corrections
  docs/router/framework/react/guide/not-found-errors.md
  docs/router/framework/react/routing/code-based-routing.md
  docs/router/framework/react/routing/file-based-routing.md
  docs/router/framework/react/routing/route-trees.md
  docs/router/framework/react/routing/routing-concepts.md
  docs/router/framework/react/routing/virtual-file-routes.md
  docs/start/framework/react/api-routes.md
  docs/start/framework/react/learn-the-basics.md
Labels: documentation

docs: add content on "layout" routes
  docs/router/framework/react/routing/code-based-routing.md
  docs/router/framework/react/routing/routing-concepts.md
Labels: documentation

docs: weird formatting artefact
  docs/router/framework/react/routing/routing-concepts.md
Labels: documentation

docs: differentiate between "layout" and "pathless layout" routes (#3599)
  docs/router/framework/react/api/router/RouteOptionsType.md
  docs/router/framework/react/guide/authenticated-routes.md
  docs/router/framework/react/guide/not-found-errors.md
  docs/router/framework/react/guide/type-safety.md
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/overview.md
  docs/router/framework/react/routing/code-based-routing.md
  docs/router/framework/react/routing/file-based-routing.md
  docs/router/framework/react/routing/file-naming-conventions.md
  docs/router/framework/react/routing/route-trees.md
  docs/router/framework/react/routing/routing-concepts.md
  docs/router/framework/react/routing/virtual-file-routes.md
  docs/start/framework/react/api-routes.md
  docs/start/framework/react/learn-the-basics.md
  docs/start/framework/react/overview.md
Labels: documentation

fix returning readable stream etc
  e2e/react-start/server-functions/app/routes/submit-post-formdata.tsx
  packages/react-start-server-functions-fetcher/src/index.ts
  packages/react-start-server-functions-handler/src/index.ts
Labels: package: react-start-server-functions-fetcher, package: react-start-server-functions-handler

feat(start): allow to return raw response from server function (#3532)
  e2e/react-start/server-functions/app/routeTree.gen.ts
  e2e/react-start/server-functions/app/routes/consistent.tsx
  e2e/react-start/server-functions/app/routes/index.tsx
  e2e/react-start/server-functions/app/routes/raw-response.tsx
  e2e/react-start/server-functions/app/routes/submit-post-formdata.tsx
  e2e/react-start/server-functions/tests/server-functions.spec.ts
  packages/react-start-client/src/createMiddleware.ts
  packages/react-start-client/src/createServerFn.ts
  packages/react-start-client/src/tests/createServerFn.test-d.tsx
  packages/react-start-server-functions-fetcher/src/index.ts
  packages/react-start-server-functions-handler/src/index.ts
  packages/router-core/src/serializer.ts
Labels: package: react-start-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: router-core

chore(examples): forgot to add this one
  examples/react/location-masking/src/main.tsx
Labels: none

chore(examples): migrate the with-framer-motion example
  examples/react/with-framer-motion/src/main.tsx
Labels: none

chore(examples): checkpoint react-start examples
  examples/react/start-basic-auth/app/routeTree.gen.ts
  examples/react/start-basic-auth/app/routes/_authed/posts.route.tsx
  examples/react/start-basic-react-query/app/routeTree.gen.ts
  examples/react/start-basic-react-query/app/routes/__root.tsx
  examples/react/start-basic-react-query/app/routes/_layout.tsx
  examples/react/start-basic-react-query/app/routes/_layout/_layout-2/layout-a.tsx
  examples/react/start-basic-react-query/app/routes/_pathlessLayout.tsx
  examples/react/start-basic-react-query/app/routes/_pathlessLayout/_nested-layout.tsx
  examples/react/start-basic-react-query/app/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/react/start-basic-react-query/app/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/react/start-basic-react-query/app/routes/posts.route.tsx
  examples/react/start-basic-react-query/app/routes/users.route.tsx
  examples/react/start-basic-rsc/app/routeTree.gen.ts
  examples/react/start-basic-rsc/app/routes/__root.tsx
  examples/react/start-basic-rsc/app/routes/_pathlessLayout.tsx
  examples/react/start-basic-rsc/app/routes/_pathlessLayout/_nested-layout.tsx
  examples/react/start-basic-rsc/app/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/react/start-basic-rsc/app/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/react/start-basic-static/app/routeTree.gen.ts
  examples/react/start-basic-static/app/routes/__root.tsx
  examples/react/start-basic-static/app/routes/_pathlessLayout.tsx
  examples/react/start-basic-static/app/routes/_pathlessLayout/_nested-layout.tsx
  examples/react/start-basic-static/app/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/react/start-basic-static/app/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/react/start-basic/app/routeTree.gen.ts
  examples/react/start-basic/app/routes/__root.tsx
  examples/react/start-basic/app/routes/_layout.tsx
  examples/react/start-basic/app/routes/_layout/_layout-2/layout-b.tsx
  examples/react/start-basic/app/routes/_pathlessLayout.tsx
  examples/react/start-basic/app/routes/_pathlessLayout/_nested-layout.tsx
  examples/react/start-basic/app/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/react/start-basic/app/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/react/start-basic/app/routes/posts.route.tsx
  examples/react/start-basic/app/routes/users.route.tsx
Labels: none

chore(examples): checkpoint solid-router examples
  examples/solid/basic-file-based/src/routeTree.gen.ts
  examples/solid/basic-file-based/src/routes/__root.tsx
  examples/solid/basic-file-based/src/routes/_pathlessLayout.tsx
  examples/solid/basic-file-based/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/solid/basic-file-based/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/solid/basic-file-based/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/solid/basic-solid-query-file-based/src/routeTree.gen.ts
  examples/solid/basic-solid-query-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query-file-based/src/routes/_pathlessLayout.tsx
  examples/solid/basic-solid-query-file-based/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/solid/basic-solid-query-file-based/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/solid/basic-solid-query-file-based/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/solid/basic-solid-query/src/main.tsx
  examples/solid/basic-solid-query/src/posts.lazy.tsx
  examples/solid/kitchen-sink-file-based/src/routeTree.gen.ts
  examples/solid/kitchen-sink-file-based/src/routes/__root.tsx
  examples/solid/kitchen-sink-file-based/src/routes/_layout.tsx
  examples/solid/kitchen-sink-file-based/src/routes/_pathlessLayout.route-a.tsx
  examples/solid/kitchen-sink-file-based/src/routes/_pathlessLayout.route-b.tsx
  examples/solid/kitchen-sink-file-based/src/routes/_pathlessLayout.tsx
  examples/solid/kitchen-sink-file-based/src/routes/dashboard.invoices.route.tsx
  examples/solid/kitchen-sink-file-based/src/routes/dashboard.route.tsx
  examples/solid/kitchen-sink-file-based/src/routes/dashboard.users.route.tsx
Labels: none

Documentation proofreading
  docs/router/framework/react/api/router/RouteOptionsType.md
  docs/router/framework/react/api/router/RouterOptionsType.md
  docs/router/framework/react/api/router/useBlockerHook.md
Labels: documentation

docs: Provide default type in type-utilities examples
  docs/router/framework/react/guide/type-utilities.md
Labels: documentation

Update type-utilities.md
  docs/router/framework/react/guide/type-utilities.md
Labels: documentation

fix(react-start-client): export `ServerFnResponseType` type
  packages/react-start-client/src/index.tsx
Labels: package: react-start-client

Documentation proofreading (#3603)
  docs/router/framework/react/api/router/RouteOptionsType.md
  docs/router/framework/react/api/router/RouterOptionsType.md
  docs/router/framework/react/api/router/useBlockerHook.md
Labels: documentation

fix(react-start-client): export `ServerFnResponseType` type (#3605)
  packages/react-start-client/src/index.tsx
Labels: package: react-start-client

docs: Provide default `RegisteredRouter` type in type-utilities examples (#3604)
  docs/router/framework/react/guide/type-utilities.md
Labels: documentation

release: v1.112.1
  examples/react/basic-ssr-file-based/package.json
  examples/react/basic-ssr-streaming-file-based/package.json
  examples/react/start-bare/package.json
  examples/react/start-basic-auth/package.json
  examples/react/start-basic-react-query/package.json
  examples/react/start-basic-rsc/package.json
  examples/react/start-basic-static/package.json
  examples/react/start-basic/package.json
  examples/react/start-clerk-basic/package.json
  examples/react/start-convex-trellaux/package.json
  examples/react/start-counter/package.json
  examples/react/start-large/package.json
  examples/react/start-supabase-basic/package.json
  examples/react/start-trellaux/package.json
  examples/react/with-trpc-react-query/package.json
  examples/react/with-trpc/package.json
  packages/create-start/package.json
  packages/react-start-api-routes/package.json
  packages/react-start-client/package.json
  packages/react-start-config/package.json
  packages/react-start-server-functions-client/package.json
  packages/react-start-server-functions-fetcher/package.json
  packages/react-start-server-functions-handler/package.json
  packages/react-start-server-functions-ssr/package.json
  packages/react-start-server/package.json
  packages/react-start/package.json
  packages/start-config/package.json
  packages/start/package.json
Labels: package: create-start, package: react-start, package: react-start-api-routes, package: react-start-client, package: react-start-config, package: react-start-server, package: react-start-server-functions-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-server-functions-ssr, package: start, package: start-config

feat(react-start-api-routes): Write the matched route path as unenumerable to request object
  packages/react-start-api-routes/src/index.ts
Labels: package: react-start-api-routes

test(react-start): check change to meta tags on client navigation
  e2e/react-start/basic/app/routes/posts.tsx
  e2e/react-start/basic/tests/navigation.spec.ts
Labels: none

test(react-router) should update title on nav
  e2e/react-router/basic-file-based/src/routes/posts.tsx
  e2e/react-router/basic-file-based/tests/app.spec.ts
Labels: none

also test solid-router
  e2e/solid-router/basic-file-based/src/routes/posts.tsx
  e2e/solid-router/basic-file-based/tests/app.spec.ts
Labels: none

test(basic-tsr-config): make test more strict
  e2e/react-start/basic-tsr-config/tests/app.spec.ts
Labels: none

fix: createFileRoute without path
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/index.tsx
  e2e/react-router/basic-file-based/src/routes/posts.$postId.tsx
  e2e/react-router/basic-file-based/src/routes/posts.tsx
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/index.tsx
  packages/react-router/vite.config.ts
  packages/router-generator/src/generator.ts
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/vite.config.ts
Labels: package: react-router, package: router-generator, package: solid-router

even less verbose
  e2e/react-router/basic-file-based/src/routes/(group)/lazyinside.tsx
  e2e/react-router/basic-file-based/src/routes/index.tsx
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/router.ts
Labels: package: react-router

less verbose
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/(another-group)/onlyrouteinside.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/_layout.insidelayout.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/_layout.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/inside.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/lazyinside.lazy.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/subfolder/inside.tsx
  e2e/react-router/basic-file-based/src/routes/_layout.tsx
  e2e/react-router/basic-file-based/src/routes/_layout/_layout-2.tsx
  e2e/react-router/basic-file-based/src/routes/_layout/_layout-2/layout-a.tsx
  e2e/react-router/basic-file-based/src/routes/_layout/_layout-2/layout-b.tsx
  e2e/react-router/basic-file-based/src/routes/anchor.tsx
  e2e/react-router/basic-file-based/src/routes/editing-a.tsx
  e2e/react-router/basic-file-based/src/routes/editing-b.tsx
  e2e/react-router/basic-file-based/src/routes/params.single.$value.tsx
  e2e/react-router/basic-file-based/src/routes/posts.$postId.tsx
  e2e/react-router/basic-file-based/src/routes/posts.index.tsx
  e2e/react-router/basic-file-based/src/routes/posts_.$postId.edit.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/$target.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/$target/index.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/$target/via-beforeLoad.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/$target/via-loader.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/index.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/preload/first.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/preload/second.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/preload/third.tsx
  e2e/react-router/basic-file-based/src/routes/structural-sharing.$enabled.tsx
  packages/router-generator/src/generator.ts
Labels: package: router-generator

fix client navigation meta tags for router
  e2e/solid-router/basic-esbuild-file-based/index.html
  e2e/solid-router/basic-esbuild-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based-code-splitting/index.html
  e2e/solid-router/basic-file-based-code-splitting/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/index.html
  e2e/solid-router/basic-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/src/routes/posts.tsx
  e2e/solid-router/basic-file-based/tests/app.spec.ts
  e2e/solid-router/basic-scroll-restoration/index.html
  e2e/solid-router/basic-scroll-restoration/src/main.tsx
  e2e/solid-router/basic-solid-query-file-based/index.html
  e2e/solid-router/basic-solid-query-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-solid-query/index.html
  e2e/solid-router/basic-solid-query/src/main.tsx
  e2e/solid-router/basic-virtual-file-based/index.html
  e2e/solid-router/basic-virtual-file-based/src/routes/root.tsx
  e2e/solid-router/basic-virtual-named-export-config-file-based/index.html
  e2e/solid-router/basic-virtual-named-export-config-file-based/src/routes/root.tsx
  e2e/solid-router/basic/index.html
  e2e/solid-router/basic/src/main.tsx
  e2e/solid-router/rspack-basic-file-based/src/routes/__root.tsx
  e2e/solid-router/rspack-basic-virtual-named-export-config-file-based/src/routes/root.tsx
  e2e/solid-router/scroll-restoration-sandbox-vite/index.html
  e2e/solid-router/scroll-restoration-sandbox-vite/src/routes/__root.tsx
  examples/solid/basic-file-based/index.html
  examples/solid/basic-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query-file-based/index.html
  examples/solid/basic-solid-query-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query/index.html
  examples/solid/basic-solid-query/src/main.tsx
  examples/solid/kitchen-sink-file-based/index.html
  examples/solid/kitchen-sink-file-based/src/routes/__root.tsx
  examples/solid/quickstart-file-based/index.html
  examples/solid/quickstart-file-based/src/routes/__root.tsx
  packages/solid-router/package.json
  packages/solid-router/src/Asset.tsx
  packages/solid-router/src/HeadContent.tsx
  packages/solid-router/tests/Scripts.test.tsx
  pnpm-lock.yaml
Labels: package: solid-router

format
  e2e/solid-router/basic-esbuild-file-based/index.html
Labels: none

remove solid-router
  e2e/solid-router/basic-file-based/src/posts.tsx
  e2e/solid-router/basic-file-based/tests/app.spec.ts
Labels: none

remove solid
  e2e/solid-router/basic-file-based/src/posts.tsx
  e2e/solid-router/basic-file-based/src/routes/posts.tsx
Labels: none

export useTags
  packages/solid-router/src/index.tsx
Labels: package: solid-router

remove title from index.html
  e2e/react-router/basic-file-based/index.html
Labels: none

bump solid
  e2e/solid-router/basic-esbuild-file-based/package.json
  e2e/solid-router/basic-file-based-code-splitting/package.json
  e2e/solid-router/basic-file-based/package.json
  e2e/solid-router/basic-scroll-restoration/package.json
  e2e/solid-router/basic-solid-query-file-based/package.json
  e2e/solid-router/basic-solid-query/package.json
  e2e/solid-router/basic-virtual-file-based/package.json
  e2e/solid-router/basic-virtual-named-export-config-file-based/package.json
  e2e/solid-router/basic/package.json
  e2e/solid-router/rspack-basic-file-based/package.json
  e2e/solid-router/rspack-basic-virtual-named-export-config-file-based/package.json
  e2e/solid-router/scroll-restoration-sandbox-vite/package.json
  e2e/solid-start/basic/test-results/.last-run.json
  e2e/solid-start/server-functions/test-results/.last-run.json
  examples/solid/basic-file-based/package.json
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query/package.json
  examples/solid/kitchen-sink-file-based/package.json
  examples/solid/quickstart-file-based/package.json
  packages/solid-router/package.json
Labels: package: solid-router

lock
  pnpm-lock.yaml
Labels: none

remove last-run files
  e2e/solid-start/basic/test-results/.last-run.json
  e2e/solid-start/server-functions/test-results/.last-run.json
Labels: none

solid-start-server
  packages/solid-start-server/README.md
  packages/solid-start-server/eslint.config.js
  packages/solid-start-server/package.json
  packages/solid-start-server/src/StartServer.tsx
  packages/solid-start-server/src/createRequestHandler.ts
  packages/solid-start-server/src/createStartHandler.ts
  packages/solid-start-server/src/defaultRenderHandler.tsx
  packages/solid-start-server/src/defaultStreamHandler.tsx
  packages/solid-start-server/src/handlerCallback.ts
  packages/solid-start-server/src/index.tsx
  packages/solid-start-server/src/ssr-server.ts
  packages/solid-start-server/src/transformStreamWithRouter.ts
  packages/solid-start-server/src/tsrScript.ts
  packages/solid-start-server/src/vite-env.d.ts
  packages/solid-start-server/tests/h3-wrappers.test-d.ts
  packages/solid-start-server/tsconfig.json
  packages/solid-start-server/vite-minify-plugin.ts
  packages/solid-start-server/vite.config.ts
Labels: none

solid-start-client
  packages/solid-start-client/package.json
  packages/solid-start-client/src/serializer.ts
  packages/solid-start-client/src/tests/createServerFn.test-d.tsx
  packages/solid-start-client/src/tests/setupTests.tsx
  packages/solid-start-client/tsconfig.json
  packages/solid-start-client/vite.config.ts
  packages/solid-start-server/package.json
  pnpm-lock.yaml
Labels: none

class
  e2e/solid-start/basic/app/components/CustomMessage.tsx
  e2e/solid-start/basic/app/components/DefaultCatchBoundary.tsx
  e2e/solid-start/basic/app/components/NotFound.tsx
  e2e/solid-start/basic/app/routes/__root.tsx
  e2e/solid-start/basic/app/routes/_layout.tsx
  e2e/solid-start/basic/app/routes/_layout/_layout-2.tsx
  e2e/solid-start/basic/app/routes/deferred.tsx
  e2e/solid-start/basic/app/routes/index.tsx
  e2e/solid-start/basic/app/routes/links.tsx
  e2e/solid-start/basic/app/routes/not-found/index.tsx
  e2e/solid-start/basic/app/routes/posts.$postId.tsx
  e2e/solid-start/basic/app/routes/posts.tsx
  e2e/solid-start/basic/app/routes/posts_.$postId.deep.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/index.tsx
  e2e/solid-start/basic/app/routes/redirect/$target/serverFn/index.tsx
  e2e/solid-start/basic/app/routes/redirect/index.tsx
  e2e/solid-start/basic/app/routes/scripts.tsx
  e2e/solid-start/basic/app/routes/stream.tsx
  e2e/solid-start/basic/app/routes/users.$userId.tsx
  e2e/solid-start/basic/app/routes/users.tsx
  e2e/solid-start/basic/tsconfig.json
Labels: none
