Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

chore(e2e): move hash related test utils to the shared package (#3782)
  e2e/e2e-utils/src/index.ts
  e2e/e2e-utils/src/resolve-runtime-suffix.ts
  e2e/e2e-utils/src/to-runtime-path.ts
  e2e/react-router/basic-esbuild-file-based/.gitignore
  e2e/react-router/basic-file-based-code-splitting/.gitignore
  e2e/react-router/basic-file-based/.gitignore
  e2e/react-router/basic-react-query-file-based/.gitignore
  e2e/react-router/basic-react-query/.gitignore
  e2e/react-router/basic-scroll-restoration/.gitignore
  e2e/react-router/basic-virtual-file-based/.gitignore
  e2e/react-router/basic-virtual-named-export-config-file-based/.gitignore
  e2e/react-router/basic/.gitignore
  e2e/react-router/rspack-basic-file-based/.gitignore
  e2e/react-router/rspack-basic-virtual-named-export-config-file-based/.gitignore
  e2e/react-router/scroll-restoration-sandbox-vite/playwright.browser.config.ts
  e2e/react-router/scroll-restoration-sandbox-vite/playwright.hash.config.ts
  e2e/react-router/scroll-restoration-sandbox-vite/tests/app.spec.ts
  e2e/react-router/sentry-integration/.gitignore
  e2e/solid-router/basic-esbuild-file-based/.gitignore
  e2e/solid-router/basic-file-based-code-splitting/.gitignore
  e2e/solid-router/basic-file-based/.gitignore
  e2e/solid-router/basic-scroll-restoration/.gitignore
  e2e/solid-router/basic-solid-query-file-based/.gitignore
  e2e/solid-router/basic-solid-query/.gitignore
  e2e/solid-router/basic-virtual-file-based/.gitignore
  e2e/solid-router/basic-virtual-named-export-config-file-based/.gitignore
  e2e/solid-router/basic/.gitignore
  e2e/solid-router/rspack-basic-file-based/.gitignore
  e2e/solid-router/rspack-basic-virtual-named-export-config-file-based/.gitignore
  e2e/solid-router/scroll-restoration-sandbox-vite/playwright.browser.config.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/playwright.config.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/playwright.hash.config.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/tests/app.spec.ts
Labels: none

chore(root): script for cleaning up packages
  package.json
  scripts/cleanup-empty-packages.mjs
Labels: none

fix wrong command
  docs/router/framework/react/guide/tanstack-start.md
Labels: documentation

[DOCS] : Fix wrong getting started command (#3788)
  docs/router/framework/react/guide/tanstack-start.md
Labels: documentation

docs: add view-transitions example
  docs/router/config.json
  examples/react/view-transitions/.gitignore
  examples/react/view-transitions/.vscode/settings.json
  examples/react/view-transitions/README.md
  examples/react/view-transitions/index.html
  examples/react/view-transitions/package.json
  examples/react/view-transitions/postcss.config.mjs
  examples/react/view-transitions/src/main.tsx
  examples/react/view-transitions/src/posts.tsx
  examples/react/view-transitions/src/routeTree.gen.ts
  examples/react/view-transitions/src/routes/__root.tsx
  examples/react/view-transitions/src/routes/explore.tsx
  examples/react/view-transitions/src/routes/how-it-works.tsx
  examples/react/view-transitions/src/routes/index.tsx
  examples/react/view-transitions/src/routes/posts.$postId.tsx
  examples/react/view-transitions/src/routes/posts.index.tsx
  examples/react/view-transitions/src/routes/posts.route.tsx
  examples/react/view-transitions/src/styles.css
  examples/react/view-transitions/tailwind.config.mjs
  examples/react/view-transitions/tsconfig.dev.json
  examples/react/view-transitions/tsconfig.json
  examples/react/view-transitions/vite.config.js
  pnpm-lock.yaml
Labels: documentation

fix package name
  examples/react/view-transitions/package.json
Labels: none

docs: add jsdoc to types NavigateOptionProps, ActiveOptions, MatchRouteOptions and Redirect
  packages/router-core/src/Matches.ts
  packages/router-core/src/link.ts
  packages/router-core/src/redirect.ts
Labels: package: router-core

refactor(router-core): decorate with JSDoc comments for `NavigateOptionProps`, `ActiveOptions`, `MatchRouteOptions` and `Redirect` (#3792)
  packages/router-core/src/Matches.ts
  packages/router-core/src/link.ts
  packages/router-core/src/redirect.ts
Labels: package: router-core

add extra comments for clarity, use implicit true
  examples/react/view-transitions/src/main.tsx
  examples/react/view-transitions/src/routes/__root.tsx
  examples/react/view-transitions/src/routes/explore.tsx
  examples/react/view-transitions/src/routes/how-it-works.tsx
  examples/react/view-transitions/src/routes/index.tsx
  examples/react/view-transitions/src/routes/posts.route.tsx
  examples/react/view-transitions/src/styles.css
Labels: none

Update examples/react/view-transitions/src/main.tsx
  examples/react/view-transitions/src/main.tsx
Labels: none

docs(react-router): add view transitions example (#3791)
  docs/router/config.json
  examples/react/view-transitions/.gitignore
  examples/react/view-transitions/.vscode/settings.json
  examples/react/view-transitions/README.md
  examples/react/view-transitions/index.html
  examples/react/view-transitions/package.json
  examples/react/view-transitions/postcss.config.mjs
  examples/react/view-transitions/src/main.tsx
  examples/react/view-transitions/src/posts.tsx
  examples/react/view-transitions/src/routeTree.gen.ts
  examples/react/view-transitions/src/routes/__root.tsx
  examples/react/view-transitions/src/routes/explore.tsx
  examples/react/view-transitions/src/routes/how-it-works.tsx
  examples/react/view-transitions/src/routes/index.tsx
  examples/react/view-transitions/src/routes/posts.$postId.tsx
  examples/react/view-transitions/src/routes/posts.index.tsx
  examples/react/view-transitions/src/routes/posts.route.tsx
  examples/react/view-transitions/src/styles.css
  examples/react/view-transitions/tailwind.config.mjs
  examples/react/view-transitions/tsconfig.dev.json
  examples/react/view-transitions/tsconfig.json
  examples/react/view-transitions/vite.config.js
  pnpm-lock.yaml
Labels: documentation

fix(router-docs): Update url to start-counter example
  docs/start/framework/react/quick-start.md
Labels: documentation

Apply suggestions from code review
  docs/start/framework/react/quick-start.md
Labels: documentation

docs(start): fix broken url to the `start-counter` example (#3795)
  docs/start/framework/react/quick-start.md
Labels: documentation

checkpoint
  docs/router/framework/react/overview.md
  docs/start/framework/react/hosting.md
  docs/start/framework/react/learn-the-basics.md
  docs/start/framework/react/overview.md
  docs/start/framework/react/static-prerendering.md
  examples/react/start-basic/src/routes/api/users.$id.ts
  examples/react/start-basic/src/routes/api/users.ts
  examples/react/start-basic/src/routes/users.$userId.tsx
  examples/react/start-basic/src/routes/users.tsx
  examples/react/start-basic/vite.config.ts
  packages/start-api-routes/src/index.ts
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/route.ts
  packages/start-client-core/src/tests/createServerFn.test-d.ts
Labels: package: start-api-routes, documentation

checkpoint
  examples/react/start-basic/src/routeTree.gen.ts
  examples/react/start-basic/src/routes/users.$userId.tsx
  packages/react-start-client/src/index.tsx
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/route.ts
  packages/start-client-core/src/serverRoute.ts
Labels: package: react-start-client

Squashed commit of the following:
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/(another-group)/onlyrouteinside.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/_layout.insidelayout.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/_layout.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/inside.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/lazyinside.lazy.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/lazyinside.tsx
  e2e/react-router/basic-file-based/src/routes/(group)/subfolder/inside.tsx
  e2e/react-router/basic-file-based/src/routes/_layout.tsx
  e2e/react-router/basic-file-based/src/routes/_layout/_layout-2.tsx
  e2e/react-router/basic-file-based/src/routes/_layout/_layout-2/layout-a.tsx
  e2e/react-router/basic-file-based/src/routes/_layout/_layout-2/layout-b.tsx
  e2e/react-router/basic-file-based/src/routes/anchor.tsx
  e2e/react-router/basic-file-based/src/routes/editing-a.tsx
  e2e/react-router/basic-file-based/src/routes/editing-b.tsx
  e2e/react-router/basic-file-based/src/routes/index.tsx
  e2e/react-router/basic-file-based/src/routes/params.single.$value.tsx
  e2e/react-router/basic-file-based/src/routes/posts.$postId.tsx
  e2e/react-router/basic-file-based/src/routes/posts.index.tsx
  e2e/react-router/basic-file-based/src/routes/posts.tsx
  e2e/react-router/basic-file-based/src/routes/posts_.$postId.edit.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/$target.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/$target/index.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/$target/via-beforeLoad.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/$target/via-loader.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/index.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/preload/first.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/preload/second.tsx
  e2e/react-router/basic-file-based/src/routes/redirect/preload/third.tsx
  e2e/react-router/basic-file-based/src/routes/structural-sharing.$enabled.tsx
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/index.tsx
  packages/react-router/src/router.ts
  packages/react-router/vite.config.ts
  packages/router-generator/src/generator.ts
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/vite.config.ts
Labels: package: react-router, package: router-generator, package: solid-router

fix(examples): Convex Trellaux board update not working
  examples/react/start-convex-trellaux/convex/board.ts
Labels: none

move route
  packages/react-router/src/route.ts
  packages/router-core/src/index.ts
  packages/router-core/src/route.ts
  packages/solid-router/src/route.ts
Labels: package: react-router, package: router-core, package: solid-router

refactor(router-core): move internals of Route to router-core (#3803)
  packages/react-router/src/route.ts
  packages/router-core/src/index.ts
  packages/router-core/src/route.ts
  packages/solid-router/src/route.ts
Labels: package: react-router, package: router-core, package: solid-router

refactor(router-core): create RouterCore base class
  packages/react-router/src/index.tsx
  packages/react-router/src/router.ts
  packages/router-core/package.json
  packages/router-core/src/history.ts
  packages/router-core/src/index.ts
  packages/router-core/src/router.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/src/router.ts
  pnpm-lock.yaml
Labels: package: react-router, package: router-core, package: solid-router

syntax fixes
  e2e/react-router/basic-esbuild-file-based/src/routes/__root.tsx
  e2e/react-start/basic/src/routes/deferred.tsx
  e2e/solid-start/basic/src/routes/deferred.tsx
  examples/react/kitchen-sink-file-based/src/routes/__root.tsx
  examples/react/kitchen-sink-react-query-file-based/src/routes/__root.tsx
  examples/react/kitchen-sink-react-query/src/main.tsx
  examples/react/kitchen-sink/src/main.tsx
  examples/react/start-basic/src/routes/deferred.tsx
  examples/react/with-framer-motion/src/main.tsx
  examples/react/with-trpc-react-query/src/routes/__root.tsx
  examples/react/with-trpc/src/routes/__root.tsx
  examples/solid/kitchen-sink-file-based/src/routes/__root.tsx
  examples/solid/start-basic/src/routes/deferred.tsx
  packages/solid-router/src/router.ts
Labels: package: solid-router

cleanup
  packages/react-router/src/router.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: solid-router

eslint any to invoices
  examples/react/authenticated-routes-firebase/src/routes/_auth.invoices.tsx
  examples/react/authenticated-routes/src/routes/_auth.invoices.tsx
Labels: none

fix examples
  examples/react/kitchen-sink-file-based/src/routes/dashboard.invoices.route.tsx
  examples/react/kitchen-sink-react-query-file-based/src/routes/dashboard.invoices.route.tsx
  examples/solid/kitchen-sink-file-based/src/routes/dashboard.invoices.route.tsx
Labels: none

format
  examples/react/kitchen-sink-file-based/src/routes/__root.tsx
  examples/react/kitchen-sink-react-query-file-based/src/routes/__root.tsx
  examples/react/kitchen-sink-react-query/src/main.tsx
  examples/react/kitchen-sink/src/main.tsx
  examples/react/with-framer-motion/src/main.tsx
  examples/react/with-trpc-react-query/src/routes/__root.tsx
  examples/react/with-trpc/src/routes/__root.tsx
  examples/solid/kitchen-sink-file-based/src/routes/__root.tsx
Labels: none

cleanup
  packages/react-router/src/route.ts
  packages/react-router/src/routerContext.tsx
  packages/solid-router/src/route.ts
Labels: package: react-router, package: solid-router

format
  examples/react/start-large/src/typePrimitives.tsx
  examples/solid/kitchen-sink-file-based/src/routes/dashboard.users.route.tsx
Labels: none

fix e2e
  examples/react/basic-default-search-params/src/main.tsx
  examples/react/deferred-data/src/main.tsx
  examples/react/kitchen-sink-file-based/src/routes/dashboard.invoices.$invoiceId.tsx
  examples/react/kitchen-sink-file-based/src/routes/dashboard.users.route.tsx
  examples/react/kitchen-sink-react-query-file-based/src/routes/dashboard.invoices.$invoiceId.tsx
  examples/react/kitchen-sink-react-query-file-based/src/routes/dashboard.users.route.tsx
  examples/react/kitchen-sink-react-query/src/main.tsx
  examples/react/kitchen-sink/src/main.tsx
  examples/react/start-large/src/typePrimitives.tsx
  examples/solid/kitchen-sink-file-based/src/routes/dashboard.invoices.$invoiceId.tsx
  examples/solid/kitchen-sink-file-based/src/routes/dashboard.users.route.tsx
Labels: none

docs: typo fix
  docs/router/framework/react/routing/routing-concepts.md
Labels: documentation

fix: use RouterCore instead of Router type
  packages/react-router/src/router.ts
  packages/router-core/src/index.ts
  packages/router-core/src/router.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: router-core, package: solid-router

refactor(router-core): moving internals of Router to router core (#3800)
  packages/react-router/src/index.tsx
  packages/react-router/src/route.ts
  packages/react-router/src/router.ts
  packages/react-router/src/routerContext.tsx
  packages/router-core/package.json
  packages/router-core/src/history.ts
  packages/router-core/src/index.ts
  packages/router-core/src/router.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/src/route.ts
  packages/solid-router/src/router.ts
  pnpm-lock.yaml
Labels: package: react-router, package: router-core, package: solid-router

import createFileRouteImpl
  packages/react-router/src/router.ts
Labels: package: react-router

cleanup imports in solid-start-client
  packages/solid-start-client/src/index.tsx
Labels: package: solid-start-client

createFileRoute-without-path in solid-router
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/router.ts
Labels: package: solid-router

refactor(router-core): abstract shared logic from link
  packages/react-router/src/link.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/link.ts
  packages/solid-router/src/link.tsx
Labels: package: react-router, package: router-core, package: solid-router

docs: typo fix (#3806)
  docs/router/framework/react/routing/routing-concepts.md
Labels: documentation

Add name of parameter for sever function
  docs/start/framework/react/server-functions.md
Labels: documentation

Add note to href docs
  docs/router/framework/react/api/router/NavigateOptionsType.md
Labels: documentation

chore: improve createFileRoute without path
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/index.tsx
  packages/react-router/src/router.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/template.ts
Labels: package: react-router, package: router-generator

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'
