Repository TanStack/router, changes with the labels that .github/labeler.yml gives for each.
All labels: package: arktype-adapter, package: create-router, package: create-start, package: directive-functions-plugin, package: eslint-plugin-router, package: history, package: react-router, package: react-router-devtools, package: react-router-with-query, package: react-start, package: start-api-routes, package: react-start-client, package: react-start-config, package: react-start-plugin, package: react-start-router-manifest, package: react-start-server, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: router-core, package: router-devtools, package: router-devtools-core, package: router-generator, package: router-plugin, package: router-utils, package: router-vite-plugin, package: server-functions-plugin, package: solid-router, package: solid-router-devtools, package: solid-start, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-router-manifest, package: solid-start-server, package: start, package: start-config, package: start-server-functions-server, package: valibot-adapter, package: virtual-file-routes, package: zod-adapter, documentation

.github/labeler.yml:

'package: arktype-adapter':
  - 'packages/arktype-adapter/**/*'
'package: create-router':
  - 'packages/create-router/**/*'
'package: create-start':
  - 'packages/create-start/**/*'
'package: directive-functions-plugin':
  - 'packages/directive-functions-plugin/**/*'
'package: eslint-plugin-router':
  - 'packages/eslint-plugin-router/**/*'
'package: history':
  - 'packages/history/**/*'
'package: react-router':
  - 'packages/react-router/**/*'
'package: react-router-devtools':
  - 'packages/react-router-devtools/**/*'
'package: react-router-with-query':
  - 'packages/react-router-with-query/**/*'
'package: react-start':
  - 'packages/react-start/**/*'
'package: start-api-routes':
  - 'packages/start-api-routes/**/*'
'package: react-start-client':
  - 'packages/react-start-client/**/*'
'package: react-start-config':
  - 'packages/react-start-config/**/*'
'package: react-start-plugin':
  - 'packages/react-start-plugin/**/*'
'package: react-start-router-manifest':
  - 'packages/react-start-router-manifest/**/*'
'package: react-start-server':
  - 'packages/react-start-server/**/*'
'package: start-server-functions-client':
  - 'packages/start-server-functions-client/**/*'
'package: start-server-functions-fetcher':
  - 'packages/start-server-functions-fetcher/**/*'
'package: start-server-functions-handler':
  - 'packages/start-server-functions-handler/**/*'
'package: start-server-functions-ssr':
  - 'packages/start-server-functions-ssr/**/*'
'package: router-cli':
  - 'packages/router-cli/**/*'
'package: router-core':
  - 'packages/router-core/**/*'
'package: router-devtools':
  - 'packages/router-devtools/**/*'
'package: router-devtools-core':
  - 'packages/router-devtools-core/**/*'
'package: router-generator':
  - 'packages/router-generator/**/*'
'package: router-plugin':
  - 'packages/router-plugin/**/*'
'package: router-utils':
  - 'packages/router-utils/**/*'
'package: router-vite-plugin':
  - 'packages/router-vite-plugin/**/*'
'package: server-functions-plugin':
  - 'packages/server-functions-plugin/**/*'
'package: solid-router':
  - 'packages/solid-router/**/*'
'package: solid-router-devtools':
  - 'packages/solid-router-devtools/**/*'
'package: solid-start':
  - 'packages/solid-start/**/*'
'package: solid-start-client':
  - 'packages/solid-start-client/**/*'
'package: solid-start-config':
  - 'packages/solid-start-config/**/*'
'package: solid-start-plugin':
  - 'packages/solid-start-plugin/**/*'
'package: solid-start-router-manifest':
  - 'packages/solid-start-router-manifest/**/*'
'package: solid-start-server':
  - 'packages/solid-start-server/**/*'
'package: start':
  - 'packages/start/**/*'
'package: start-config':
  - 'packages/start-config/**/*'
'package: start-server-functions-server':
  - 'packages/start-server-functions-server/**/*'
'package: valibot-adapter':
  - 'packages/valibot-adapter/**/*'
'package: virtual-file-routes':
  - 'packages/virtual-file-routes/**/*'
'package: zod-adapter':
  - 'packages/zod-adapter/**/*'
'documentation':
  - 'docs/**/*'

add ssr true flag to solid vite plugin
  packages/solid-start-plugin/src/index.ts
Labels: package: solid-start-plugin

fix deferred
  examples/solid/start-basic/src/routes/__root.tsx
Labels: none

fix hydration for solid
  packages/react-start-server/src/createStartHandler.ts
  packages/react-start-server/src/index.tsx
  packages/react-start-server/src/router-manifest.ts
  packages/solid-start-server/src/createStartHandler.ts
  packages/solid-start-server/src/index.tsx
  packages/solid-start-server/src/router-manifest.ts
  packages/solid-start-server/vite.config.ts
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/index.tsx
  packages/start-server-core/src/server-functions-handler.ts
Labels: package: react-start-server, package: solid-start-server

fix(react-router-devtools): remove router devtools duplicate peer dependency (#3758)
  packages/react-router-devtools/package.json
  packages/solid-router-devtools/package.json
Labels: package: react-router-devtools, package: solid-router-devtools

checkpoint prerender
  examples/react/start-basic/vite.config.ts
  packages/react-start-plugin/package.json
  packages/react-start-plugin/src/createPool.ts
  packages/react-start-plugin/src/nitro/build-nitro.ts
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/prerender.ts
  packages/react-start-plugin/src/schema.ts
  pnpm-lock.yaml
Labels: package: react-start-plugin

checkpoint working prototype
  packages/react-router/src/index.tsx
  packages/react-start-plugin/src/nitro/dev-server-plugin.ts
  packages/react-start-server/src/router-manifest.ts
  packages/router-core/src/dev-html.ts
  packages/router-core/src/index.ts
  packages/start-server-core/src/ssr-server.ts
Labels: package: react-router, package: react-start-plugin, package: react-start-server, package: router-core

manifest to more closely resemble solid
  packages/react-start-server/src/router-manifest.ts
Labels: package: react-start-server

retain the same name
  packages/react-start-server/src/router-manifest.ts
Labels: package: react-start-server

remove boolean logic
  packages/router-core/src/dev-html.ts
Labels: package: router-core

extract plugin add-ons to the head
  packages/react-router/src/index.tsx
  packages/react-start-plugin/src/nitro/dev-server-plugin.ts
  packages/react-start-server/src/router-manifest.ts
  packages/router-core/src/dev-html.ts
  packages/router-core/src/index.ts
  packages/solid-router/src/index.tsx
  packages/solid-start-plugin/src/nitro/dev-server-plugin.ts
  packages/start-server-core/src/ssr-server.ts
Labels: package: react-router, package: react-start-plugin, package: react-start-server, package: router-core, package: solid-router, package: solid-start-plugin

move router-manifest to start-server-core
  packages/react-start-server/src/createStartHandler.ts
  packages/react-start-server/src/index.tsx
  packages/solid-start-server/src/createStartHandler.ts
  packages/solid-start-server/src/index.tsx
  packages/solid-start-server/src/router-manifest.ts
  packages/start-server-core/src/index.tsx
  packages/start-server-core/src/router-manifest.ts
Labels: package: react-start-server, package: solid-start-server

move createStartHandler to start-server-core
  packages/react-start-server/src/createStartHandler.ts
  packages/react-start-server/src/index.tsx
  packages/solid-start-server/src/createStartHandler.ts
  packages/solid-start-server/src/index.tsx
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/index.tsx
  packages/start-server-core/src/router-manifest.ts
Labels: package: react-start-server, package: solid-start-server

move h3 wrapper tests to solid-start-server
  packages/solid-start-server/tests/h3-wrappers.test-d.ts
  packages/start-server-core/package.json
  packages/start-server-core/tests/h3-wrappers.test-d.ts
  packages/start-server-core/vite.config.ts
Labels: package: solid-start-server

fix(start-server-core): move h3 wrapper tests to shared packages and enable them (#3765)
  packages/solid-start-server/tests/h3-wrappers.test-d.ts
  packages/start-server-core/package.json
  packages/start-server-core/tests/h3-wrappers.test-d.ts
  packages/start-server-core/vite.config.ts
Labels: package: solid-start-server

release: v1.114.19
  examples/react/basic-ssr-file-based/package.json
  examples/react/basic-ssr-streaming-file-based/package.json
  examples/react/start-bare/package.json
  examples/react/start-basic-auth/package.json
  examples/react/start-basic-react-query/package.json
  examples/react/start-basic-rsc/package.json
  examples/react/start-basic-static/package.json
  examples/react/start-basic/package.json
  examples/react/start-clerk-basic/package.json
  examples/react/start-convex-trellaux/package.json
  examples/react/start-counter/package.json
  examples/react/start-large/package.json
  examples/react/start-material-ui/package.json
  examples/react/start-supabase-basic/package.json
  examples/react/start-trellaux/package.json
  examples/react/with-trpc-react-query/package.json
  examples/react/with-trpc/package.json
  packages/create-start/package.json
  packages/react-start-config/package.json
  packages/react-start-server/package.json
  packages/react-start/package.json
  packages/start-api-routes/package.json
  packages/start-config/package.json
  packages/start-server-core/package.json
  packages/start-server-functions-handler/package.json
  packages/start-server-functions-ssr/package.json
  packages/start/package.json
Labels: package: create-start, package: react-start, package: start-api-routes, package: react-start-config, package: react-start-server, package: start-server-functions-handler, package: start-server-functions-ssr, package: start, package: start-config

make start-plugin rely only on router-core
  packages/react-start-plugin/package.json
  packages/react-start-plugin/src/nitro/dev-server-plugin.ts
  packages/react-start-plugin/src/routesManifestPlugin.ts
  packages/solid-start-plugin/package.json
  packages/solid-start-plugin/src/routesManifestPlugin.ts
Labels: package: react-start-plugin, package: solid-start-plugin

lockfile
  pnpm-lock.yaml
Labels: none

prerender solid-start
  examples/solid/start-basic/vite.config.ts
  package.json
  packages/solid-start-plugin/package.json
  packages/solid-start-plugin/src/createPool.ts
  packages/solid-start-plugin/src/nitro/build-nitro.ts
  packages/solid-start-plugin/src/nitro/nitro-plugin.ts
  packages/solid-start-plugin/src/prerender.ts
  packages/solid-start-plugin/src/schema.ts
  pnpm-lock.yaml
Labels: package: solid-start-plugin

Update useBlockerHook.md
  docs/router/framework/react/api/router/useBlockerHook.md
Labels: documentation

More prerendering goodies
  examples/react/start-basic/src/utils/posts.tsx
  packages/react-start-plugin/src/Queue.ts
  packages/react-start-plugin/src/createPool.ts
  packages/react-start-plugin/src/nitro/nitro-plugin.ts
  packages/react-start-plugin/src/prerender.ts
  packages/react-start-plugin/src/schema.ts
Labels: package: react-start-plugin

prerender onSuccess callback
  packages/react-start-plugin/src/prerender.ts
  packages/react-start-plugin/src/schema.ts
Labels: package: react-start-plugin

sync solid
  examples/solid/start-basic/src/utils/posts.tsx
  packages/solid-start-plugin/src/Queue.ts
  packages/solid-start-plugin/src/createPool.ts
  packages/solid-start-plugin/src/nitro/nitro-plugin.ts
  packages/solid-start-plugin/src/prerender.ts
  packages/solid-start-plugin/src/schema.ts
Labels: package: solid-start-plugin

sync solid
  packages/solid-start-plugin/src/prerender.ts
  packages/solid-start-plugin/src/schema.ts
Labels: package: solid-start-plugin

format
  examples/solid/start-basic/src/routes/__root.tsx
  examples/solid/start-basic/src/routes/posts_.$postId.deep.tsx
  packages/solid-start-plugin/src/nitro/nitro-plugin.ts
  packages/start-plugin-core/package.json
  packages/start-plugin-core/src/compilers.ts
  packages/start-server-core/src/index.tsx
  packages/start-server-functions-ssr/package.json
Labels: package: start-server-functions-ssr, package: solid-start-plugin

fix(router-devtools-core): propagate toggleButtonProps properly
  packages/react-router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools-core/src/TanStackRouterDevtoolsCore.tsx
Labels: package: react-router-devtools, package: router-devtools-core

fix(router-devtools-core): propagate toggleButtonProps properly (#3768)
  packages/react-router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools-core/src/TanStackRouterDevtoolsCore.tsx
Labels: package: react-router-devtools, package: router-devtools-core

fix(router-docs): update notes on devtools in quickstart guide
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

fix(router-docs): update notes on devtools in quickstart guide (#3769)
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

fix(react-router-devtools): remove console warnings from useRouter
  packages/react-router-devtools/src/TanStackRouterDevtools.tsx
Labels: package: react-router-devtools

fix(react-router-devtools): remove console warnings from useRouter (#3770)
  packages/react-router-devtools/src/TanStackRouterDevtools.tsx
Labels: package: react-router-devtools

docs: Update useBlockerHook.md (#3767)
  docs/router/framework/react/api/router/useBlockerHook.md
Labels: documentation

Fix external-data-loading.md typo
  docs/router/framework/react/guide/external-data-loading.md
Labels: documentation

docs: typo in the "external-data-loading" guide (#3772)
  docs/router/framework/react/guide/external-data-loading.md
Labels: documentation

fix(history): Fix double-slash regression introduced by #3644
  packages/history/src/index.ts
Labels: package: history

Fix tests
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

fix(history): double `/` being added in hash routing (#3779)
  packages/history/src/index.ts
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

chore(e2e): add `toRuntimePath` util
  e2e/e2e-utils/src/index.ts
  e2e/e2e-utils/src/to-runtime-path.ts
  e2e/react-router/scroll-restoration-sandbox-vite/tests/app.spec.ts
Labels: none

chore(e2e): add `resolveRuntimeSuffix` util
  e2e/e2e-utils/src/index.ts
  e2e/e2e-utils/src/resolve-runtime-suffix.ts
  e2e/react-router/scroll-restoration-sandbox-vite/playwright.browser.config.ts
  e2e/react-router/scroll-restoration-sandbox-vite/playwright.hash.config.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/playwright.browser.config.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/playwright.config.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/playwright.hash.config.ts
Labels: none

chore(e2e): gitignore `dist-hash`
  e2e/react-router/basic-esbuild-file-based/.gitignore
  e2e/react-router/basic-file-based-code-splitting/.gitignore
  e2e/react-router/basic-file-based/.gitignore
  e2e/react-router/basic-react-query-file-based/.gitignore
  e2e/react-router/basic-react-query/.gitignore
  e2e/react-router/basic-scroll-restoration/.gitignore
  e2e/react-router/basic-virtual-file-based/.gitignore
  e2e/react-router/basic-virtual-named-export-config-file-based/.gitignore
  e2e/react-router/basic/.gitignore
  e2e/react-router/rspack-basic-file-based/.gitignore
  e2e/react-router/rspack-basic-virtual-named-export-config-file-based/.gitignore
  e2e/react-router/sentry-integration/.gitignore
  e2e/solid-router/basic-esbuild-file-based/.gitignore
  e2e/solid-router/basic-file-based-code-splitting/.gitignore
  e2e/solid-router/basic-file-based/.gitignore
  e2e/solid-router/basic-scroll-restoration/.gitignore
  e2e/solid-router/basic-solid-query-file-based/.gitignore
  e2e/solid-router/basic-solid-query/.gitignore
  e2e/solid-router/basic-virtual-file-based/.gitignore
  e2e/solid-router/basic-virtual-named-export-config-file-based/.gitignore
  e2e/solid-router/basic/.gitignore
  e2e/solid-router/rspack-basic-file-based/.gitignore
  e2e/solid-router/rspack-basic-virtual-named-export-config-file-based/.gitignore
Labels: none

chore(e2e): use `toRuntimePath` in `solid-router` test for scroll
  e2e/solid-router/scroll-restoration-sandbox-vite/tests/app.spec.ts
Labels: none
