Repository TanStack/router, pull requests merged in 2025-08, with the labels that each got.

#4801 Fix code example typo in document-head-management.md
  docs/router/framework/react/guide/document-head-management.md
Labels: documentation

#4825 docs(router): list `preload` as navigation `cause` value
  docs/router/framework/react/guide/data-loading.md
Labels: documentation

#4849 docs(router): update URL for Query
  docs/router/framework/react/guide/deferred-data-loading.md
  docs/router/framework/react/guide/external-data-loading.md
Labels: documentation

#4671 fix(router-devtools-core): allow styling of TanStackRouterDevtoolsPanel
  examples/react/basic-devtools-panel/src/main.tsx
  packages/router-devtools-core/src/TanStackRouterDevtoolsPanelCore.tsx
Labels: package: router-devtools-core

#4779 docs(hosting): correct Cloudflare Workers wrangler.toml
  docs/start/framework/react/hosting.md
Labels: documentation

#4860 fix: do not create temp subdirectories for router generator
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
Labels: package: router-generator

#4882 fix(router-generator): use the tmpDir when genearting a temporary filename
  packages/router-generator/src/generator.ts
Labels: package: router-generator

#4893 fix: do not pre-decodeURI before passing to createMemoryHistory
  packages/react-router/src/useBlocker.tsx
  packages/router-core/src/router.ts
  packages/solid-router/src/useBlocker.tsx
  packages/start-server-core/src/createStartHandler.ts
Labels: package: react-router, package: router-core, package: solid-router, package: start-server-core

#4909 Update getting-started.md
  docs/start/framework/react/getting-started.md
Labels: documentation

#4907 refactor(router-core): strip internal types from public build
  packages/router-core/src/Matches.ts
  packages/router-core/src/typePrimitives.ts
  tsconfig.json
Labels: package: router-core

#4903 Update static-prerendering.md
  docs/start/framework/react/static-prerendering.md
Labels: documentation

#4915 feat(router-plugin): add support for boolean and null literals in code splitter
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/component-types-test.tsx
  e2e/solid-router/basic-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-file-based/src/routes/component-types-test.tsx
  packages/react-router/src/route.tsx
  packages/router-plugin/src/core/code-splitter/compilers.ts
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/boolean-null-literals.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/boolean-null-literals@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/boolean-null-literals@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/boolean-null-literals@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/undefined-literals.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/undefined-literals@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/undefined-literals@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/undefined-literals@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/boolean-null-literals.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/boolean-null-literals@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/boolean-null-literals@loader.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/undefined-literals.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/undefined-literals@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/undefined-literals@loader.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/boolean-null-literals.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/boolean-null-literals@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/boolean-null-literals@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/undefined-literals.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/undefined-literals@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/undefined-literals@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/test-files/react/boolean-null-literals.tsx
  packages/router-plugin/tests/code-splitter/test-files/react/undefined-literals.tsx
  packages/solid-router/src/route.tsx
Labels: package: react-router, package: router-plugin, package: solid-router

#4941 test(solid-router): add test from #4930
  packages/solid-router/tests/link.test.tsx
Labels: package: solid-router

#4866 docs(router): update NotFoundError type
  docs/router/framework/react/api/router/NotFoundErrorType.md
Labels: documentation

#4948 fix(react-router): correctly assign createLazyFileRoute on window
  packages/react-router/src/router.ts
Labels: package: react-router

#4957 test(react-router): improve store-updates-during-navigation tests
  packages/react-router/tests/store-updates-during-navigation.test.tsx
Labels: package: react-router

#4925 refactor(router-core): head, scripts, headers are executed in parallel and can skip store update
  packages/react-router/tests/store-updates-during-navigation.test.tsx
  packages/router-core/src/router.ts
Labels: package: react-router, package: router-core

#4958 refactor(router-core): simplify handleRedirectAndNotFound
  packages/router-core/src/router.ts
Labels: package: router-core

#4960 fix: do not rename functions / variables when code splitting
  packages/router-plugin/src/core/code-splitter/compilers.ts
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/arrow-function@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/chinese@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/circular-reference-arrow-function.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/circular-reference-arrow-function@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/circular-reference-arrow-function@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/circular-reference-arrow-function@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/circular-reference-function.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/circular-reference-function@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/circular-reference-function@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/circular-reference-function@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/export-default-component-and-normal-notFound@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/function-declaration@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/random-number@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/retain-exports-loader@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/arrow-function@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/chinese@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/circular-reference-arrow-function.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/circular-reference-arrow-function@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/circular-reference-arrow-function@loader.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/circular-reference-function.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/circular-reference-function@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/circular-reference-function@loader.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/export-default-component-and-normal-notFound@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/function-declaration@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/random-number@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/retain-exports-loader@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/arrow-function@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/chinese@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/circular-reference-arrow-function.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/circular-reference-arrow-function@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/circular-reference-arrow-function@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/circular-reference-function.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/circular-reference-function@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/circular-reference-function@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/export-default-component-and-normal-notFound@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/function-declaration@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/random-number@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/retain-exports-loader@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/solid/1-default/arrow-function@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/solid/2-components-combined-loader-separate/arrow-function@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/solid/3-all-combined-errorComponent-separate/arrow-function@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/test-files/react/circular-reference-arrow-function.tsx
  packages/router-plugin/tests/code-splitter/test-files/react/circular-reference-function.tsx
Labels: package: router-plugin

#4961 refactor(router-core): flatten loadMatches
  packages/router-core/src/router.ts
  packages/solid-router/tests/Transitioner.test.tsx
Labels: package: router-core, package: solid-router

#4928 refactor(router-core): skip beforeLoad and related store updates if options is not defined
  packages/react-router/tests/store-updates-during-navigation.test.tsx
  packages/router-core/src/router.ts
Labels: package: react-router, package: router-core, package: solid-router

#4968 fix: correctly replace bracked escaped part
  packages/router-generator/src/utils.ts
Labels: package: router-generator

#4967 refactor(router-core): loadMatches extra microtask
  packages/react-router/tests/store-updates-during-navigation.test.tsx
  packages/router-core/src/router.ts
Labels: package: react-router, package: router-core

#4956 fix(solid-router): correctly assign createLazyFileRoute on window
  packages/solid-router/src/router.ts
Labels: package: solid-router

#4969 refactor(router-core): split loadMatches into its own file
  packages/router-core/src/index.ts
  packages/router-core/src/load-matches.ts
  packages/router-core/src/router.ts
Labels: package: router-core

#4980 refactor(router-core,react-router,solid-router): avoid copying arrays just to .reverse() them
  packages/react-router/src/HeadContent.tsx
  packages/router-core/src/router.ts
  packages/router-core/src/utils.ts
  packages/solid-router/src/HeadContent.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4981 refactor(router-core): reduce buildLocation object allocations
  packages/react-router/tests/link.test.tsx
  packages/router-core/src/router.ts
  packages/solid-router/tests/link.test.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4983 refactor(router-core): remove pick utility in favor of direct object manipulation
  packages/react-router/src/index.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/router.ts
  packages/router-core/src/utils.ts
  packages/solid-router/src/index.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4992 refactor(router-core): shouldExecuteBeforeLoad is always true
  packages/router-core/src/load-matches.ts
Labels: package: router-core

#4995 test(router-core): fix flakiness of store-updates 'preload then navigate' test
  packages/react-router/tests/store-updates-during-navigation.test.tsx
Labels: package: react-router

#5007 feat: add dynamic scroll restoration
  packages/react-router/src/scroll-restoration.tsx
  packages/router-core/src/router.ts
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/scroll-restoration.tsx
Labels: documentation

#5012 fix: change plugin config
  docs/start/framework/react/migrate-from-next-js.md
  e2e/react-start/basic-tsr-config/vite.config.ts
  e2e/react-start/basic/vite.config.ts
  e2e/react-start/virtual-routes/vite.config.ts
  e2e/solid-start/basic-tsr-config/vite.config.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/schema.ts
Labels: documentation, package: start-plugin-core

#5051 refactor(router-core): slightly faster deepEqual
  packages/router-core/src/utils.ts
  packages/router-core/tests/utils.test.ts
Labels: package: router-core

#5046 refactor(router-core): slightly faster replaceEqualDeep
  packages/router-core/src/utils.ts
Labels: package: router-core

#5044 feat: allow composability of server function factories and middlewares
  docs/start/framework/react/middleware.md
  docs/start/framework/react/server-functions.md
  e2e/react-start/server-functions/src/routes/factory/-functions/functions.ts
  e2e/react-start/server-functions/src/routes/factory/index.tsx
  e2e/react-start/server-functions/src/routes/raw-response.tsx
  e2e/react-start/server-functions/src/routes/serialize-form-data.tsx
  e2e/react-start/server-functions/src/routes/submit-post-formdata.tsx
  e2e/solid-start/server-functions/src/routes/raw-response.tsx
  e2e/solid-start/server-functions/src/routes/serialize-form-data.tsx
  e2e/solid-start/server-functions/src/routes/submit-post-formdata.tsx
  examples/react/start-workos/src/authkit/serverFunctions.ts
  packages/react-start-client/package.json
  packages/react-start-client/src/index.tsx
  packages/react-start-server/package.json
  packages/react-start/package.json
  packages/solid-start-client/package.json
  packages/solid-start-client/src/index.tsx
  packages/solid-start-server/package.json
  packages/solid-start/package.json
  packages/start-client-core/package.json
  packages/start-client-core/src/constants.ts
  packages/start-client-core/src/createMiddleware.ts
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serializer/getDefaultSerovalPlugins.ts
  packages/start-client-core/src/serverFnFetcher.ts
  packages/start-client-core/src/tests/createServerFn.test-d.ts
  packages/start-plugin-core/package.json
  packages/start-server-core/package.json
  packages/start-server-core/src/server-functions-handler.ts
  packages/start-static-server-functions/package.json
  packages/start-storage-context/package.json
  pnpm-lock.yaml
Labels: documentation, package: react-start-server, package: react-start, package: react-start-client, package: solid-start-client, package: solid-start-server, package: solid-start, package: start-plugin-core, package: start-server-core, package: start-client-core, package: start-static-server-functions, package: start-storage-context

#5056 make middleware types compatible
  packages/start-client-core/src/createMiddleware.ts
  packages/start-client-core/src/createServerFn.ts
Labels: package: start-client-core

#5037 fix(react-router, solid-router): reduce useNavigate reactivity on path changes
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/__root.tsx
  e2e/react-router/basic-file-based/src/routes/relative/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/link/nested/deep/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/link/nested/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/link/path/$path/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/link/path/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/link/relative-link-a.tsx
  e2e/react-router/basic-file-based/src/routes/relative/link/relative-link-b.tsx
  e2e/react-router/basic-file-based/src/routes/relative/link/route.tsx
  e2e/react-router/basic-file-based/src/routes/relative/link/with-search/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/useNavigate/nested/deep/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/useNavigate/nested/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/useNavigate/path/$path/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/useNavigate/path/index.tsx
  e2e/react-router/basic-file-based/src/routes/relative/useNavigate/relative-useNavigate-a.tsx
  e2e/react-router/basic-file-based/src/routes/relative/useNavigate/relative-useNavigate-b.tsx
  e2e/react-router/basic-file-based/src/routes/relative/useNavigate/route.tsx
  e2e/react-router/basic-file-based/src/routes/relative/useNavigate/with-search/index.tsx
  e2e/react-router/basic-file-based/tests/relative.spec.ts
  e2e/solid-router/basic-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/link/nested/deep/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/link/nested/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/link/path/$path/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/link/path/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/link/relative-link-a.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/link/relative-link-b.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/link/route.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/link/with-search/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/useNavigate/nested/deep/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/useNavigate/nested/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/useNavigate/path/$path/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/useNavigate/path/index.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/useNavigate/relative-useNavigate-a.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/useNavigate/relative-useNavigate-b.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/useNavigate/route.tsx
  e2e/solid-router/basic-file-based/src/routes/relative/useNavigate/with-search/index.tsx
  e2e/solid-router/basic-file-based/tests/relative.spec.ts
  packages/react-router/src/link.tsx
  packages/react-router/src/useActiveLocation.ts
  packages/react-router/src/useNavigate.tsx
  packages/solid-router/src/link.tsx
  packages/solid-router/src/useActiveLocation.ts
  packages/solid-router/src/useNavigate.tsx
Labels: package: react-router, package: solid-router

#5060 fix: optimizeDeps
  packages/start-plugin-core/src/plugin.ts
Labels: package: start-plugin-core
