Repository TanStack/router, pull requests merged in 2025-07, with the labels that each got.

#4549 docs(guide): integrate tailwind
  docs/start/config.json
  docs/start/framework/react/tailwind-integration.md
  docs/start/framework/solid/tailwind-integration.md
Labels: documentation

#4559 feat: Add style to HeadContent
  docs/router/framework/react/guide/document-head-management.md
  e2e/react-start/basic/src/routes/__root.tsx
  e2e/solid-start/basic/src/routes/__root.tsx
  packages/react-router/src/HeadContent.tsx
  packages/react-router/src/Matches.tsx
  packages/react-router/tests/route.test.tsx
  packages/router-core/src/Matches.ts
  packages/router-core/src/route.ts
  packages/router-core/src/router.ts
  packages/router-core/src/ssr/ssr-client.ts
  packages/solid-router/src/HeadContent.tsx
  packages/solid-router/src/Matches.tsx
  packages/solid-router/tests/route.test.tsx
Labels: documentation, package: react-router, package: router-core, package: solid-router

#4562 docs: Change next.js wording
  docs/router/framework/react/overview.md
Labels: documentation

#4573 fix: Make buildLocation aware of non-changing routes
  packages/react-router/tests/useNavigate.test.tsx
  packages/router-core/src/router.ts
Labels: package: react-router, package: router-core

#4558 fix: trim undefined from splat routes with no param
  packages/router-core/src/path.ts
  packages/router-core/tests/path.test.ts
Labels: package: router-core

#4581 fix: buildLocation check for non changing routes - consider trailing slashes
  packages/react-router/tests/useNavigate.test.tsx
  packages/router-core/src/router.ts
  packages/solid-router/tests/ClientOnly.test.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4582 docs: ssr rendered on server
  docs/start/framework/react/selective-ssr.md
Labels: documentation

#4586 docs: improve wording for LLM assistance support in installation.md
  docs/router/framework/react/installation.md
Labels: documentation

#4607 fix: lock solid-store version
  packages/solid-router/package.json
  pnpm-lock.yaml
Labels: package: solid-router

#4600 feat: use seroval for SSR
  docs/router/framework/react/api/router/RouterOptionsType.md
  docs/router/framework/react/guide/external-data-loading.md
  packages/react-router-with-query/src/index.tsx
  packages/react-router/src/Matches.tsx
  packages/react-router/src/ScriptOnce.tsx
  packages/react-router/src/Transitioner.tsx
  packages/react-router/src/index.tsx
  packages/react-start-client/src/index.tsx
  packages/react-start-client/src/serializer.ts
  packages/router-core/package.json
  packages/router-core/src/Matches.ts
  packages/router-core/src/index.ts
  packages/router-core/src/router.ts
  packages/router-core/src/ssr/client.ts
  packages/router-core/src/ssr/createRequestHandler.ts
  packages/router-core/src/ssr/seroval-plugins.ts
  packages/router-core/src/ssr/server.ts
  packages/router-core/src/ssr/ssr-client.ts
  packages/router-core/src/ssr/ssr-server.ts
  packages/router-core/src/ssr/transformStreamWithRouter.ts
  packages/router-core/src/ssr/tsrScript.ts
  packages/solid-router/src/Matches.tsx
  packages/solid-router/src/ScriptOnce.tsx
  packages/solid-router/src/Transitioner.tsx
  packages/solid-router/src/index.tsx
  packages/solid-start-client/src/index.tsx
  packages/start-client-core/src/createMiddleware.ts
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/serializer.ts
  packages/start-client-core/src/tests/serializer.test.tsx
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/index.tsx
  pnpm-lock.yaml
Labels: documentation, package: react-router, package: router-core, package: react-router-with-query, package: solid-router, package: react-start-client, package: solid-start-client, package: start-server-core, package: start-client-core

#4604 fix: remove debug log
  packages/react-router/src/ScriptOnce.tsx
  packages/react-router/src/scroll-restoration.tsx
  packages/solid-router/src/ScriptOnce.tsx
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4619 fix(start-server-functions-server): add base path to the RPC URL
  e2e/react-start/custom-basepath/src/routeTree.gen.ts
  e2e/react-start/custom-basepath/src/routes/logout.tsx
  e2e/react-start/custom-basepath/tests/navigation.spec.ts
  packages/start-server-functions-server/src/index.ts
Labels: package: start-server-functions-server

#4632 fix: allow prerender if no pages specified
  docs/start/framework/react/static-prerendering.md
  packages/start-plugin-core/src/nitro-plugin/plugin.ts
Labels: documentation, package: start-plugin-core

#4636 docs: remove somewhat incorrect statement from docs
  docs/start/framework/react/overview.md
Labels: documentation

#4635 chore: Document static prerendering options
  docs/start/framework/react/static-prerendering.md
Labels: documentation, package: start-plugin-core

#4638 docs: Update tsr.config.json options link
  docs/router/framework/react/migrate-from-react-location.md
Labels: documentation

#4647 fix(react-start-client): useServerFn returns a stable reference
  packages/react-start-client/src/useServerFn.ts
Labels: package: react-start-client

#4650 Remove todo from Server Routes docs
  docs/start/framework/react/server-routes.md
Labels: documentation

#4654 fix(router-plugin): composed plugin to consider options from json config
  packages/router-plugin/src/core/router-composed-plugin.ts
Labels: package: router-plugin

#4672 test(react-router) link: add re-render test for preload='viewport' IntersectionObserver
  packages/react-router/tests/link.test.tsx
  packages/solid-router/tests/link.test.tsx
Labels: package: react-router, package: solid-router

#4678 docs: custom Vite Plugin
  docs/start/framework/react/build-from-scratch.md
  docs/start/framework/solid/build-from-scratch.md
Labels: documentation

#4689 fix: default to addHmr in dev if not set
  packages/router-plugin/src/core/router-code-splitter-plugin.ts
Labels: package: router-plugin

#4700 Create TanStack Router installation how-to
  docs/router/config.json
  docs/router/framework/react/how-to/README.md
  docs/router/framework/react/how-to/install.md
  docs/router/framework/react/installation.md
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/migrate-from-react-router.md
Labels: documentation

#4674 fix(react-router): preserve ref type in createLink with required interface properties
  packages/react-router/src/link.tsx
  packages/react-router/tests/link.test-d.tsx
Labels: package: react-router

#4711 feat(router-core) path: parsePathname uses integers for Segment type
  packages/router-core/src/path.ts
  packages/router-core/src/router.ts
  packages/router-core/tests/optional-path-params-clean.test.ts
  packages/router-core/tests/optional-path-params.test.ts
  packages/router-core/tests/path.test.ts
Labels: package: router-core

#4716 fix: ensure unique match id when optional parameter is not present
  packages/react-router/tests/optional-path-params.test.tsx
  packages/router-core/src/path.ts
Labels: package: react-router, package: router-core

#4720 docs: Correct optional params docs syntax
  docs/router/framework/react/guide/path-params.md
Labels: documentation

#4721 fix: re-enable fuzzy matching to allow notFoundMode: fuzzy
  packages/react-router/tests/not-found.test.tsx
  packages/router-core/src/path.ts
  packages/router-core/src/router.ts
Labels: package: react-router, package: router-core

#4691 fix(router-core): change error type in ErrorComponentProps
  docs/router/framework/react/api/router/errorComponentComponent.md
  packages/react-router/src/not-found.tsx
  packages/router-core/src/route.ts
  packages/solid-router/src/not-found.tsx
Labels: documentation, package: react-router, package: router-core, package: solid-router

#4739 docs: update matchRoutes props
  docs/router/framework/react/api/router/RouterType.md
Labels: documentation

#4747 refactor(router-core): improve router.comparePaths regexp performance
  packages/router-core/src/router.ts
Labels: package: router-core

#4750 refactor(router-core): improve router.comparePaths performance by not using regex
  packages/router-core/src/router.ts
Labels: package: router-core

#4741 docs: typo in Server-Routes => Escaped Matching
  docs/start/framework/react/server-routes.md
Labels: documentation

#4625 fix(router-core): type mismatch for navigate function
  packages/react-router/src/link.tsx
  packages/router-core/src/RouterProvider.ts
  packages/router-core/src/router.ts
  packages/solid-router/src/link.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4745 docs: fix incorrect import path in automatic code splitting guide
  docs/router/framework/react/guide/automatic-code-splitting.md
Labels: documentation

#4751 fix: ensure unique matchId when optional and required param are on the same level
  packages/react-router/tests/optional-path-params.test.tsx
  packages/router-core/src/path.ts
Labels: package: react-router, package: router-core

#4753 docs(core): mention square brackets escaping
  docs/router/framework/react/routing/file-naming-conventions.md
Labels: documentation

#4758 docs(build-from-scratch): added missing dev dependency
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

#4773 Continue pull request 4704
  docs/router/framework/react/how-to/README.md
  docs/router/framework/react/how-to/deploy-to-production.md
  docs/router/framework/react/how-to/migrate-from-react-router.md
  how-to-guides-implementation-plan.md
Labels: documentation

#4775 docs: more!
  docs/router/framework/react/guide/authenticated-routes.md
  docs/router/framework/react/how-to/README.md
  docs/router/framework/react/how-to/debug-router-issues.md
  docs/router/framework/react/how-to/deploy-to-production.md
  docs/router/framework/react/how-to/setup-auth-providers.md
  docs/router/framework/react/how-to/setup-authentication.md
  docs/router/framework/react/how-to/setup-rbac.md
  docs/router/framework/react/how-to/setup-ssr.md
  docs/router/framework/react/how-to/setup-testing.md
  how-to-guides-implementation-plan.md
Labels: documentation

#4776 Draft how-to guide for file-based router testing
  docs/router/framework/react/how-to/README.md
  docs/router/framework/react/how-to/setup-testing.md
  docs/router/framework/react/how-to/test-file-based-routing.md
Labels: documentation

#4777 docs: env vars
  docs/router/framework/react/how-to/README.md
  docs/router/framework/react/how-to/use-environment-variables.md
  docs/start/framework/react/how-to/README.md
  docs/start/framework/react/how-to/use-environment-variables.md
  how-to-guides-implementation-plan.md
Labels: documentation

#4784 chore: sync TanStack repo changes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  docs/router/framework/react/guide/code-splitting.md
  docs/start/framework/react/reading-writing-file.md
  examples/react/authenticated-routes-firebase/README.md
  package.json
  packages/react-router/tests/router.test.tsx
  pnpm-lock.yaml
Labels: documentation, package: react-router

#4757 docs(react-router): update custom-link guide for react-aria
  docs/router/framework/react/guide/custom-link.md
Labels: documentation

#4786 fix: scroll to top if no scroll restoration entry exists
  e2e/react-router/basic-scroll-restoration/src/main.tsx
  e2e/react-router/basic-scroll-restoration/tests/app.spec.ts
  e2e/react-start/scroll-restoration/public/script.js
  e2e/react-start/scroll-restoration/public/script2.js
  packages/router-core/src/scroll-restoration.ts
Labels: package: router-core

#4771 fix: pin all workspace dependencies and devDependencies
  packages/react-router-devtools/package.json
  packages/react-router-with-query/package.json
  packages/react-start-server/package.json
  packages/router-devtools/package.json
  packages/router-generator/package.json
  packages/router-plugin/package.json
  packages/router-vite-plugin/package.json
  packages/solid-router-devtools/package.json
  packages/solid-start-server/package.json
  packages/valibot-adapter/package.json
  packages/zod-adapter/package.json
  pnpm-lock.yaml
Labels: package: router-plugin, package: router-generator, package: valibot-adapter, package: react-router-with-query, package: router-devtools, package: zod-adapter, package: router-vite-plugin, package: react-start-server, package: solid-start-server, package: react-router-devtools, package: solid-router-devtools

#4794 chore: silence error in test
  packages/react-router/tests/setupTests.tsx
  packages/solid-router/tests/setupTests.tsx
Labels: package: react-router, package: solid-router

#4795 fix: scroll to top with hash history
  e2e/react-router/scroll-restoration-sandbox-vite/tests/app.spec.ts
  packages/react-router/src/scroll-restoration.tsx
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4800 fix: prerending with SPA mode enabled renders all routes
  e2e/react-start/spa-mode/package.json
  e2e/react-start/spa-mode/vite.config.ts
  e2e/solid-start/spa-mode/package.json
  e2e/solid-start/spa-mode/vite.config.ts
  packages/router-core/src/router.ts
  packages/start-plugin-core/src/nitro-plugin/plugin.ts
  packages/start-plugin-core/src/nitro-plugin/prerender.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/schema.ts
  packages/start-server-core/src/createStartHandler.ts
Labels: package: router-core, package: start-plugin-core, package: start-server-core

#4811 fix: spa mode with prerendering
  e2e/react-start/spa-mode/src/routes/__root.tsx
  e2e/react-start/spa-mode/src/routes/index.tsx
  e2e/react-start/spa-mode/src/routes/posts.$postId.tsx
  e2e/react-start/spa-mode/src/routes/posts.tsx
  e2e/react-start/spa-mode/tests/app.spec.ts
  e2e/solid-start/spa-mode/src/routes/__root.tsx
  e2e/solid-start/spa-mode/src/routes/index.tsx
  e2e/solid-start/spa-mode/src/routes/posts.$postId.tsx
  e2e/solid-start/spa-mode/src/routes/posts.tsx
  e2e/solid-start/spa-mode/tests/app.spec.ts
  packages/start-plugin-core/src/nitro-plugin/plugin.ts
  packages/start-plugin-core/src/nitro-plugin/prerender.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/schema.ts
  packages/start-server-core/src/constants.ts
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/global.d.ts
  packages/start-server-core/src/index.tsx
Labels: package: start-plugin-core, package: start-server-core

#4814 Continue search param how-tos
  docs/router/framework/react/how-to/README.md
  docs/router/framework/react/how-to/drafts/validate-search-params.draft.md
  docs/router/framework/react/how-to/navigate-with-search-params.md
  docs/router/framework/react/how-to/setup-basic-search-params.md
  docs/router/framework/react/how-to/validate-search-params.md
  how-to-guides-implementation-plan.md
Labels: documentation

#4815 Continue search parameter how-tos
  docs/router/framework/react/how-to/README.md
  docs/router/framework/react/how-to/arrays-objects-dates-search-params.md
  docs/router/framework/react/how-to/navigate-with-search-params.md
  docs/router/framework/react/how-to/setup-basic-search-params.md
  docs/router/framework/react/how-to/validate-search-params.md
  how-to-guides-implementation-plan.md
Labels: documentation

#4819 Create next start how-to guide
  docs/start/framework/react/how-to/README.md
  docs/start/framework/react/how-to/write-isomorphic-client-server-code.md
Labels: documentation

#4821 fix: crawl deps to find packages which have start as peer dep
  packages/react-start-plugin/src/index.ts
  packages/start-plugin-core/package.json
  packages/start-plugin-core/src/plugin.ts
  pnpm-lock.yaml
Labels: package: react-start-plugin, package: start-plugin-core

#4824 refactor(router-core): router getMatch doesnt create an array
  packages/router-core/src/router.ts
Labels: package: router-core

#4826 refactor(router-core): router clearExpiredCache DeMorgan's simplification
  packages/router-core/src/router.ts
Labels: package: router-core

#4831 refactor(router-core): router clearExpiredCache variable naming mistake
  packages/router-core/src/router.ts
Labels: package: router-core

#4835 docs: add frontmatter to the "how-to" guides
  docs/router/framework/react/how-to/arrays-objects-dates-search-params.md
  docs/router/framework/react/how-to/debug-router-issues.md
  docs/router/framework/react/how-to/deploy-to-production.md
  docs/router/framework/react/how-to/install.md
  docs/router/framework/react/how-to/integrate-chakra-ui.md
  docs/router/framework/react/how-to/integrate-framer-motion.md
  docs/router/framework/react/how-to/integrate-material-ui.md
  docs/router/framework/react/how-to/integrate-shadcn-ui.md
  docs/router/framework/react/how-to/migrate-from-react-router.md
  docs/router/framework/react/how-to/navigate-with-search-params.md
  docs/router/framework/react/how-to/setup-auth-providers.md
  docs/router/framework/react/how-to/setup-authentication.md
  docs/router/framework/react/how-to/setup-basic-search-params.md
  docs/router/framework/react/how-to/setup-rbac.md
  docs/router/framework/react/how-to/setup-ssr.md
  docs/router/framework/react/how-to/test-file-based-routing.md
  docs/router/framework/react/how-to/use-environment-variables.md
  docs/router/framework/react/how-to/validate-search-params.md
  docs/start/framework/react/how-to/use-environment-variables.md
  docs/start/framework/react/how-to/write-isomorphic-client-server-code.md
Labels: documentation
