Repository TanStack/router, pull requests merged in 2025-06, with the labels that each got.

#4295 fix: exclude virtual modules from optimizeDeps
  packages/start-plugin-core/src/plugin.ts
Labels: package: start-plugin-core

#4302 docs(router): Use correct path param name on data mutation docs
  docs/router/framework/react/guide/data-mutations.md
Labels: documentation

#4310 Update preloading.md
  docs/router/framework/react/guide/preloading.md
Labels: documentation

#4312 fix: don't add all @tanstack packages to noExternal
  packages/start-plugin-core/src/plugin.ts
Labels: package: start-plugin-core

#4297 fix: export OptionalFetcher and RequiredFetcher types
  packages/react-start-client/src/index.tsx
  packages/solid-start-client/src/index.tsx
  packages/start-client-core/src/index.tsx
Labels: package: react-start-client, package: solid-start-client

#4324 fix: Preload assets on windows
  packages/start-plugin-core/src/start-routes-manifest-plugin/plugin.ts
Labels: package: start-plugin-core

#4327 chore: fixing vibe-rules generation to support CJS exports as well
  packages/react-router/package.json
  scripts/llms-generate.mjs
Labels: package: react-router

#4345 fix: do not start a view transition when invalidating
  packages/router-core/src/router.ts
Labels: package: router-core

#4361 Merge main into alpha
  .github/workflows/autofix.yml
  docs/router/framework/react/guide/data-mutations.md
  docs/router/framework/react/guide/preloading.md
  packages/react-router/src/ClientOnly.tsx
  packages/react-start-client/src/index.tsx
  packages/router-core/src/qss.ts
  packages/router-core/src/router.ts
  packages/router-core/src/utils.ts
  packages/router-core/tests/qss.test.ts
  packages/solid-start-client/src/index.tsx
  packages/start-client-core/src/index.tsx
  scripts/llms-generate.mjs
Labels: documentation, package: react-router, package: router-core, package: react-start-client, package: solid-start-client, package: start-client-core

#4378 fix(router-plugin): initialise generator within webpack plugin
  packages/router-plugin/src/core/router-generator-plugin.ts
Labels: package: router-plugin

#4374 Update spa-mode.md default export is `tanstackStart`
  docs/start/framework/react/spa-mode.md
Labels: documentation

#4375 Update server-routes.md to add missing /api/ in route mapping
  docs/start/framework/react/server-routes.md
Labels: documentation

#4376 fix: remove solid-js dependency from react-router-devtools
  packages/react-router-devtools/package.json
  packages/react-router-devtools/src/TanStackRouterDevtools.tsx
  pnpm-lock.yaml
Labels: package: react-router-devtools

#4399 docs(build-from-scratch): use createFileRoute from react-router
  docs/start/framework/react/build-from-scratch.md
  docs/start/framework/solid/build-from-scratch.md
Labels: documentation

#4407 fix: router-plugins correctly handle virtual file routes regardless of their location
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/filesystem/virtual/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/types.ts
  packages/router-plugin/src/core/route-autoimport-plugin.ts
  packages/router-plugin/src/core/router-code-splitter-plugin.ts
  packages/router-plugin/src/core/router-composed-plugin.ts
  packages/router-plugin/src/core/router-generator-plugin.ts
  packages/router-plugin/src/core/router-hmr-plugin.ts
  packages/router-plugin/src/core/utils.ts
  packages/router-plugin/src/global.d.ts
Labels: package: router-plugin, package: router-generator

#4420 fix: various fixes
  packages/router-generator/src/generator.ts
  packages/router-generator/src/plugin/default-generator-plugin.ts
  packages/router-generator/src/utils.ts
  packages/router-generator/tests/generator/custom-scaffolding/routeTree.snapshot.ts
  packages/router-generator/tests/generator/dot-escaped/routeTree.snapshot.ts
  packages/router-generator/tests/generator/nested-layouts/routeTree.snapshot.ts
  packages/router-generator/tests/generator/route-groups/routeTree.snapshot.ts
  packages/router-generator/tests/generator/virtual-config-file-default-export/routeTree.snapshot.ts
  packages/router-generator/tests/generator/virtual-config-file-named-export/routeTree.snapshot.ts
  packages/router-generator/tests/generator/virtual/routeTree.snapshot.ts
  packages/router-plugin/src/core/router-generator-plugin.ts
  packages/start-server-core/src/index.tsx
  packages/start-server-core/src/tanstack-start.d.ts
Labels: package: router-plugin, package: router-generator, package: start-server-core

#4422 docs: remove experimental verboseFileRoutes from docs
  docs/router/framework/react/quick-start.md
  docs/router/framework/react/routing/installation-with-esbuild.md
  docs/router/framework/react/routing/installation-with-rspack.md
  docs/router/framework/react/routing/installation-with-vite.md
  docs/router/framework/react/routing/installation-with-webpack.md
  docs/router/framework/react/routing/virtual-file-routes.md
  docs/router/framework/solid/quick-start.md
  docs/router/framework/solid/routing/file-based-routing.md
  docs/router/framework/solid/routing/installation-with-vite.md
Labels: documentation

#4423 fix: execute server route middleware before SSR
  packages/router-core/src/index.ts
  packages/router-core/src/router.ts
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/serverRoute.ts
Labels: package: router-core, package: start-server-core

#4433 fix: only re-execute beforeLoad if previous run failed
  packages/router-core/src/router.ts
Labels: package: router-core

#4434 fix: resolve promises before setting them to undefined
  e2e/solid-router/basic-file-based/tests/redirect.spec.ts
  packages/router-core/src/router.ts
Labels: package: router-core

#4439 fix: if validate search rewrites search params, issue a server-side redirect
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/search-params/default.tsx
  e2e/react-router/basic-file-based/src/routes/search-params/index.tsx
  e2e/react-router/basic-file-based/src/routes/search-params/route.tsx
  e2e/react-router/basic-file-based/tests/search-params.spec.ts
  e2e/react-start/basic/src/routeTree.gen.ts
  e2e/react-start/basic/src/routes/search-params/default.tsx
  e2e/react-start/basic/src/routes/search-params/index.tsx
  e2e/react-start/basic/src/routes/search-params/loader-throws-redirect.tsx
  e2e/react-start/basic/src/routes/search-params/route.tsx
  e2e/react-start/basic/tests/search-params.spec.ts
  e2e/solid-router/basic-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-file-based/src/routes/search-params/default.tsx
  e2e/solid-router/basic-file-based/src/routes/search-params/index.tsx
  e2e/solid-router/basic-file-based/src/routes/search-params/route.tsx
  e2e/solid-router/basic-file-based/tests/search-params.spec.ts
  e2e/solid-start/basic/src/routeTree.gen.ts
  e2e/solid-start/basic/src/routes/search-params/default.tsx
  e2e/solid-start/basic/src/routes/search-params/index.tsx
  e2e/solid-start/basic/src/routes/search-params/loader-throws-redirect.tsx
  e2e/solid-start/basic/src/routes/search-params/route.tsx
  e2e/solid-start/basic/tests/search-params.spec.ts
  packages/router-core/src/redirect.ts
  packages/router-core/src/router.ts
Labels: package: router-core

#4440 fix: correctly pass 'create' event to generator for rspack/webpack
  packages/router-plugin/src/core/router-generator-plugin.ts
Labels: package: router-plugin

#4453 fix: use bundle to determine preloads
  packages/router-plugin/src/index.ts
  packages/start-plugin-core/src/global.d.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/start-manifest-plugin/plugin.ts
  packages/start-plugin-core/src/start-router-plugin/generator-plugins/routes-manifest-plugin.ts
Labels: package: router-plugin, package: start-plugin-core

#4459 fix: swap caches also when not writing route tree file
  packages/router-generator/src/generator.ts
Labels: package: router-generator

#4463 fix: make root server route aware of it being the root
  packages/start-server-core/src/serverRoute.ts
Labels: package: start-server-core

#4474 fix: server function fixes
  packages/server-functions-plugin/src/index.ts
  packages/start-plugin-core/src/dev-server-plugin/plugin.ts
Labels: package: server-functions-plugin, package: start-plugin-core

#4482 fix: provide dummy server function manifest to client env
  packages/server-functions-plugin/src/index.ts
  packages/start-server-core/package.json
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/server-functions-handler.ts
  packages/start-server-core/src/tanstack-start.d.ts
  pnpm-lock.yaml
Labels: package: server-functions-plugin, package: start-server-core

#4488 fix: ensure early hydration in prod build
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/start-manifest-plugin/plugin.ts
  packages/start-server-core/src/router-manifest.ts
  packages/start-server-core/src/tanstack-start.d.ts
Labels: package: start-plugin-core, package: start-server-core

#4489 fix: use plugin hook filers
  packages/directive-functions-plugin/src/index.ts
  packages/start-plugin-core/src/resolve-virtual-entries-plugin/plugin.ts
Labels: package: directive-functions-plugin, package: start-plugin-core

#4461 fix typos and wrong paths in server-routes.md
  docs/start/framework/react/server-routes.md
Labels: documentation

#4472 fix: navigation respects basepath when no `to` was given
  packages/react-router/tests/link.test.tsx
  packages/react-router/tests/useNavigate.test.tsx
  packages/router-core/src/router.ts
  packages/router-core/tests/path.test.ts
  packages/solid-router/src/link.tsx
  packages/solid-router/src/useNavigate.tsx
  packages/solid-router/tests/link.test.tsx
  packages/solid-router/tests/useNavigate.test.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4355 Update routing-concepts.md
  docs/router/framework/react/routing/routing-concepts.md
Labels: documentation

#4508 fix: use joinURL for entry routes in manifests
  packages/start-plugin-core/src/start-manifest-plugin/plugin.ts
Labels: package: start-plugin-core

#4511 Fix typo in file-based-routing.md
  docs/router/api/file-based-routing.md
Labels: documentation

#4521 fix: only invalidate virtual server function manifest module in server env
  packages/server-functions-plugin/src/index.ts
Labels: package: server-functions-plugin

#4522 fix: preserve file owner and permissions when rewriting file in generator
  packages/router-generator/src/generator.ts
Labels: package: router-generator

#4537 fix: pin packages to exact versions
  packages/directive-functions-plugin/package.json
  packages/router-cli/package.json
  packages/router-generator/package.json
  packages/router-plugin/package.json
Labels: package: router-plugin, package: router-generator, package: directive-functions-plugin, package: router-cli

#4544 fix: correctly handle multiple imports of `@tanstack/react-start/server`
  examples/react/start-basic/src/routes/api/users.ts
  packages/directive-functions-plugin/package.json
  packages/router-plugin/package.json
  packages/server-functions-plugin/package.json
  packages/start-plugin-core/src/compilers.ts
  pnpm-lock.yaml
Labels: package: router-plugin, package: directive-functions-plugin, package: server-functions-plugin, package: start-plugin-core

#4545 feat: add `forcePending` to `router.invalidate()`
  docs/router/framework/react/api/router/RouterType.md
  packages/router-core/src/router.ts
Labels: documentation, package: router-core
