Repository TanStack/router, pull requests merged in 2025-09, with the labels that each got.

#5064 fix: vite plugin
  packages/react-start/src/plugin/vite.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-server-core/package.json
  pnpm-lock.yaml
Labels: package: react-start, package: start-plugin-core, package: start-server-core

#5075 refactor(router-core): isMatch perf
  packages/router-core/src/Matches.ts
Labels: package: router-core

#5073 Adding note regarding yarn workspace usage
  docs/router/framework/react/installation.md
Labels: documentation

#5081 fix(router-core): reduce maskedLocation builds
  packages/router-core/src/router.ts
Labels: package: router-core

#5079 Simplify `resolve` and `optimizeDeps` configuration
  packages/react-start/src/plugin/vite.ts
  packages/start-plugin-core/src/plugin.ts
Labels: package: react-start, package: start-plugin-core

#5086 Added Prisma as a partner in relevant places
  README.md
  docs/start/framework/react/databases.md
  docs/start/framework/react/overview.md
Labels: documentation

#5082 docs: Rename Link Preloading Timeout to Link Preloading Delay
  docs/router/framework/react/guide/navigation.md
Labels: documentation

#4910 docs(start): Add Railway instructions
  docs/start/framework/react/hosting.md
Labels: documentation

#4993 test(router-core): add initial tests for router behavior
  packages/router-core/tests/load.test.ts
Labels: package: router-core

#5098 fix(react-router, solid-router) - useParams should only be concerned about the relevant params - Alpha
  e2e/react-router/basic-file-based/src/components/RenderCounter.tsx
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/params-ps/named/$foo.tsx
  e2e/react-router/basic-file-based/src/routes/params-ps/named/$foo/$bar.$baz.tsx
  e2e/react-router/basic-file-based/src/routes/params-ps/named/$foo/$bar.route.tsx
  e2e/react-router/basic-file-based/src/routes/params-ps/named/$foo/route.tsx
  e2e/react-router/basic-file-based/src/routes/params-ps/named/index.tsx
  e2e/react-router/basic-file-based/tests/params.spec.ts
  e2e/react-router/basic-file-based/tests/redirect.spec.ts
  e2e/solid-router/basic-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-file-based/src/routes/params-ps/named/$foo/$bar.$baz.tsx
  e2e/solid-router/basic-file-based/src/routes/params-ps/named/$foo/$bar.route.tsx
  e2e/solid-router/basic-file-based/src/routes/params-ps/named/$foo/route.tsx
  e2e/solid-router/basic-file-based/tests/params.spec.ts
  packages/react-router/src/useParams.tsx
  packages/react-router/tests/optional-path-params.test.tsx
  packages/react-router/tests/router.test.tsx
  packages/router-core/src/path.ts
  packages/solid-router/src/useParams.tsx
Labels: package: react-router, package: router-core, package: solid-router

#5109 docs: fix external data loading path
  docs/router/integrations/query.md
Labels: documentation

#5112 docs: Integration with Esbuild - update title to reflect "Esbuild"
  docs/router/framework/react/routing/installation-with-esbuild.md
Labels: documentation

#5134 fix: restore InferStructuralSharing and handleHashScroll in published .d.ts files
  packages/react-router/src/typePrimitives.ts
  packages/router-core/src/scroll-restoration.ts
Labels: package: react-router, package: router-core

#5168 refactor(react-router): Link component composeHandler performance
  packages/react-router/src/link.tsx
Labels: package: react-router

#5115 fix(router): respect `target` attribute on inner component
  packages/react-router/src/link.tsx
  packages/react-router/tests/link.test.tsx
  packages/solid-router/src/link.tsx
  packages/solid-router/tests/link.test.tsx
Labels: package: react-router, package: solid-router

#5170 fix(router-core): Non-nested paths - alpha
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/non-nested/baz.$bazid.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/baz.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/baz_.$bazid.edit.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/route.tsx
  e2e/react-router/basic-file-based/tests/app.spec.ts
  e2e/solid-router/basic-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-file-based/src/routes/non-nested/baz.$bazid.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/baz.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/baz_.$bazid.edit.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/route.tsx
  e2e/solid-router/basic-file-based/tests/app.spec.ts
  packages/router-core/src/path.ts
  packages/router-core/tests/match-by-path.test.ts
  packages/router-core/tests/path.test.ts
Labels: package: router-core

#5174 fix: tell router that rendering finished when rendering to string
  packages/react-router/src/ssr/renderRouterToString.tsx
  packages/solid-router/src/ssr/renderRouterToString.tsx
Labels: package: react-router, package: solid-router

#5172 docs: update Netlify docs for changes on `alpha`
  docs/start/framework/react/hosting.md
  docs/start/framework/solid/hosting.md
Labels: documentation

#5182 fix(router-core): Non nested paths - only strip trailing underscore on route segments
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/non-nested/baz.$bazid.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/baz.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/baz_.$bazid.edit.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/named/$baz.foo.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/named/$baz.index.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/named/$baz.route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/named/$baz_.bar.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/named/route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/path/baz.foo.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/path/baz.index.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/path/baz.route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/path/baz_.bar.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/path/route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/prefix/prefix{$baz}.foo.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/prefix/prefix{$baz}.index.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/prefix/prefix{$baz}.route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/prefix/prefix{$baz}_.bar.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/prefix/route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/suffix/route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/suffix/{$baz}suffix.foo.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/suffix/{$baz}suffix.index.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/suffix/{$baz}suffix.route.tsx
  e2e/react-router/basic-file-based/src/routes/non-nested/suffix/{$baz}suffix_.bar.tsx
  e2e/react-router/basic-file-based/tests/app.spec.ts
  e2e/react-router/basic-file-based/tests/non-nested-paths.spec.ts
  e2e/solid-router/basic-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-file-based/src/routes/non-nested/baz.$bazid.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/baz.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/baz_.$bazid.edit.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/named/$baz.foo.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/named/$baz.index.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/named/$baz.route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/named/$baz_.bar.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/named/route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/path/baz.foo.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/path/baz.index.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/path/baz.route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/path/baz_.bar.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/path/route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/prefix/prefix{$baz}.foo.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/prefix/prefix{$baz}.index.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/prefix/prefix{$baz}.route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/prefix/prefix{$baz}_.bar.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/prefix/route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/suffix/route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/suffix/{$baz}suffix.foo.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/suffix/{$baz}suffix.index.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/suffix/{$baz}suffix.route.tsx
  e2e/solid-router/basic-file-based/src/routes/non-nested/suffix/{$baz}suffix_.bar.tsx
  e2e/solid-router/basic-file-based/tests/app.spec.ts
  e2e/solid-router/basic-file-based/tests/non-nested-paths.spec.ts
  packages/router-core/src/path.ts
  packages/router-core/src/process-route-tree.ts
  packages/router-core/tests/match-by-path.test.ts
  packages/router-core/tests/path.test.ts
Labels: package: router-core

#5199 fix(router-core): avoid infinite serializer recursion for arrays
  packages/router-core/src/ssr/serializer/transformer.ts
  packages/router-core/tests/serializer-recursion.test-d.ts
Labels: package: router-core

#5218 docs: fix router.tsx filename in snippet
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

#5216 docs: update build-from-scratch replacements for SolidJS
  docs/start/framework/solid/build-from-scratch.md
Labels: documentation

#5225 docs: Fix cloudflare config
  docs/start/framework/react/hosting.md
Labels: documentation

#5223 fix: Add `optimizeDeps.entries` for `client` and `ssr` environments
  packages/react-start/src/plugin/vite.ts
  packages/solid-start/src/plugin/vite.ts
  packages/start-plugin-core/package.json
  packages/start-plugin-core/src/constants.ts
  packages/start-plugin-core/src/plugin.ts
  pnpm-lock.yaml
Labels: package: react-start, package: solid-start, package: start-plugin-core

#5267 fix: Reexport missing request middleware types
  packages/start-client-core/src/index.tsx
Labels: package: start-client-core

#5262 fix(router-core): consider __root__ in path parsing of trailing underscores
  e2e/react-start/basic/package.json
  e2e/react-start/basic/playwright.config.ts
  e2e/react-start/basic/src/routeTree.gen.ts
  e2e/react-start/basic/src/routes/__root.tsx
  e2e/react-start/basic/src/routes/_layout.tsx
  e2e/react-start/basic/src/routes/_layout/_layout-2.tsx
  e2e/react-start/basic/src/routes/_layout/_layout-2/layout-a.tsx
  e2e/react-start/basic/src/routes/_layout/_layout-2/layout-b.tsx
  e2e/react-start/basic/src/routes/api.users.ts
  e2e/react-start/basic/src/routes/api/users.$id.ts
  e2e/react-start/basic/src/routes/deferred.tsx
  e2e/react-start/basic/src/routes/foo/$bar/$qux/_here.tsx
  e2e/react-start/basic/src/routes/foo/$bar/$qux/_here/index.tsx
  e2e/react-start/basic/src/routes/index.tsx
  e2e/react-start/basic/src/routes/inline-scripts.tsx
  e2e/react-start/basic/src/routes/links.tsx
  e2e/react-start/basic/src/routes/not-found/index.tsx
  e2e/react-start/basic/src/routes/not-found/route.tsx
  e2e/react-start/basic/src/routes/not-found/via-beforeLoad.tsx
  e2e/react-start/basic/src/routes/not-found/via-loader.tsx
  e2e/react-start/basic/src/routes/posts.$postId.tsx
  e2e/react-start/basic/src/routes/posts.index.tsx
  e2e/react-start/basic/src/routes/posts.tsx
  e2e/react-start/basic/src/routes/posts_.$postId.deep.tsx
  e2e/react-start/basic/src/routes/redirect/$target.tsx
  e2e/react-start/basic/src/routes/redirect/$target/index.tsx
  e2e/react-start/basic/src/routes/redirect/$target/serverFn/index.tsx
  e2e/react-start/basic/src/routes/redirect/$target/serverFn/via-beforeLoad.tsx
  e2e/react-start/basic/src/routes/redirect/$target/serverFn/via-loader.tsx
  e2e/react-start/basic/src/routes/redirect/$target/serverFn/via-useServerFn.tsx
  e2e/react-start/basic/src/routes/redirect/$target/via-beforeLoad.tsx
  e2e/react-start/basic/src/routes/redirect/$target/via-loader.tsx
  e2e/react-start/basic/src/routes/redirect/index.tsx
  e2e/react-start/basic/src/routes/scripts.tsx
  e2e/react-start/basic/src/routes/search-params/default.tsx
  e2e/react-start/basic/src/routes/search-params/index.tsx
  e2e/react-start/basic/src/routes/search-params/loader-throws-redirect.tsx
  e2e/react-start/basic/src/routes/search-params/route.tsx
  e2e/react-start/basic/src/routes/stream.tsx
  e2e/react-start/basic/src/routes/users.$userId.tsx
  e2e/react-start/basic/src/routes/users.index.tsx
  e2e/react-start/basic/src/routes/users.tsx
  e2e/react-start/basic/src/routes/대한민국.tsx
  e2e/react-start/basic/tests/navigation.spec.ts
  e2e/react-start/basic/tests/redirect.spec.ts
  e2e/react-start/basic/tests/search-params.spec.ts
  e2e/react-start/basic/tests/utils/isSpaMode.ts
  e2e/react-start/basic/vite.config.ts
  e2e/solid-start/basic/package.json
  e2e/solid-start/basic/playwright.config.ts
  e2e/solid-start/basic/tests/navigation.spec.ts
  e2e/solid-start/basic/tests/utils/isSpaMode.ts
  packages/router-core/src/path.ts
  pnpm-lock.yaml
Labels: package: router-core

#5270 fix: handle synchronous handler/middleware
  packages/start-server-core/src/createStartHandler.ts
Labels: package: start-server-core

#5272 docs: wrong link to bun server implementation in hosting page
  docs/start/framework/react/hosting.md
Labels: documentation

#5281 fix: use package alias for h3
  packages/start-server-core/package.json
  packages/start-server-core/src/request-response.ts
  pnpm-lock.yaml
Labels: package: start-server-core

#5280 react-router added API middlewares
  docs/router/framework/react/comparison.md
Labels: documentation

#5288 fix: guard against invalid origin header value
  packages/start-server-core/src/createStartHandler.ts
Labels: package: start-server-core
