Repository TanStack/router, pull requests merged in 2025-02, with the labels that each got.

#3313 fix(start-router-manifest): change code snippet to ALWAYS have HMR ready in development
  e2e/start/basic/app/components/CustomMessage.tsx
  e2e/start/basic/app/routes/index.tsx
  packages/start-router-manifest/src/index.ts
Labels: package: start-router-manifest

#3317 fix(start): fix stream merging
  packages/start-server/src/transformStreamWithRouter.ts
Labels: package: start-server

#3314 fix(start): Ensure h3 versions match
  .github/renovate.json
  packages/start-server/package.json
  pnpm-lock.yaml
Labels: package: start-server

#3331 fix(router-plugin): fix handling of import attributes
  packages/directive-functions-plugin/src/compilers.ts
  packages/router-plugin/src/core/code-splitter/compilers.ts
  packages/router-plugin/tests/code-splitter/snapshots/development/importAttribute.tsx
  packages/router-plugin/tests/code-splitter/snapshots/development/importAttribute@split.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/importAttribute.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/importAttribute@split.tsx
  packages/router-plugin/tests/code-splitter/test-files/importAttribute.tsx
  packages/router-utils/src/ast.ts
Labels: package: router-plugin, package: directive-functions-plugin, package: router-utils

#3318 fix: peer dependencies
  packages/router-plugin/package.json
  packages/start-api-routes/package.json
  packages/start-config/package.json
  packages/start-server-functions-handler/package.json
  packages/start-server-functions-ssr/package.json
  packages/start/package.json
  pnpm-lock.yaml
Labels: package: router-plugin, package: start, package: start-api-routes, package: start-config, package: start-server-functions-handler, package: start-server-functions-ssr

#3319 fix(router-core): always and preserve options should have he correct trailing slash
  packages/router-core/src/link.ts
  packages/router-generator/package.json
  packages/router-generator/tsconfig.json
  packages/router-generator/tsconfig.legacy.json
Labels: package: router-core, package: router-generator

#3338 fix: set status code to 404 in case of a global not found
  e2e/start/basic/app/components/NotFound.tsx
  e2e/start/basic/tests/not-found.spec.ts
  packages/react-router/src/router.ts
Labels: package: react-router

#3337 fix(router-generator): correctly generate id for layouts
  packages/router-generator/package.json
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/tests/generator/nested-layouts/routeTree.snapshot.ts
  packages/router-generator/tests/generator/no-duplicate-route-segment/routeTree.snapshot.ts
  packages/router-generator/tests/generator/no-duplicate-route-segment/routes/__root.tsx
  packages/router-generator/tests/generator/no-duplicate-route-segment/routes/foo/_layout/index.tsx
  packages/router-generator/tests/generator/no-duplicate-route-segment/routes/foo/_layout/route.tsx
Labels: package: router-generator

#3341 chore(router-generator): add code comments to the `determineRouteIsLayout` function
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
Labels: package: router-generator

#3342 docs(router): warning on serialization with Base64
  docs/router/framework/react/guide/custom-search-param-serialization.md
Labels: documentation

#3336 fix(react-router): build correct `href` when reloading the document with `Router.navigate`
  packages/react-router/src/router.ts
Labels: package: react-router

#3344 refactor(react-router): remove unsed `router` prop from `Route` class
  packages/react-router/src/route.ts
Labels: package: react-router

#3350 fix: use top-level `types` in package.json for use in JetBrains IDEs
  packages/router-cli/package.json
  packages/router-plugin/package.json
  packages/start-api-routes/package.json
  packages/start-client/package.json
  packages/start-config/package.json
  packages/start-router-manifest/package.json
  packages/start-server-functions-client/package.json
  packages/start-server-functions-fetcher/package.json
  packages/start-server-functions-handler/package.json
  packages/start-server-functions-server/package.json
  packages/start-server-functions-ssr/package.json
  packages/start-server/package.json
  packages/start/package.json
Labels: package: start-router-manifest, package: start-client, package: start-server, package: router-plugin, package: start, package: start-api-routes, package: start-config, package: start-server-functions-handler, package: start-server-functions-ssr, package: router-cli, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-server

#3354 fix(router-plugin): reduce route-tree bundle size
  packages/router-plugin/src/core/code-splitter/compilers.ts
  packages/router-plugin/src/core/router-code-splitter-plugin.ts
  packages/router-plugin/tests/code-splitter.test.ts
  packages/router-plugin/tests/code-splitter/snapshots/production/arrow-function.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/chinese.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/destructured-react-memo-imported-component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/function-declaration.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/importAttribute.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/imported-default-component-destructured-loader.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/imported-default-component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/imported.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/inline.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/random-number.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/react-memo-component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/react-memo-imported-component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/retain-exports-loader.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/useStateDestructure.tsx
Labels: package: router-plugin

#3359 fix(router-plugin): handle "ConditionalExpression" when code-splitting
  packages/router-plugin/src/core/code-splitter/compilers.ts
  packages/router-plugin/tests/code-splitter/snapshots/development/conditional-properties.tsx
  packages/router-plugin/tests/code-splitter/snapshots/development/conditional-properties@split.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/conditional-properties.tsx
  packages/router-plugin/tests/code-splitter/snapshots/production/conditional-properties@split.tsx
  packages/router-plugin/tests/code-splitter/test-files/conditional-properties.tsx
Labels: package: router-plugin

#3363 refactor(router-generator): support for more targets
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/template.ts
  packages/router-generator/tests/generator.test.ts
  packages/router-generator/tests/generator/custom-scaffolding/routes/foo.lazy.tsx
  packages/router-generator/tests/generator/custom-scaffolding/snapshot/foo.lazy.tsx
Labels: package: router-generator

#3368 feat(react-router): add `shouldThrow` option to `useParams` and `useSearch`
  docs/router/framework/react/api/router/useParamsHook.md
  docs/router/framework/react/api/router/useSearchHook.md
  examples/react/start-large/app/typePrimitives.tsx
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/route.ts
  packages/react-router/src/typePrimitives.ts
  packages/react-router/src/useMatch.tsx
  packages/react-router/src/useParams.tsx
  packages/react-router/src/useSearch.tsx
  packages/react-router/tests/useParams.test-d.tsx
  packages/react-router/tests/useSearch.test-d.tsx
Labels: documentation, package: react-router

#3369 fix(start): include vite react plugin in SSR router
  packages/start-config/src/index.ts
Labels: package: start-config

#3373 fix(react-router): exclude props from state equality check to prevent history push for equal url and state
  packages/react-router/src/router.ts
  packages/react-router/tests/router.test.tsx
Labels: package: react-router

#3377 docs(router): more recommendations for route tree file opening unexpectedly on vscode
  docs/router/framework/react/guide/file-based-routing.md
Labels: documentation

#3294 feat(start): serialize `BigInt` for server functions
  packages/router-core/src/serializer.ts
  packages/start-client/src/serializer.ts
  packages/start-client/src/tests/transformer.test.tsx
Labels: package: router-core, package: start-client

#3364 fix(react-router): simpler useForwardedRef using useImperativeHandle
  packages/react-router/src/utils.ts
Labels: package: react-router

#3375 fix(start): align middleware context types with runtime
  packages/start-client/src/createMiddleware.ts
  packages/start-client/src/createServerFn.ts
  packages/start-client/src/index.tsx
  packages/start-client/src/tests/createServerMiddleware.test-d.ts
Labels: package: start-client

#3398 fix: allow custom scrollToTop selectors
  docs/router/framework/react/guide/scroll-restoration.md
  packages/react-router/src/router.ts
  packages/react-router/src/scroll-restoration.tsx
Labels: documentation, package: react-router

#3381 fix(router-core): patch qss to attempt encoding value to prevent malformed URI errors
  packages/router-core/src/qss.ts
  packages/router-core/src/utils.ts
  packages/router-core/tests/qss.test.ts
Labels: package: router-core

#3406 fix: vite peer dependencies
  packages/start-api-routes/package.json
  packages/start-router-manifest/package.json
  packages/start-server-functions-client/package.json
  packages/start-server-functions-fetcher/package.json
  packages/start-server-functions-handler/package.json
  packages/start-server-functions-server/package.json
  packages/start-server-functions-ssr/package.json
  packages/start-server/package.json
  pnpm-lock.yaml
Labels: package: start-router-manifest, package: start-server, package: start-api-routes, package: start-server-functions-handler, package: start-server-functions-ssr, package: start-server-functions-client, package: start-server-functions-fetcher, package: start-server-functions-server

#3387 fix: dead code elimination for start plugin
  packages/start-config/package.json
  packages/start-plugin/src/compilers.ts
  packages/start-plugin/tests/createIsomorphicFn/createIsomorphicFn.test.ts
  packages/start-plugin/tests/createMiddleware/createMiddleware.test.ts
  packages/start-plugin/tests/createServerFn/createServerFn.test.ts
  packages/start-plugin/tests/envOnly/envOnly.test.ts
  pnpm-lock.yaml
Labels: package: start-config, package: start-plugin

#3366 fix(router-generator): prevent route file being auto-formatted during updates
  docs/router/framework/react/guide/file-based-routing.md
  packages/router-generator/src/generator.ts
  packages/router-generator/src/template.ts
  packages/router-generator/src/utils.ts
Labels: documentation, package: router-generator

#3412 fix(start-client): use correct parent match when hydrating
  packages/start-client/src/ssr-client.tsx
Labels: package: start-client

#3352 feat: static server functions
  docs/start/config.json
  docs/start/framework/react/server-functions.md
  docs/start/framework/react/static-server-functions.md
  e2e/start/basic/app/routes/-server-fns/consistent-fn-calls.tsx
  examples/react/start-basic-static/.gitignore
  examples/react/start-basic-static/.prettierignore
  examples/react/start-basic-static/README.md
  examples/react/start-basic-static/app.config.ts
  examples/react/start-basic-static/app/client.tsx
  examples/react/start-basic-static/app/components/DefaultCatchBoundary.tsx
  examples/react/start-basic-static/app/components/NotFound.tsx
  examples/react/start-basic-static/app/routeTree.gen.ts
  examples/react/start-basic-static/app/router.tsx
  examples/react/start-basic-static/app/routes/__root.tsx
  examples/react/start-basic-static/app/routes/_layout.tsx
  examples/react/start-basic-static/app/routes/_layout/_layout-2.tsx
  examples/react/start-basic-static/app/routes/_layout/_layout-2/layout-a.tsx
  examples/react/start-basic-static/app/routes/_layout/_layout-2/layout-b.tsx
  examples/react/start-basic-static/app/routes/deferred.tsx
  examples/react/start-basic-static/app/routes/index.tsx
  examples/react/start-basic-static/app/routes/posts.$postId.tsx
  examples/react/start-basic-static/app/routes/posts.index.tsx
  examples/react/start-basic-static/app/routes/posts.tsx
  examples/react/start-basic-static/app/routes/posts_.$postId.deep.tsx
  examples/react/start-basic-static/app/routes/redirect.tsx
  examples/react/start-basic-static/app/routes/users.$userId.tsx
  examples/react/start-basic-static/app/routes/users.index.tsx
  examples/react/start-basic-static/app/routes/users.tsx
  examples/react/start-basic-static/app/ssr.tsx
  examples/react/start-basic-static/app/styles/app.css
  examples/react/start-basic-static/app/utils/loggingMiddleware.tsx
  examples/react/start-basic-static/app/utils/posts.tsx
  examples/react/start-basic-static/app/utils/seo.ts
  examples/react/start-basic-static/app/utils/users.tsx
  examples/react/start-basic-static/package.json
  examples/react/start-basic-static/postcss.config.cjs
  examples/react/start-basic-static/public/android-chrome-192x192.png
  examples/react/start-basic-static/public/android-chrome-512x512.png
  examples/react/start-basic-static/public/apple-touch-icon.png
  examples/react/start-basic-static/public/favicon-16x16.png
  examples/react/start-basic-static/public/favicon-32x32.png
  examples/react/start-basic-static/public/favicon.ico
  examples/react/start-basic-static/public/favicon.png
  examples/react/start-basic-static/public/site.webmanifest
  examples/react/start-basic-static/tailwind.config.cjs
  examples/react/start-basic-static/tsconfig.json
  examples/react/with-framer-motion/src/main.tsx
  packages/start-client/src/createMiddleware.ts
  packages/start-client/src/createServerFn.ts
  packages/start-client/src/index.tsx
  packages/start-client/src/serverFnFetcher.tsx
  packages/start-client/src/tests/createServerFn.test-d.tsx
  packages/start-config/package.json
  packages/start-config/src/index.ts
  packages/start-server-functions-fetcher/src/index.tsx
  packages/start-server-functions-handler/src/index.tsx
  pnpm-lock.yaml
Labels: documentation, package: start-client, package: start-config, package: start-server-functions-handler, package: start-server-functions-fetcher

#3414 fix: file-wide `use server` now handles export const var
  packages/directive-functions-plugin/src/compilers.ts
  packages/directive-functions-plugin/tests/compiler.test.ts
Labels: package: directive-functions-plugin

#3423 fix(react-router): fix path param handling with relative navigation
  packages/react-router/src/router.ts
  packages/react-router/tests/navigate.test.tsx
Labels: package: react-router

#3415 feat: add WrapProvider to routerWithQueryClient
  packages/react-router-with-query/src/index.tsx
Labels: package: react-router-with-query

#3410 fix: only call `head()` when loaderData is available
  packages/react-router/src/route.ts
  packages/react-router/src/router.ts
  packages/react-router/tests/useLoaderData.test-d.tsx
  packages/react-router/tests/useSearch.test-d.tsx
  packages/router-core/src/route.ts
  packages/router-core/src/utils.ts
  packages/router-core/tests/utils.test-d.ts
  packages/start-client/src/tests/index.test.tsx
Labels: package: react-router, package: router-core, package: start-client

#3425 fix(start-client): properly merge context upon hydration
  packages/start-client/src/ssr-client.tsx
Labels: package: start-client

#3427 fix(router-devtools): peer dep for csstype for goober
  packages/router-devtools/package.json
  pnpm-lock.yaml
Labels: package: router-devtools

#3439 feat: replace <Meta /> by <HeadContent /> and add dedicated headScripts
  docs/router/eslint/create-route-property-order.md
  docs/router/framework/react/guide/tanstack-start.md
  docs/start/framework/react/build-from-scratch.md
  docs/start/framework/react/learn-the-basics.md
  e2e/start/basic-auth/app/routes/__root.tsx
  e2e/start/basic-react-query/app/routes/__root.tsx
  e2e/start/basic-rsc/app/routes/__root.tsx
  e2e/start/basic-tsr-config/src/app/routes/__root.tsx
  e2e/start/basic/app/routes/__root.tsx
  e2e/start/clerk-basic/app/routes/__root.tsx
  e2e/start/scroll-restoration/app/routes/__root.tsx
  e2e/start/website/app/routes/__root.tsx
  examples/react/basic-ssr-file-based/src/routes/__root.tsx
  examples/react/basic-ssr-streaming-file-based/src/routes/__root.tsx
  examples/react/start-basic-auth/app/routes/__root.tsx
  examples/react/start-basic-react-query/app/routes/__root.tsx
  examples/react/start-basic-rsc/app/routes/__root.tsx
  examples/react/start-basic-static/app/routes/__root.tsx
  examples/react/start-basic/app/routes/__root.tsx
  examples/react/start-clerk-basic/app/routes/__root.tsx
  examples/react/start-convex-trellaux/app/routes/__root.tsx
  examples/react/start-counter/app/routes/__root.tsx
  examples/react/start-large/app/routes/__root.tsx
  examples/react/start-supabase-basic/app/routes/__root.tsx
  examples/react/start-trellaux/app/routes/__root.tsx
  packages/create-start/src/modules/core/template/app/routes/__root.tsx
  packages/eslint-plugin-router/src/__tests__/create-route-property-order.rule.test.ts
  packages/eslint-plugin-router/src/rules/create-route-property-order/constants.ts
  packages/react-router/src/Asset.tsx
  packages/react-router/src/HeadContent.tsx
  packages/react-router/src/Matches.tsx
  packages/react-router/src/Scripts.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/route.ts
  packages/react-router/src/router.ts
  packages/react-router/tests/Scripts.test.tsx
  packages/react-router/tests/route.test.tsx
  packages/start-client/package.json
  packages/start-client/src/Meta.tsx
  packages/start-client/src/RouterManagedTag.tsx
  packages/start-client/src/Scripts.tsx
  packages/start-client/src/index.tsx
  packages/start-client/src/ssr-client.tsx
  packages/start-router-manifest/src/index.ts
Labels: documentation, package: react-router, package: start-router-manifest, package: start-client, package: eslint-plugin-router, package: create-start

#3441 fix(start): fix HMR preamble issue
  packages/start-router-manifest/src/index.ts
Labels: package: start-router-manifest

#3447 fix(directive-functions-plugin): handle anonymous default exports
  packages/directive-functions-plugin/src/compilers.ts
  packages/directive-functions-plugin/tests/compiler.test.ts
Labels: package: directive-functions-plugin

#3451 fix(start): use FetcherData by default for return type
  packages/start-client/src/createServerFn.ts
  packages/start-client/src/tests/createServerFn.test-d.tsx
Labels: package: start-client

#3463 fix: propagate cookies from server functions during SSR
  e2e/start/server-functions/app/routeTree.gen.ts
  e2e/start/server-functions/app/routes/cookies/index.tsx
  e2e/start/server-functions/app/routes/cookies/set.tsx
  e2e/start/server-functions/app/routes/index.tsx
  e2e/start/server-functions/package.json
  e2e/start/server-functions/tests/server-functions.spec.ts
  packages/start-client/package.json
  packages/start-client/src/headers.ts
  packages/start-server-functions-handler/src/index.tsx
  packages/start-server-functions-ssr/src/index.tsx
  packages/start-server/src/createRequestHandler.ts
  packages/start-server/src/createStartHandler.ts
  packages/start-server/src/defaultRenderHandler.tsx
  packages/start-server/src/defaultStreamHandler.tsx
  packages/start-server/src/handlerCallback.ts
  packages/start-server/src/index.tsx
  pnpm-lock.yaml
Labels: package: start-client, package: start-server, package: start-server-functions-handler, package: start-server-functions-ssr

#3465 fix(react-router): only navigate once in StrictMode
  packages/react-router/src/useNavigate.tsx
  packages/react-router/tests/useNavigate.test.tsx
Labels: package: react-router

#3426 refactor: remove clientAfter
  docs/start/framework/react/middleware.md
  examples/react/start-basic-static/app/utils/loggingMiddleware.tsx
  examples/react/start-large/app/routes/params/$paramsPlaceholder.tsx
  examples/react/start-large/app/routes/search/searchPlaceholder.tsx
  packages/start-client/src/createMiddleware.ts
  packages/start-client/src/createServerFn.ts
  packages/start-client/src/index.tsx
  packages/start-client/src/tests/createServerFn.test-d.tsx
  packages/start-client/src/tests/createServerMiddleware.test-d.ts
Labels: documentation, package: start-client

#3460 feat(react-router-with-query): Handle redirects thrown inside mutations/queries.
  packages/react-router-with-query/src/index.tsx
Labels: package: react-router-with-query

#3285 fix(start): ensure generic h3 functions remain generic, including new overloads
  packages/start-server-functions-ssr/src/index.tsx
  packages/start-server/src/index.tsx
  packages/start-server/tests/h3-wrappers.test-d.ts
  packages/start-server/tsconfig.json
Labels: package: start-server, package: start-server-functions-ssr

#3466 docs(router): update `notFound` whole page example
  docs/router/framework/react/api/router/notFoundFunction.md
Labels: documentation

#3485 feat(react-router): final type utilities
  docs/router/config.json
  docs/router/framework/react/guide/type-utilities.md
  examples/react/start-large/app/routes/linkProps.tsx
  examples/react/start-large/app/typePrimitives.tsx
  packages/react-router/src/link.tsx
  packages/react-router/src/typePrimitives.ts
Labels: documentation, package: react-router

#3495 doc: fix headings for type utilities
  docs/router/framework/react/guide/type-utilities.md
Labels: documentation

#3487 fix: doc fix for createRootRoute
  docs/router/framework/react/guide/tanstack-start.md
Labels: documentation

#3496 fix(react-router, solid-router): do not strip search params if search validation fails
  packages/react-router/src/router.ts
  packages/react-router/tests/router.test.tsx
  packages/solid-router/src/router.ts
  packages/solid-router/tests/Scripts.test.tsx
  packages/solid-router/tests/router.test.tsx
Labels: package: react-router, package: solid-router

#3502 docs(router): fix missing "of" in "overview.md"
  docs/router/framework/react/overview.md
Labels: documentation

#3481 docs(solid-router): add getting-started pages
  docs/router/config.json
  docs/router/framework/solid/installation.md
  docs/router/framework/solid/overview.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

#3506 chore: update 404 route docs for file-based routing
  docs/router/framework/react/guide/creating-a-router.md
Labels: documentation

#3514 refactor(start-server-functions-server): make agnostic
  packages/start-server-functions-server/package.json
  packages/start-server-functions-server/src/index.ts
  packages/start-server-functions-server/vite.config.ts
  pnpm-lock.yaml
Labels: package: start-server-functions-server

#3513 refactor(start-server-functions-ssr): make agnostic
  packages/start-server-functions-ssr/package.json
  packages/start-server-functions-ssr/src/index.ts
  packages/start-server-functions-ssr/vite.config.ts
  pnpm-lock.yaml
Labels: package: start-server-functions-ssr

#3511 refactor(start-api-routes): make agnostic to only need `router-core`
  packages/start-api-routes/package.json
  packages/start-api-routes/src/index.ts
  packages/start-api-routes/vite.config.ts
  pnpm-lock.yaml
Labels: package: start-api-routes

#3512 refactor(start-router-manifest): make agnostic to only need `router-core`
  packages/start-router-manifest/package.json
  packages/start-router-manifest/src/index.ts
  packages/start-router-manifest/vite.config.ts
  pnpm-lock.yaml
Labels: package: start-router-manifest

#3517 refactor(start-server-functions-client): make agnostic
  packages/start-server-functions-client/package.json
  packages/start-server-functions-client/src/index.ts
  packages/start-server-functions-client/vite.config.ts
  pnpm-lock.yaml
Labels: package: start-server-functions-client

#3530 chore: correct deps
  packages/directive-functions-plugin/package.json
  packages/server-functions-plugin/package.json
  packages/start-plugin/package.json
  pnpm-lock.yaml
Labels: package: directive-functions-plugin, package: server-functions-plugin, package: start-plugin

#3523 docs(start): clarify that `__root.tsx` has two `_` characters
  docs/router/framework/react/quick-start.md
Labels: documentation

#3501 fix: global middleware
  docs/start/framework/react/middleware.md
  examples/react/start-basic/app/global-middleware.ts
  examples/react/start-basic/app/utils/loggingMiddleware.tsx
  packages/start-config/src/index.ts
  packages/start-config/src/schema.ts
  packages/start-plugin/src/index.ts
Labels: documentation, package: start-config, package: start-plugin

#3539 docs(start): fix broken link to router docs
  docs/start/framework/react/learn-the-basics.md
Labels: documentation

#3538 refactor(router-core): begin migrating types from react-router and solid-router to router-core
  packages/react-router/src/Matches.tsx
  packages/react-router/src/RouterProvider.tsx
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/index.tsx
  packages/react-router/src/link.tsx
  packages/react-router/src/not-found.tsx
  packages/react-router/src/redirects.ts
  packages/react-router/src/route.ts
  packages/react-router/src/router.ts
  packages/react-router/src/typePrimitives.ts
  packages/react-router/src/useBlocker.tsx
  packages/react-router/src/useLoaderData.tsx
  packages/react-router/src/useLoaderDeps.tsx
  packages/react-router/src/useNavigate.tsx
  packages/react-router/src/useParams.tsx
  packages/react-router/src/useRouteContext.ts
  packages/react-router/src/useSearch.tsx
  packages/react-router/src/utils.ts
  packages/react-router/tests/fileRoute.test-d.tsx
  packages/router-core/src/RouterProvider.ts
  packages/router-core/src/fileRoute.ts
  packages/router-core/src/index.ts
  packages/router-core/src/link.ts
  packages/router-core/src/route.ts
  packages/router-core/src/routeInfo.ts
  packages/router-core/src/router.ts
  packages/solid-router/src/Matches.tsx
  packages/solid-router/src/RouterProvider.tsx
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/src/link.tsx
  packages/solid-router/src/not-found.tsx
  packages/solid-router/src/redirects.ts
  packages/solid-router/src/route.ts
  packages/solid-router/src/routeInfo.ts
  packages/solid-router/src/router.ts
  packages/solid-router/src/typePrimitives.ts
  packages/solid-router/src/useBlocker.tsx
  packages/solid-router/src/useLoaderData.tsx
  packages/solid-router/src/useLoaderDeps.tsx
  packages/solid-router/src/useNavigate.tsx
  packages/solid-router/src/useParams.tsx
  packages/solid-router/src/useRouteContext.ts
  packages/solid-router/src/useSearch.tsx
  packages/solid-router/src/utils.ts
  packages/solid-router/tests/fileRoute.test-d.tsx
  packages/solid-router/tests/lazy/normal.tsx
Labels: package: react-router, package: router-core, package: solid-router

#3541 fix: solid-router for ssr
  packages/solid-router/package.json
  packages/solid-router/tsconfig.build.json
Labels: package: solid-router

#3545 fix: allow getRouterManifest to be async
  packages/start-server/src/createRequestHandler.ts
  packages/start-server/src/createStartHandler.ts
Labels: package: start-server

#3549 chore(react-cross-context,solid-cross-context): remove unused cross-context
  .github/labeler.yml
  package.json
  packages/react-cross-context/eslint.config.js
  packages/react-cross-context/package.json
  packages/react-cross-context/src/Context.ts
  packages/react-cross-context/src/index.ts
  packages/react-cross-context/tsconfig.json
  packages/react-cross-context/vite.config.ts
  packages/solid-cross-context/eslint.config.js
  packages/solid-cross-context/package.json
  packages/solid-cross-context/src/Context.ts
  packages/solid-cross-context/src/index.ts
  packages/solid-cross-context/tsconfig.json
  packages/solid-cross-context/vite.config.ts
  packages/start-client/package.json
  packages/start-server/package.json
  pnpm-lock.yaml
  scripts/publish.js
Labels: package: start-client, package: start-server, package: solid-cross-context, package: react-cross-context

#3540 refactor(router-core): move more types to router-core
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/index.tsx
  packages/react-router/src/redirects.ts
  packages/react-router/src/route.ts
  packages/react-router/src/router.ts
  packages/react-router/src/typePrimitives.ts
  packages/react-router/src/useLoaderData.tsx
  packages/react-router/src/useLoaderDeps.tsx
  packages/react-router/src/useMatch.tsx
  packages/react-router/src/useNavigate.tsx
  packages/react-router/src/useParams.tsx
  packages/react-router/src/useRouteContext.ts
  packages/react-router/src/useSearch.tsx
  packages/react-router/src/utils.ts
  packages/router-core/src/index.ts
  packages/router-core/src/redirect.ts
  packages/router-core/src/useLoaderData.ts
  packages/router-core/src/useLoaderDeps.ts
  packages/router-core/src/useNavigate.ts
  packages/router-core/src/useParams.ts
  packages/router-core/src/useRouteContext.ts
  packages/router-core/src/useSearch.ts
  packages/router-core/src/utils.ts
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/src/redirects.ts
  packages/solid-router/src/route.ts
  packages/solid-router/src/router.ts
  packages/solid-router/src/typePrimitives.ts
  packages/solid-router/src/useLoaderData.tsx
  packages/solid-router/src/useLoaderDeps.tsx
  packages/solid-router/src/useNavigate.tsx
  packages/solid-router/src/useParams.tsx
  packages/solid-router/src/useRouteContext.ts
  packages/solid-router/src/useSearch.tsx
Labels: package: react-router, package: router-core, package: solid-router

#3551 fix(router-core,router-plugin) use router-core in router-plugin
  packages/router-core/src/index.ts
  packages/router-plugin/package.json
  packages/router-plugin/src/core/config.ts
  pnpm-lock.yaml
Labels: package: router-core, package: router-plugin

#3419 fix(router-core): allow `%25` in path params
  e2e/react-router/basic-file-based/src/routeTree.gen.ts
  e2e/react-router/basic-file-based/src/routes/params.single.$value.tsx
  e2e/react-router/basic-file-based/tests/params.spec.ts
  packages/react-router/tests/router.test.tsx
  packages/router-core/src/path.ts
Labels: package: react-router, package: router-core

#3552 refactor(router-core): migrate matches and route options to core
  packages/react-router/src/Matches.tsx
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/index.tsx
  packages/react-router/src/route.ts
  packages/react-router/src/router.ts
  packages/react-router/src/useMatch.tsx
  packages/react-router/tests/route.test-d.tsx
  packages/react-router/tests/useMatch.test-d.tsx
  packages/router-core/src/Matches.ts
  packages/router-core/src/index.ts
  packages/router-core/src/route.ts
  packages/router-core/src/typePrimitives.ts
  packages/solid-router/src/Matches.tsx
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/src/route.ts
  packages/solid-router/src/router.ts
  packages/solid-router/src/useMatch.tsx
  packages/solid-router/tests/Matches.test-d.tsx
  packages/solid-router/tests/route.test-d.tsx
  packages/solid-router/tests/routeApi.test-d.tsx
  packages/solid-router/tests/useMatch.test-d.tsx
Labels: package: react-router, package: router-core, package: solid-router

#3543 docs(router): remove unnecessary inline TOC in routing concepts guide
  docs/router/framework/react/guide/routing-concepts.md
Labels: documentation

#3554 fix(solid-router): add missing exports from solid-router
  packages/solid-router/src/index.tsx
Labels: package: solid-router

#3558 chore: add react-router tests to solid-router
  e2e/solid-router/basic-file-based/src/routeTree.gen.ts
  e2e/solid-router/basic-file-based/src/routes/params.single.$value.tsx
  e2e/solid-router/basic-file-based/tests/params.spec.ts
  packages/solid-router/tests/router.test.tsx
Labels: package: solid-router

#3562 router docs update; fixes #3534
  docs/router/framework/react/guide/navigation.md
Labels: documentation

#3546 refactor(start-client, start-server, start-server-functions-fetcher): work towards making agnostic
  packages/start-client/package.json
  packages/start-client/src/createMiddleware.ts
  packages/start-client/src/createServerFn.ts
  packages/start-client/src/serializer.ts
  packages/start-client/src/ssr-client.tsx
  packages/start-client/src/tests/createServerFn.test-d.tsx
  packages/start-client/src/tests/createServerMiddleware.test-d.ts
  packages/start-server-functions-fetcher/package.json
  packages/start-server-functions-fetcher/src/index.ts
  packages/start-server-functions-fetcher/tsconfig.json
  packages/start-server-functions-fetcher/vite.config.ts
  packages/start-server-functions-handler/src/index.ts
  packages/start-server-functions-handler/tsconfig.json
  packages/start-server-functions-handler/vite.config.ts
  packages/start-server/package.json
  packages/start-server/src/createRequestHandler.ts
  packages/start-server/src/createStartHandler.ts
  packages/start-server/src/ssr-server.ts
  pnpm-lock.yaml
Labels: package: start-client, package: start-server, package: start-server-functions-handler, package: start-server-functions-fetcher

#3567 refactor: move routing documentation into its own section
  docs/router/api/file-based-routing.md
  docs/router/config.json
  docs/router/framework/react/decisions-on-dx.md
  docs/router/framework/react/guide/code-splitting.md
  docs/router/framework/react/guide/creating-a-router.md
  docs/router/framework/react/guide/file-based-routing.md
  docs/router/framework/react/guide/not-found-errors.md
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/quick-start.md
  docs/router/framework/react/routing/code-based-routing.md
  docs/router/framework/react/routing/file-based-routing.md
  docs/router/framework/react/routing/file-naming-conventions.md
  docs/router/framework/react/routing/installation-with-esbuild.md
  docs/router/framework/react/routing/installation-with-router-cli.md
  docs/router/framework/react/routing/installation-with-rspack.md
  docs/router/framework/react/routing/installation-with-vite.md
  docs/router/framework/react/routing/installation-with-webpack.md
  docs/router/framework/react/routing/route-matching.md
  docs/router/framework/react/routing/route-trees.md
  docs/router/framework/react/routing/routing-concepts.md
  docs/router/framework/react/routing/virtual-file-routes.md
  docs/router/framework/solid/guide/code-based-routing.md
  docs/router/framework/solid/guide/route-matching.md
  docs/router/framework/solid/guide/route-trees.md
  docs/router/framework/solid/guide/routing-concepts.md
  docs/router/framework/solid/quick-start.md
  docs/router/framework/solid/routing/code-based-routing.md
  docs/router/framework/solid/routing/file-based-routing.md
  docs/router/framework/solid/routing/file-naming-conventions.md
  docs/router/framework/solid/routing/installation-with-router-cli.md
  docs/router/framework/solid/routing/installation-with-vite.md
  docs/router/framework/solid/routing/route-matching.md
  docs/router/framework/solid/routing/route-trees.md
  docs/router/framework/solid/routing/routing-concepts.md
  docs/router/framework/solid/routing/virtual-file-routes.md
  docs/start/framework/react/api-routes.md
  docs/start/framework/react/learn-the-basics.md
  packages/directive-functions-plugin/README.md
  packages/react-router/src/router.ts
  packages/react-start-plugin/README.md
  packages/router-cli/README.md
  packages/router-plugin/README.md
  packages/solid-router/src/router.ts
Labels: documentation, package: react-router, package: router-plugin, package: directive-functions-plugin, package: router-cli, package: solid-router, package: react-start-plugin

#3569 docs(router): cleanup reference page for "file-based-routing"
  docs/router/api/file-based-routing.md
Labels: documentation

#3581 docs(start): missing syntax snippet from static-prerendering guide
  docs/start/framework/react/static-prerendering.md
Labels: documentation

#3574 docs(react-router): update import from `viteReact` to `react`
  docs/router/framework/react/guide/code-splitting.md
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/quick-start.md
  docs/router/framework/react/routing/installation-with-vite.md
Labels: documentation

#3584 docs(solid-router): missing steps for `tsconfig.json`
  docs/router/framework/react/routing/installation-with-router-cli.md
  docs/router/framework/solid/routing/installation-with-router-cli.md
  docs/router/framework/solid/routing/installation-with-vite.md
Labels: documentation

#3592 fix(solid-router): remove delete linkProps.disabled
  packages/solid-router/src/link.tsx
Labels: package: solid-router

#3594 fix(react-start-client): execute `head` and `scripts` after custom hydration
  packages/react-start-client/src/ssr-client.tsx
Labels: package: react-start-client

#3599 docs: differentiate between "layout" and "pathless layout" routes
  docs/router/framework/react/api/router/RouteOptionsType.md
  docs/router/framework/react/guide/authenticated-routes.md
  docs/router/framework/react/guide/not-found-errors.md
  docs/router/framework/react/guide/type-safety.md
  docs/router/framework/react/migrate-from-react-location.md
  docs/router/framework/react/overview.md
  docs/router/framework/react/routing/code-based-routing.md
  docs/router/framework/react/routing/file-based-routing.md
  docs/router/framework/react/routing/file-naming-conventions.md
  docs/router/framework/react/routing/route-trees.md
  docs/router/framework/react/routing/routing-concepts.md
  docs/router/framework/react/routing/virtual-file-routes.md
  docs/start/framework/react/api-routes.md
  docs/start/framework/react/learn-the-basics.md
  docs/start/framework/react/overview.md
Labels: documentation

#3532 feat(start): allow to return raw response from server function
  e2e/react-start/server-functions/app/routeTree.gen.ts
  e2e/react-start/server-functions/app/routes/consistent.tsx
  e2e/react-start/server-functions/app/routes/index.tsx
  e2e/react-start/server-functions/app/routes/raw-response.tsx
  e2e/react-start/server-functions/app/routes/submit-post-formdata.tsx
  e2e/react-start/server-functions/tests/server-functions.spec.ts
  packages/react-start-client/src/createMiddleware.ts
  packages/react-start-client/src/createServerFn.ts
  packages/react-start-client/src/tests/createServerFn.test-d.tsx
  packages/react-start-server-functions-fetcher/src/index.ts
  packages/react-start-server-functions-handler/src/index.ts
  packages/router-core/src/serializer.ts
Labels: package: router-core, package: react-start-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler

#3603 Documentation proofreading
  docs/router/framework/react/api/router/RouteOptionsType.md
  docs/router/framework/react/api/router/RouterOptionsType.md
  docs/router/framework/react/api/router/useBlockerHook.md
Labels: documentation

#3605 fix(react-start-client): export `ServerFnResponseType` type
  packages/react-start-client/src/index.tsx
Labels: package: react-start-client
