Repository TanStack/router, pull requests merged in 2025-05, with the labels that each got.

#4073 Fixed typos
  docs/start/framework/react/hosting.md
Labels: documentation

#4074 docs(router): add ignore prefix into the file naming conventions guide
  docs/router/framework/react/routing/file-naming-conventions.md
Labels: documentation

#4075 docs(router): walkthrough on using the ignore prefix for component colocation in the routing-concepts guide
  docs/router/framework/react/routing/routing-concepts.md
Labels: documentation

#4080 fix(directive-functions-plugin): do not outlaw generator functions
  packages/directive-functions-plugin/src/compilers.ts
  packages/directive-functions-plugin/tests/compiler.test.ts
Labels: package: directive-functions-plugin

#4085 fix the uptdated link for file base routing
  packages/router-vite-plugin/README.md
Labels: package: router-vite-plugin

#4089 Adding Tutorial for Reading and Writing a File
  docs/start/config.json
  docs/start/framework/react/reading-writing-file.md
Labels: documentation

#4090 docs(start): fix clerk logo typo
  docs/start/framework/react/overview.md
Labels: documentation

#4096 test(directive-functions-plugin): add yields to generators
  packages/directive-functions-plugin/tests/compiler.test.ts
Labels: package: directive-functions-plugin

#4091 docs(router): update route-trees.md wording
  docs/router/framework/react/routing/route-trees.md
Labels: documentation

#4095 feat: add bindings for `Route.Link` and `routeApi.Link`
  packages/react-router/src/link.tsx
  packages/react-router/src/route.tsx
  packages/react-router/tests/routeApi.test-d.tsx
  packages/solid-router/src/link.tsx
  packages/solid-router/src/route.tsx
  packages/solid-router/tests/routeApi.test-d.tsx
Labels: package: react-router, package: solid-router

#4099 fix: use this.fullPath instead of useRouter
  packages/react-router/src/route.tsx
  packages/solid-router/src/route.tsx
Labels: package: react-router, package: solid-router

#4100 doc: Update search-params.md Effect/Schema Adapter heading
  docs/router/framework/react/guide/search-params.md
Labels: documentation

#4117 perf: improve type checking performance of `Route.Link`
  packages/react-router/src/link.tsx
  packages/react-router/src/route.tsx
  packages/router-core/src/link.ts
  packages/router-core/src/redirect.ts
  packages/router-core/src/route.ts
  packages/router-core/src/router.ts
  packages/router-core/src/utils.ts
  packages/solid-router/src/link.tsx
  packages/solid-router/src/route.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4125 docs(start): Fix contents outdated by Devinxi
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

#4135 fix: declare `vite` as a `peerDependency`
  e2e/react-start/basic/package.json
  e2e/solid-start/basic-tsr-config/package.json
  e2e/solid-start/basic/package.json
  e2e/solid-start/scroll-restoration/package.json
  e2e/solid-start/server-functions/package.json
  e2e/solid-start/website/package.json
  packages/directive-functions-plugin/package.json
  packages/react-start-plugin/package.json
  packages/react-start/package.json
  packages/server-functions-plugin/package.json
  packages/solid-start-plugin/package.json
  packages/solid-start/package.json
  packages/start-plugin-core/package.json
  packages/start-server-functions-fetcher/package.json
  packages/start-server-functions-server/package.json
  pnpm-lock.yaml
Labels: package: directive-functions-plugin, package: start-server-functions-server, package: server-functions-plugin, package: react-start-plugin, package: react-start, package: solid-start-plugin, package: solid-start, package: start-server-functions-fetcher, package: start-plugin-core

#4136 fix(router-generator): exit conditions when using `verboseFileRoutes`
  packages/router-generator/src/generator.ts
Labels: package: router-generator

#4137 fix(start-plugin-core): patches for Virtual Routes in Server Routes
  e2e/react-start/virtual-routes/.gitignore
  e2e/react-start/virtual-routes/.prettierignore
  e2e/react-start/virtual-routes/.tanstack-start/server-routes/routeTree.gen.ts
  e2e/react-start/virtual-routes/package.json
  e2e/react-start/virtual-routes/playwright.config.ts
  e2e/react-start/virtual-routes/postcss.config.mjs
  e2e/react-start/virtual-routes/public/android-chrome-192x192.png
  e2e/react-start/virtual-routes/public/android-chrome-512x512.png
  e2e/react-start/virtual-routes/public/apple-touch-icon.png
  e2e/react-start/virtual-routes/public/favicon-16x16.png
  e2e/react-start/virtual-routes/public/favicon-32x32.png
  e2e/react-start/virtual-routes/public/favicon.ico
  e2e/react-start/virtual-routes/public/favicon.png
  e2e/react-start/virtual-routes/public/script.js
  e2e/react-start/virtual-routes/public/script2.js
  e2e/react-start/virtual-routes/public/site.webmanifest
  e2e/react-start/virtual-routes/routes.ts
  e2e/react-start/virtual-routes/src/posts.tsx
  e2e/react-start/virtual-routes/src/routeTree.gen.ts
  e2e/react-start/virtual-routes/src/router.tsx
  e2e/react-start/virtual-routes/src/routes/a.tsx
  e2e/react-start/virtual-routes/src/routes/b.tsx
  e2e/react-start/virtual-routes/src/routes/file-based-subtree/hello/index.tsx
  e2e/react-start/virtual-routes/src/routes/file-based-subtree/hello/route.tsx
  e2e/react-start/virtual-routes/src/routes/file-based-subtree/hello/universe.tsx
  e2e/react-start/virtual-routes/src/routes/file-based-subtree/hello/world.tsx
  e2e/react-start/virtual-routes/src/routes/home.tsx
  e2e/react-start/virtual-routes/src/routes/layout/first-layout.tsx
  e2e/react-start/virtual-routes/src/routes/layout/second-layout.tsx
  e2e/react-start/virtual-routes/src/routes/posts/posts-detail.tsx
  e2e/react-start/virtual-routes/src/routes/posts/posts-home.tsx
  e2e/react-start/virtual-routes/src/routes/posts/posts.tsx
  e2e/react-start/virtual-routes/src/routes/root.tsx
  e2e/react-start/virtual-routes/src/styles/app.css
  e2e/react-start/virtual-routes/src/tanstack-start.d.ts
  e2e/react-start/virtual-routes/src/utils/posts.tsx
  e2e/react-start/virtual-routes/src/utils/seo.ts
  e2e/react-start/virtual-routes/src/utils/users.tsx
  e2e/react-start/virtual-routes/tailwind.config.mjs
  e2e/react-start/virtual-routes/tests/app.spec.ts
  e2e/react-start/virtual-routes/tsconfig.json
  e2e/react-start/virtual-routes/vite.config.ts
  packages/start-plugin-core/src/start-server-routes-plugin/plugin.ts
  pnpm-lock.yaml
Labels: package: start-plugin-core

#4147 refactor(start-server-core): use utility functions from router-core
  packages/start-server-core/src/createStartHandler.ts
Labels: package: start-server-core

#4148 Remove validators from server-routes.md
  docs/start/framework/react/server-routes.md
Labels: documentation

#4149 fix(start-plugin-core): remove backslashes from declaration import
  packages/start-plugin-core/src/start-server-routes-plugin/plugin.ts
Labels: package: start-plugin-core

#4144 feat(router-core): type level parsing of path params
  e2e/react-router/basic-file-based/src/routes/params-ps/index.tsx
  e2e/react-router/basic/src/main.tsx
  e2e/react-start/website/src/routes/$project.$version.docs.framework.$framework.{$}[.]md.tsx
  packages/react-router/src/Matches.tsx
  packages/react-router/src/index.tsx
  packages/react-router/tests/route.test-d.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/link.ts
  packages/router-core/src/route.ts
  packages/solid-router/src/Matches.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/tests/route.test-d.tsx
  packages/start-server-core/src/serverRoute.ts
Labels: package: react-router, package: router-core, package: solid-router, package: start-server-core

#4150 docs(start): Remove unplanned feature from docs
  docs/start/framework/react/server-functions.md
Labels: documentation

#4154 docs(start): Server Functions can be called from Server Routes
  docs/start/framework/react/server-functions.md
Labels: documentation

#4155 docs(start): server-routes
  docs/start/framework/react/server-routes.md
Labels: documentation

#4157 fix: remove set/get global origin
  packages/react-start-plugin/src/index.ts
  packages/solid-start-plugin/src/index.ts
  packages/start-server-core/src/index.tsx
  packages/start-server-core/src/undici.ts
Labels: package: react-start-plugin, package: solid-start-plugin, package: start-server-core

#4156 fix: properly handle redirects thrown by server functions
  packages/router-core/src/redirect.ts
  packages/start-server-core/src/createStartHandler.ts
Labels: package: router-core, package: start-server-core

#4152 docs(start): document that serverFn can be used in server routes
  docs/start/framework/react/server-functions.md
Labels: documentation

#4160 fix: remove unused header
  packages/router-core/src/index.ts
  packages/router-core/src/redirect.ts
  packages/start-server-core/src/createStartHandler.ts
Labels: package: router-core, package: start-server-core

#4159 feat(react-start): Wrap default client entry with `<StrictMode>`
  docs/start/framework/react/learn-the-basics.md
  packages/react-start-plugin/src/index.ts
Labels: documentation, package: react-start-plugin

#4168 fix: remove undici
  packages/start-plugin-core/src/plugin.ts
  packages/start-server-core/package.json
  pnpm-lock.yaml
Labels: package: start-plugin-core, package: start-server-core

#4164 chore(docs): specify that not found errors are handled by the nearest parent when called within `loader`
  docs/router/framework/react/guide/not-found-errors.md
Labels: documentation

#4167 fix: ensure compatibility with vite plugins that don't support the vite environment API
  examples/react/start-tailwind-v4/.gitignore
  examples/react/start-tailwind-v4/.prettierignore
  examples/react/start-tailwind-v4/.tanstack-start/server-routes/routeTree.gen.ts
  examples/react/start-tailwind-v4/.vscode/settings.json
  examples/react/start-tailwind-v4/README.md
  examples/react/start-tailwind-v4/package.json
  examples/react/start-tailwind-v4/src/routeTree.gen.ts
  examples/react/start-tailwind-v4/src/router.tsx
  examples/react/start-tailwind-v4/src/routes/__root.tsx
  examples/react/start-tailwind-v4/src/routes/index.tsx
  examples/react/start-tailwind-v4/src/styles/app.css
  examples/react/start-tailwind-v4/src/tanstack-start.d.ts
  examples/react/start-tailwind-v4/tsconfig.json
  examples/react/start-tailwind-v4/vite.config.ts
  packages/react-start-plugin/package.json
  packages/react-start-plugin/src/index.ts
  packages/router-plugin/src/core/router-generator-plugin.ts
  packages/server-functions-plugin/src/index.ts
  packages/solid-start-plugin/package.json
  packages/solid-start-plugin/src/index.ts
  packages/start-plugin-core/package.json
  packages/start-plugin-core/src/constants.ts
  packages/start-plugin-core/src/nitro/dev-server-plugin.ts
  packages/start-plugin-core/src/nitro/nitro-plugin.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/prerender.ts
  packages/start-server-core/src/server-functions-handler.ts
  pnpm-lock.yaml
Labels: package: router-plugin, package: server-functions-plugin, package: react-start-plugin, package: solid-start-plugin, package: start-plugin-core, package: start-server-core

#4172 fix: resolve custom `client` and `server` entry paths
  e2e/react-start/basic/src/client.tsx
  e2e/react-start/basic/src/server.ts
  e2e/solid-start/basic/src/client.tsx
  e2e/solid-start/basic/src/server.ts
  examples/react/start-basic-static/src/server.ts
  examples/react/start-clerk-basic/src/server.ts
  examples/react/start-convex-trellaux/src/server.ts
  examples/react/start-counter/src/server.ts
  examples/react/start-counter/src/server.tsx
  examples/react/start-trellaux/src/server.ts
  examples/solid/start-basic-static/src/server.ts
  packages/react-start-plugin/src/index.ts
  packages/solid-start-plugin/src/index.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/schema.ts
Labels: package: react-start-plugin, package: solid-start-plugin, package: start-plugin-core

#4174 fix: relative runtime navigation
  e2e/react-start/basic/tests/redirect.spec.ts
  packages/react-router/src/link.tsx
  packages/react-router/src/useNavigate.tsx
  packages/react-router/tests/link.test.tsx
  packages/react-router/tests/useNavigate.test.tsx
  packages/router-core/src/link.ts
Labels: package: react-router, package: router-core

#4177 fix: spa-mode
  docs/start/config.json
  docs/start/framework/react/spa-mode.md
  docs/start/framework/solid/spa-mode.md
  docs/start/framework/solid/spa-shell.md
  e2e/react-start/basic/tests/redirect.spec.ts
  e2e/solid-start/basic/tests/redirect.spec.ts
  examples/react/start-basic-static/vite.config.ts
  examples/solid/start-basic-static/vite.config.ts
  packages/server-functions-plugin/README.md
  packages/start-plugin-core/src/nitro/nitro-plugin.ts
  packages/start-plugin-core/src/prerender.ts
  packages/start-plugin-core/src/schema.ts
  packages/start-server-core/src/server-functions-handler.ts
Labels: documentation, package: server-functions-plugin, package: start-plugin-core, package: start-server-core

#4179 fix: no `@fs` in dev for client entry
  README.md
  packages/start-plugin-core/src/plugin.ts
  packages/start-server-core/src/ssr-server.ts
Labels: package: start-plugin-core, package: start-server-core

#4180 fix: resolve custom `server` entry path on windows fs
  e2e/react-start/basic/src/server.ts
  e2e/solid-start/basic/src/server.ts
  packages/react-start-plugin/src/index.ts
  packages/solid-start-plugin/src/index.ts
Labels: package: react-start-plugin, package: solid-start-plugin

#4181 fix: resolve custom `client` entry path on windows fs
  e2e/react-start/basic/src/client.tsx
  e2e/react-start/basic/src/server.ts
  e2e/solid-start/basic/src/client.tsx
  e2e/solid-start/basic/src/server.ts
  packages/start-plugin-core/src/plugin.ts
Labels: package: start-plugin-core

#4169 docs(router): fix `scrollRestorationBehavior` option in "scroll-restoration" guide
  docs/router/framework/react/guide/scroll-restoration.md
Labels: documentation

#4183 feat(start-server-core): resolve relative requests to the same origin
  packages/start-server-core/src/createStartHandler.ts
Labels: package: start-server-core

#4185 fix(start-plugin-core): enable pre-rendering with just `pages`
  packages/start-plugin-core/src/nitro/nitro-plugin.ts
Labels: package: start-plugin-core

#4186 fix: properly handle sessionStorage not being available for scroll restoration
  packages/react-router/src/ScrollRestoration.tsx
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/ScrollRestoration.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4187 chore: various fixes
  .gitignore
  docs/router/framework/react/routing/installation-with-esbuild.md
  docs/router/framework/react/routing/installation-with-rspack.md
  docs/router/framework/react/routing/installation-with-webpack.md
  docs/start/framework/react/build-from-scratch.md
  docs/start/framework/react/hosting.md
  docs/start/framework/react/learn-the-basics.md
  docs/start/framework/react/server-routes.md
  docs/start/framework/react/ssr.md
  docs/start/framework/solid/build-from-scratch.md
  docs/start/framework/solid/learn-the-basics.md
  docs/start/framework/solid/ssr.md
  e2e/react-router/basic-esbuild-file-based/src/esbuild.config.js
  e2e/react-router/rspack-basic-file-based/rsbuild.config.ts
  e2e/react-router/rspack-basic-virtual-named-export-config-file-based/rsbuild.config.ts
  e2e/solid-router/basic-esbuild-file-based/src/esbuild.config.js
  e2e/solid-router/rspack-basic-file-based/rsbuild.config.ts
  e2e/solid-router/rspack-basic-virtual-named-export-config-file-based/rsbuild.config.ts
  examples/react/quickstart-esbuild-file-based/esbuild.config.js
  examples/react/quickstart-rspack-file-based/rsbuild.config.ts
  examples/react/quickstart-webpack-file-based/webpack.config.js
  examples/react/start-material-ui/src/client.tsx
  examples/react/start-workos/src/client.tsx
  packages/react-start-plugin/package.json
  packages/react-start-plugin/src/index.ts
  packages/router-generator/src/utils.ts
  packages/router-plugin/src/core/code-splitter/compilers.ts
  packages/router-plugin/src/core/route-autoimport-plugin.ts
  packages/router-plugin/src/core/router-composed-plugin.ts
  packages/router-plugin/src/esbuild.ts
  packages/router-plugin/src/rspack.ts
  packages/router-plugin/src/webpack.ts
  packages/solid-start-plugin/package.json
  packages/solid-start-plugin/src/index.ts
  packages/start-plugin-core/package.json
  packages/start-plugin-core/src/index.ts
  packages/start-plugin-core/src/plugin.ts
  pnpm-lock.yaml
Labels: documentation, package: router-plugin, package: router-generator, package: react-start-plugin, package: solid-start-plugin, package: start-plugin-core

#4189 fix: head execution
  packages/react-router/tests/Scripts.test.tsx
  packages/react-router/tests/route.test.tsx
  packages/router-core/src/route.ts
  packages/router-core/src/router.ts
Labels: package: react-router, package: router-core

#4191 fix: merge main
  docs/router/framework/react/comparison.md
  docs/router/framework/react/guide/not-found-errors.md
  docs/router/framework/react/guide/scroll-restoration.md
  docs/start/framework/react/server-functions.md
  examples/react/basic-ssr-file-based/package.disabled.json
  examples/react/basic-ssr-streaming-file-based/package.disabled.json
  packages/react-router/src/ScrollRestoration.tsx
  packages/react-router/tests/Scripts.test.tsx
  packages/react-router/tests/route.test.tsx
  packages/router-core/src/route.ts
  packages/router-core/src/router.ts
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/ScrollRestoration.tsx
Labels: documentation, package: react-router, package: router-core, package: solid-router

#4194 fix: add support for 'using'
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/using@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/using@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/using@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/using@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/using@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/using@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/development/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/development/using@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/development/using@loader.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/production/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/production/using@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/production/using@loader.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/using@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/using@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/using@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/using@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/test-files/react/using.tsx
  packages/router-utils/src/ast.ts
Labels: package: router-plugin, package: router-utils

#4196 chore: simplify test for 'using'
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/using@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/using@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/using@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/using@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/using@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/using@notFoundComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/development/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/development/using@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/production/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/production/using@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/using@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/using@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/using.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/using@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/using@errorComponent.tsx
  packages/router-plugin/tests/code-splitter/test-files/react/using.tsx
Labels: package: router-plugin

#4126 fix(router-devtools-core) adds missing containerElement prop support for TanStackRouterDevtoolsCore
  packages/router-devtools-core/src/TanStackRouterDevtoolsCore.tsx
Labels: package: router-devtools-core

#4199 chore: router plugin restructuring
  e2e/react-router/basic-file-based/vite.config.js
  e2e/react-router/basic-react-query-file-based/vite.config.js
  e2e/react-router/js-only-file-based/vite.config.js
  e2e/react-router/scroll-restoration-sandbox-vite/vite.config.js
  e2e/solid-router/basic-file-based/vite.config.js
  e2e/solid-router/basic-solid-query-file-based/vite.config.js
  e2e/solid-router/scroll-restoration-sandbox-vite/vite.config.js
  examples/react/authenticated-routes-firebase/vite.config.js
  examples/react/authenticated-routes/vite.config.js
  examples/react/basic-file-based/vite.config.js
  examples/react/basic-react-query-file-based/vite.config.js
  examples/react/basic-ssr-file-based/vite.config.js
  examples/react/basic-ssr-streaming-file-based/vite.config.js
  examples/react/kitchen-sink-file-based/vite.config.js
  examples/react/kitchen-sink-react-query-file-based/vite.config.js
  examples/react/large-file-based/vite.config.js
  examples/react/quickstart-file-based/vite.config.js
  examples/react/view-transitions/vite.config.js
  examples/react/with-trpc-react-query/app.config.js
  examples/react/with-trpc/app.config.js
  examples/solid/basic-file-based/vite.config.js
  examples/solid/basic-solid-query-file-based/vite.config.js
  examples/solid/kitchen-sink-file-based/vite.config.js
  examples/solid/quickstart-file-based/vite.config.js
  packages/router-plugin/src/vite.ts
Labels: package: router-plugin

#4214 docs: fix neon bullet points and url
  docs/start/framework/react/databases.md
Labels: documentation

#4213 fix: allow head to be async
  packages/router-core/src/route.ts
  packages/router-core/src/router.ts
  packages/router-core/src/utils.ts
  packages/solid-router/tests/route.test.tsx
  packages/start-client-core/src/ssr-client.tsx
Labels: package: router-core, package: solid-router, package: start-client-core

#4218 refactor(start-plugin-core): omit `autoCodeSplitting` configuration option in `tsr`
  packages/router-plugin/src/core/config.ts
  packages/router-plugin/src/index.ts
  packages/start-plugin-core/src/schema.ts
Labels: package: router-plugin, package: start-plugin-core

#4217 fix: sitemap support
  examples/react/start-basic-static/vite.config.ts
  packages/start-plugin-core/src/build-sitemap.ts
  packages/start-plugin-core/src/nitro/build-sitemap.ts
  packages/start-plugin-core/src/nitro/nitro-plugin.ts
  packages/start-plugin-core/src/prerender.ts
  packages/start-plugin-core/src/schema.ts
Labels: package: start-plugin-core

#4223 Fix syntax error in search middleware example
  docs/router/framework/react/guide/search-params.md
Labels: documentation

#4216 docs(react-router): document migration path for `parseParams` and `stringifyParams`
  docs/router/framework/react/api/router/RouteOptionsType.md
Labels: documentation

#4226 refactor: consistent virtual module naming and resolve using Rollup conventions
  packages/react-start-server/vite.config.ts
  packages/server-functions-plugin/src/index.ts
  packages/solid-start-server/vite.config.ts
  packages/start-plugin-core/src/index.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/routesManifestPlugin.ts
  packages/start-plugin-core/src/start-server-routes-plugin/plugin.ts
  packages/start-plugin-core/src/utils.ts
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/router-manifest.ts
  packages/start-server-core/src/server-functions-handler.ts
  packages/start-server-core/src/tanstack-start.d.ts
  packages/start-server-core/vite.config.ts
Labels: package: server-functions-plugin, package: react-start-server, package: solid-start-server, package: start-plugin-core, package: start-server-core

#4232 feat(server-functions-plugin): make the manifest output path configurable
  packages/server-functions-plugin/README.md
  packages/server-functions-plugin/src/index.ts
  packages/start-plugin-core/src/plugin.ts
Labels: package: server-functions-plugin, package: start-plugin-core

#4233 fix: type errors
  packages/react-router/src/route.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/route.ts
  packages/solid-router/src/route.tsx
Labels: package: react-router, package: router-core, package: solid-router

#4184 fix: prepend `/@fs` when a custom client entry is detected
  packages/start-plugin-core/src/plugin.ts
Labels: package: start-plugin-core

#4235 fix: make sitemap accessible via public assets
  packages/start-plugin-core/src/build-sitemap.ts
  packages/start-plugin-core/src/nitro/build-nitro.ts
  packages/start-plugin-core/src/nitro/nitro-plugin.ts
  packages/start-plugin-core/src/prerender.ts
  packages/start-plugin-core/src/utils.ts
Labels: package: start-plugin-core

#4236 fix: better unsafeRelative, support router.navigate()
  packages/react-router/src/link.tsx
  packages/react-router/src/useNavigate.tsx
  packages/react-router/tests/link.test.tsx
  packages/react-router/tests/navigate.test.tsx
  packages/router-core/src/link.ts
  packages/router-core/src/router.ts
Labels: package: react-router, package: router-core

#4237 handle Symbol properties and non-enumerable properties in `replaceEqualDeep`
  packages/router-core/src/utils.ts
  packages/router-core/tests/utils.test.ts
Labels: package: router-core

#4247 fix: normalize router filepath
  packages/start-plugin-core/src/plugin.ts
Labels: package: start-plugin-core

#4251 merge main into alpha
  docs/router/framework/react/api/router/RouteOptionsType.md
  docs/router/framework/react/guide/search-params.md
  docs/router/framework/react/routing/code-based-routing.md
  docs/start/framework/react/databases.md
  packages/react-router/src/route.tsx
  packages/router-core/src/RouterProvider.ts
  packages/router-core/src/index.ts
  packages/router-core/src/route.ts
  packages/router-core/src/utils.ts
  packages/router-core/tests/utils.test.ts
  packages/router-devtools-core/src/TanStackRouterDevtoolsCore.tsx
  packages/solid-router/src/route.tsx
Labels: documentation, package: react-router, package: router-core, package: solid-router, package: router-devtools-core

#4252 fix: dynamically import virtual modules
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/router-manifest.ts
  packages/start-server-core/src/server-functions-handler.ts
Labels: package: start-server-core

#4253 refactor: rename internal functions and limit nitro defaults
  packages/react-start-plugin/src/index.ts
  packages/solid-start-plugin/src/index.ts
  packages/start-plugin-core/src/nitro/nitro-plugin.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-server-core/src/server-functions-handler.ts
Labels: package: react-start-plugin, package: solid-start-plugin, package: start-plugin-core, package: start-server-core

#4254 fix(alpha): Recursively import CSS assets
  examples/react/start-bare/src/routes/__root.tsx
  examples/react/start-bare/src/routes/about.tsx
  examples/react/start-bare/src/routes/index.tsx
  packages/start-plugin-core/src/routesManifestPlugin.ts
Labels: package: start-plugin-core

#4257 docs(router): add `route.tsx` in directory vs flat routing guide
  docs/router/framework/react/routing/file-based-routing.md
Labels: documentation

#4121 fix(react-router): fix custom link type ref inference
  packages/react-router/src/link.tsx
  packages/react-router/tests/link.test-d.tsx
Labels: package: react-router

#4261 chore(start-plugin-core): add comments for internal
  packages/start-plugin-core/src/nitro/dev-server-plugin.ts
  packages/start-plugin-core/src/nitro/nitro-plugin.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/prerender.ts
Labels: package: start-plugin-core

#4262 feat(start-plugin-core): load all environment variables for dev
  packages/start-plugin-core/src/nitro/nitro-plugin.ts
Labels: package: start-plugin-core

#4265 docs: Update RouteOptionsType doc to reflect correct Loader opts
  docs/router/framework/react/api/router/RouteOptionsType.md
Labels: documentation

#4266 chore(start-plugin-core): reorganize and centralize the plugin orchestration
  packages/start-plugin-core/src/constants.ts
  packages/start-plugin-core/src/dev-server-plugin/extract-html-scripts.ts
  packages/start-plugin-core/src/dev-server-plugin/plugin.ts
  packages/start-plugin-core/src/load-env-plugin/plugin.ts
  packages/start-plugin-core/src/nitro-plugin/build-sitemap.ts
  packages/start-plugin-core/src/nitro-plugin/plugin.ts
  packages/start-plugin-core/src/nitro-plugin/prerender.ts
  packages/start-plugin-core/src/nitro-plugin/queue.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/resolve-virtual-entries-plugin/plugin.ts
  packages/start-plugin-core/src/start-compiler-plugin.ts
  packages/start-plugin-core/src/start-routes-manifest-plugin/plugin.ts
Labels: package: start-plugin-core

#4267 Update code-splitting.md
  docs/router/framework/react/guide/code-splitting.md
Labels: documentation

#4212 fix: Fix devtools when using shadowdom
  packages/router-devtools-core/src/TanStackRouterDevtoolsCore.tsx
Labels: package: router-devtools-core

#4278 fix(start-plugin-core): add a defensive check for node.fullPath
  e2e/react-start/basic/src/routeTree.gen.ts
  e2e/react-start/basic/src/routes/foo/$bar/$qux/_here.tsx
  e2e/react-start/basic/src/routes/foo/$bar/$qux/_here/index.tsx
  packages/start-plugin-core/src/start-server-routes-plugin/plugin.ts
Labels: package: start-plugin-core

#4281 fix: scroll to top selectors function
  docs/router/framework/react/guide/scroll-restoration.md
  packages/router-core/src/router.ts
  packages/router-core/src/scroll-restoration.ts
Labels: documentation, package: router-core
