Repository TanStack/router, pull requests merged in 2025-03, with the labels that each got.

#3616 fix(solid-router): make HeadContent work for client navigation
  e2e/solid-router/basic-esbuild-file-based/index.html
  e2e/solid-router/basic-esbuild-file-based/package.json
  e2e/solid-router/basic-esbuild-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based-code-splitting/index.html
  e2e/solid-router/basic-file-based-code-splitting/package.json
  e2e/solid-router/basic-file-based-code-splitting/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/index.html
  e2e/solid-router/basic-file-based/package.json
  e2e/solid-router/basic-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/src/routes/posts.tsx
  e2e/solid-router/basic-file-based/tests/app.spec.ts
  e2e/solid-router/basic-scroll-restoration/index.html
  e2e/solid-router/basic-scroll-restoration/package.json
  e2e/solid-router/basic-scroll-restoration/src/main.tsx
  e2e/solid-router/basic-solid-query-file-based/index.html
  e2e/solid-router/basic-solid-query-file-based/package.json
  e2e/solid-router/basic-solid-query-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-solid-query/index.html
  e2e/solid-router/basic-solid-query/package.json
  e2e/solid-router/basic-solid-query/src/main.tsx
  e2e/solid-router/basic-virtual-file-based/index.html
  e2e/solid-router/basic-virtual-file-based/package.json
  e2e/solid-router/basic-virtual-file-based/src/routes/root.tsx
  e2e/solid-router/basic-virtual-named-export-config-file-based/index.html
  e2e/solid-router/basic-virtual-named-export-config-file-based/package.json
  e2e/solid-router/basic-virtual-named-export-config-file-based/src/routes/root.tsx
  e2e/solid-router/basic/index.html
  e2e/solid-router/basic/package.json
  e2e/solid-router/basic/src/main.tsx
  e2e/solid-router/rspack-basic-file-based/package.json
  e2e/solid-router/rspack-basic-file-based/src/routes/__root.tsx
  e2e/solid-router/rspack-basic-virtual-named-export-config-file-based/package.json
  e2e/solid-router/rspack-basic-virtual-named-export-config-file-based/src/routes/root.tsx
  e2e/solid-router/scroll-restoration-sandbox-vite/index.html
  e2e/solid-router/scroll-restoration-sandbox-vite/package.json
  e2e/solid-router/scroll-restoration-sandbox-vite/src/routes/__root.tsx
  examples/solid/basic-file-based/index.html
  examples/solid/basic-file-based/package.json
  examples/solid/basic-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query-file-based/index.html
  examples/solid/basic-solid-query-file-based/package.json
  examples/solid/basic-solid-query-file-based/src/routes/__root.tsx
  examples/solid/basic-solid-query/index.html
  examples/solid/basic-solid-query/package.json
  examples/solid/basic-solid-query/src/main.tsx
  examples/solid/kitchen-sink-file-based/index.html
  examples/solid/kitchen-sink-file-based/package.json
  examples/solid/kitchen-sink-file-based/src/routes/__root.tsx
  examples/solid/quickstart-file-based/index.html
  examples/solid/quickstart-file-based/package.json
  examples/solid/quickstart-file-based/src/routes/__root.tsx
  packages/solid-router/package.json
  packages/solid-router/src/Asset.tsx
  packages/solid-router/src/HeadContent.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/tests/Scripts.test.tsx
  pnpm-lock.yaml
Labels: package: solid-router

#3623 docs(start): fix installation script in "build-from-scratch" guide
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

#3626 refactor(router-generator): reduce use of `boolean` to identify file-system routes
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/filesystem/virtual/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/src/types.ts
Labels: package: router-generator

#3629 refactor(router-devtools): have components in separate files like query-devtools
  packages/router-devtools/src/AgeTicker.tsx
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/devtools.tsx
  packages/router-devtools/src/index.tsx
  packages/router-devtools/src/useStyles.tsx
Labels: package: router-devtools

#3631 refactor(router-devtools): Adopt recommendations for React 19
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/Explorer.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/context.ts
  packages/router-devtools/src/theme.tsx
  packages/router-devtools/src/useStyles.tsx
  packages/router-devtools/src/utils.ts
Labels: package: router-devtools

#3637 refactor(router-devtools): Revert #3631 to ensure backwards compat with react 18
  packages/router-devtools/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/Explorer.tsx
  packages/router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools/src/TanStackRouterDevtoolsPanel.tsx
  packages/router-devtools/src/context.ts
  packages/router-devtools/src/theme.tsx
  packages/router-devtools/src/useStyles.tsx
  packages/router-devtools/src/utils.ts
Labels: package: router-devtools

#3628 Update server-functions.md docs
  docs/start/framework/react/server-functions.md
Labels: documentation

#3638 fix(react-router,solid-router): prevent crashes if sessionStorage isn't available
  packages/react-router/src/scroll-restoration.tsx
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: solid-router

#3644 fix(history): `parseLocation` in createHashHistory to handle search params correctly
  packages/history/src/index.ts
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

#3652 docs(router): add viewTransition docs in NavigateOptionsType
  docs/router/framework/react/api/router/NavigateOptionsType.md
Labels: documentation

#3654 fix: allow relative `navigate` without `from`
  packages/react-router/src/router.ts
  packages/react-router/tests/navigate.test.tsx
  packages/solid-router/src/router.ts
  packages/solid-router/tests/navigate.test.tsx
Labels: package: react-router, package: solid-router

#3651 fix: solid router crashing with useRouterState
  e2e/react-router/basic-file-based/src/routes/__root.tsx
  e2e/solid-router/basic-file-based/src/routes/__root.tsx
  packages/react-router/src/router.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: solid-router

#3659 fix(react-router): ensure resetScroll works with strict mode on
  packages/react-router/src/Match.tsx
Labels: package: react-router

#3662 refactor(router-core): move redirect to core
  packages/react-router/src/Match.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/redirects.ts
  packages/react-router/src/router.ts
  packages/router-core/src/index.ts
  packages/router-core/src/redirect.ts
  packages/solid-router/src/Match.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/src/redirects.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: router-core, package: solid-router

#3667 Fix CI - Revert "refactor(react-router,solid-router): move redirect to router-core"
  packages/react-router/src/Match.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/redirects.ts
  packages/react-router/src/router.ts
  packages/router-core/src/index.ts
  packages/router-core/src/redirect.ts
  packages/solid-router/src/Match.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/src/redirects.ts
  packages/solid-router/src/router.ts
Labels: package: react-router, package: router-core, package: solid-router

#3663 fix: transform should return null to preserve source maps. Fixes #3661
  packages/react-start-plugin/src/index.ts
Labels: package: react-start-plugin

#3670 docs(start): Add note for verbatimModuleSyntax setting in tsconfig docs
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

#3671 fix: use default from in `useNavigate`
  packages/react-router/src/useNavigate.tsx
  packages/react-router/tests/useNavigate.test.tsx
  packages/solid-router/src/useNavigate.tsx
  packages/solid-router/tests/useNavigate.test.tsx
Labels: package: react-router, package: solid-router

#3673 fix: use leaf match as `from` if none supplied for `<Link>`
  packages/react-router/src/link.tsx
  packages/solid-router/src/link.tsx
Labels: package: react-router, package: solid-router

#3674 fix: rebuild link if matches change
  packages/react-router/src/link.tsx
  packages/solid-router/src/link.tsx
Labels: package: react-router, package: solid-router

#3618 chore: add script to bump typescript version and bump it to 5.8
  examples/react/search-validator-adapters/package.json
  package.json
  packages/arktype-adapter/package.json
  packages/directive-functions-plugin/package.json
  packages/eslint-plugin-router/package.json
  packages/history/package.json
  packages/react-router-with-query/package.json
  packages/react-router/package.json
  packages/react-start-api-routes/package.json
  packages/react-start-client/package.json
  packages/react-start-plugin/package.json
  packages/react-start-router-manifest/package.json
  packages/react-start-server-functions-client/package.json
  packages/react-start-server-functions-fetcher/package.json
  packages/react-start-server-functions-handler/package.json
  packages/react-start-server-functions-ssr/package.json
  packages/react-start-server/package.json
  packages/router-cli/package.json
  packages/router-core/package.json
  packages/router-devtools/package.json
  packages/router-generator/package.json
  packages/router-plugin/package.json
  packages/router-utils/package.json
  packages/router-vite-plugin/package.json
  packages/server-functions-plugin/package.json
  packages/solid-router/package.json
  packages/solid-start-api-routes/package.json
  packages/solid-start-client/package.json
  packages/solid-start-plugin/package.json
  packages/solid-start-router-manifest/package.json
  packages/solid-start-server-functions-client/package.json
  packages/solid-start-server-functions-fetcher/package.json
  packages/solid-start-server-functions-handler/package.json
  packages/solid-start-server-functions-ssr/package.json
  packages/solid-start-server/package.json
  packages/start-server-functions-server/package.json
  packages/valibot-adapter/package.json
  packages/zod-adapter/package.json
  pnpm-lock.yaml
  scripts/set-ts-version.js
Labels: package: react-router, package: router-core, package: router-plugin, package: router-generator, package: directive-functions-plugin, package: router-utils, package: router-cli, package: start-server-functions-server, package: history, package: eslint-plugin-router, package: server-functions-plugin, package: valibot-adapter, package: react-router-with-query, package: router-devtools, package: zod-adapter, package: solid-router, package: arktype-adapter, package: router-vite-plugin, package: react-start-plugin, package: react-start-server, package: react-start-router-manifest, package: react-start-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: react-start-api-routes, package: react-start-server-functions-client, package: react-start-server-functions-ssr

#3684 fix: use `fullPath` as `from` in Route/RouteApi `useNavigate`
  packages/react-router/src/fileRoute.ts
  packages/react-router/src/route.ts
  packages/react-router/tests/useNavigate.test.tsx
  packages/solid-router/src/fileRoute.ts
  packages/solid-router/src/route.ts
  packages/solid-router/tests/useNavigate.test.tsx
Labels: package: react-router, package: solid-router

#3672 chore: replace `<React.Fragment>` by `<>`
  examples/react/start-large/app/routes/linkProps.tsx
  packages/react-router/tests/blocker.test.tsx
  packages/react-router/tests/route.test.tsx
  packages/react-router/tests/useBlocker.test.tsx
  packages/react-router/tests/useNavigate.test.tsx
Labels: package: react-router

#3685 refactor(router-generator): add internal `__enableAPIRoutesGeneration` flag
  docs/router/api/file-based-routing.md
  docs/router/framework/react/routing/file-naming-conventions.md
  packages/react-start-config/src/index.ts
  packages/router-generator/src/config.ts
  packages/router-generator/src/filesystem/physical/getRouteNodes.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/tests/generator.test.ts
  packages/solid-start-config/src/index.ts
  packages/start-config/src/index.ts
  pnpm-lock.yaml
Labels: documentation, package: start-config, package: router-generator, package: react-start-config

#3677 chore(examples): add Material UI example
  docs/router/framework/react/guide/custom-link.md
  docs/start/config.json
  docs/start/framework/react/quick-start.md
  examples/react/start-material-ui/app.config.ts
  examples/react/start-material-ui/app/client.tsx
  examples/react/start-material-ui/app/components/Counter.tsx
  examples/react/start-material-ui/app/components/CustomButtonLink.tsx
  examples/react/start-material-ui/app/components/CustomLink.tsx
  examples/react/start-material-ui/app/components/Header.tsx
  examples/react/start-material-ui/app/routeTree.gen.ts
  examples/react/start-material-ui/app/router.tsx
  examples/react/start-material-ui/app/routes/__root.tsx
  examples/react/start-material-ui/app/routes/about.tsx
  examples/react/start-material-ui/app/routes/index.tsx
  examples/react/start-material-ui/app/setup/theme.ts
  examples/react/start-material-ui/app/ssr.tsx
  examples/react/start-material-ui/package.json
  examples/react/start-material-ui/public/favicon.ico
  examples/react/start-material-ui/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

#3678 feat(router-generator): disable formatting of routeTree
  .prettierignore
  docs/router/api/file-based-routing.md
  packages/router-generator/src/config.ts
  packages/router-generator/src/generator.ts
  packages/router-generator/tests/generator.test.ts
  packages/router-generator/tests/generator/no-formatted-route-tree/routeTree.snapshot.ts
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/__root.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/index.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/nested/child.tsx
  packages/router-generator/tests/generator/no-formatted-route-tree/routes/nested/index.tsx
Labels: documentation, package: router-generator

#3696 fix(router-devtools-core) Lazy load panel
  packages/router-devtools-core/src/BaseTanStackRouterDevtoolsPanel.tsx
  packages/router-devtools-core/src/TanStackRouterDevtoolsPanelCore.tsx
Labels: package: router-devtools-core

#3700 fix(react-router,solid-router): scroll to element does not work for hash history
  e2e/react-router/scroll-restoration-sandbox-vite/.gitignore
  e2e/react-router/scroll-restoration-sandbox-vite/package.json
  e2e/react-router/scroll-restoration-sandbox-vite/playwright.browser.config.ts
  e2e/react-router/scroll-restoration-sandbox-vite/playwright.hash.config.ts
  e2e/react-router/scroll-restoration-sandbox-vite/src/main.tsx
  e2e/react-router/scroll-restoration-sandbox-vite/tests/app.spec.ts
  e2e/react-router/scroll-restoration-sandbox-vite/tsconfig.json
  e2e/solid-router/scroll-restoration-sandbox-vite/.gitignore
  e2e/solid-router/scroll-restoration-sandbox-vite/package.json
  e2e/solid-router/scroll-restoration-sandbox-vite/playwright.browser.config.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/playwright.hash.config.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/src/main.tsx
  e2e/solid-router/scroll-restoration-sandbox-vite/src/routeTree.gen.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/tests/app.spec.ts
  e2e/solid-router/scroll-restoration-sandbox-vite/tsconfig.json
  packages/react-router/src/scroll-restoration.tsx
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: solid-router

#3702 revert(react-router,solid-router): revert #3700
  e2e/react-router/scroll-restoration-sandbox-vite/package.json
  e2e/solid-router/scroll-restoration-sandbox-vite/package.json
  packages/react-router/src/scroll-restoration.tsx
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: solid-router

#3701 docs(router): improve navigation guide and NavigateOptions documentation
  docs/router/framework/react/api/router/NavigateOptionsType.md
  docs/router/framework/react/guide/navigation.md
Labels: documentation

#3703 chore(react-start,solid-start): update imports to use router-core
  packages/react-start-client/src/StartClient.tsx
  packages/react-start-client/src/ssr-client.tsx
  packages/react-start-config/package.json
  packages/react-start-config/src/index.ts
  packages/react-start-server/src/StartServer.tsx
  packages/react-start-server/src/createRequestHandler.ts
  packages/react-start-server/src/createStartHandler.ts
  packages/react-start-server/src/handlerCallback.ts
  packages/react-start-server/src/ssr-server.ts
  packages/react-start-server/src/transformStreamWithRouter.ts
  packages/react-start-server/src/tsrScript.ts
  packages/solid-start-client/src/StartClient.tsx
  packages/solid-start-client/src/ssr-client.tsx
  packages/solid-start-config/package.json
  packages/solid-start-config/src/index.ts
  packages/solid-start-server/src/StartServer.tsx
  packages/solid-start-server/src/createRequestHandler.ts
  packages/solid-start-server/src/createStartHandler.ts
  packages/solid-start-server/src/handlerCallback.ts
  packages/solid-start-server/src/ssr-server.ts
  packages/solid-start-server/src/transformStreamWithRouter.ts
  packages/solid-start-server/src/tsrScript.ts
  pnpm-lock.yaml
Labels: package: react-start-config, package: react-start-server, package: react-start-client, package: solid-start-client, package: solid-start-config, package: solid-start-server

#3704 chore(react-start-config,solid-start-config): remove unused router deps
  packages/react-start-config/package.json
  packages/solid-start-config/package.json
  pnpm-lock.yaml
Labels: package: react-start-config, package: solid-start-config

#3710 docs(router): Add example for search params validation with Effect/Sc…
  docs/router/framework/react/guide/search-params.md
Labels: documentation

#3714 refactor(start-client-core): move ssr-client to core package
  packages/react-start-client/src/StartClient.tsx
  packages/react-start-client/src/index.tsx
  packages/react-start-server/src/ssr-server.ts
  packages/react-start-server/src/tsrScript.ts
  packages/solid-start-client/src/StartClient.tsx
  packages/solid-start-client/src/index.tsx
  packages/solid-start-client/src/ssr-client.tsx
  packages/solid-start-server/src/ssr-server.ts
  packages/solid-start-server/src/tsrScript.ts
  packages/start-client-core/package.json
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/ssr-client.tsx
  pnpm-lock.yaml
Labels: package: react-start-server, package: react-start-client, package: solid-start-client, package: solid-start-server

#3715 chore(start-client-core): move createIsomorphicFn to core
  packages/react-start-client/src/index.tsx
  packages/solid-start-client/src/createIsomorphicFn.ts
  packages/solid-start-client/src/index.tsx
  packages/solid-start-client/src/tests/createIsomorphicFn.test-d.ts
  packages/start-client-core/src/createIsomorphicFn.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/tests/createIsomorphicFn.test-d.ts
Labels: package: react-start-client, package: solid-start-client

#3716 chore(start-client-core): move envonly and json to core
  packages/react-start-client/src/createServerFn.ts
  packages/react-start-client/src/index.tsx
  packages/react-start-client/src/tests/setupTests.tsx
  packages/react-start-client/vite.config.ts
  packages/solid-start-client/src/createServerFn.ts
  packages/solid-start-client/src/envOnly.ts
  packages/solid-start-client/src/index.tsx
  packages/solid-start-client/src/json.ts
  packages/solid-start-client/src/tests/envOnly.test-d.ts
  packages/solid-start-client/src/tests/json.test.ts
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/envOnly.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/json.ts
  packages/start-client-core/src/tests/envOnly.test-d.ts
  packages/start-client-core/src/tests/json.test.ts
Labels: package: react-start-client, package: solid-start-client

#3717 chore(start-client-core): move middleware and serverfn to core
  packages/react-start-client/src/createServerFn.ts
  packages/react-start-client/src/index.tsx
  packages/react-start-client/src/tests/createServerFn.test-d.tsx
  packages/react-start-server-functions-fetcher/package.json
  packages/react-start-server-functions-fetcher/src/index.ts
  packages/react-start-server-functions-ssr/package.json
  packages/react-start-server/package.json
  packages/solid-start-client/src/createMiddleware.ts
  packages/solid-start-client/src/createServerFn.ts
  packages/solid-start-client/src/index.tsx
  packages/solid-start-client/src/registerGlobalMiddleware.ts
  packages/solid-start-client/src/tests/createServerFn.test-d.tsx
  packages/solid-start-client/src/tests/createServerMiddleware.test-d.ts
  packages/solid-start-server-functions-fetcher/package.json
  packages/solid-start-server-functions-fetcher/src/index.ts
  packages/solid-start-server-functions-ssr/package.json
  packages/solid-start-server/package.json
  packages/start-client-core/package.json
  packages/start-client-core/src/createMiddleware.ts
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/index.tsx
  packages/start-client-core/src/registerGlobalMiddleware.ts
  packages/start-client-core/src/tests/createServerMiddleware.test-d.ts
  pnpm-lock.yaml
Labels: package: react-start-server, package: react-start-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-ssr, package: solid-start-client, package: solid-start-server, package: solid-start-server-functions-fetcher, package: solid-start-server-functions-ssr

#3722 chore(start-api-routes): make agnostic package
  .github/labeler.yml
  package.json
  packages/react-start-api-routes/package.json
  packages/react-start-api-routes/src/index.ts
  packages/react-start-config/src/index.ts
  packages/react-start/package.json
  packages/react-start/src/api.tsx
  packages/react-start/vite.config.ts
  packages/router-generator/src/generator.ts
  packages/solid-start-api-routes/README.md
  packages/solid-start-api-routes/eslint.config.js
  packages/solid-start-api-routes/tsconfig.json
  packages/solid-start-api-routes/vite.config.ts
  packages/solid-start-config/src/index.ts
  packages/solid-start/package.json
  packages/solid-start/src/api.tsx
  packages/solid-start/vite.config.ts
  packages/start-api-routes/README.md
  packages/start-api-routes/eslint.config.js
  packages/start-api-routes/package.json
  packages/start-api-routes/src/index.ts
  packages/start-api-routes/tsconfig.json
  packages/start-api-routes/vite.config.ts
  packages/start-config/src/index.ts
  packages/start/package.json
  packages/start/src/api.tsx
  packages/start/vite.config.ts
  pnpm-lock.yaml
  scripts/publish.js
Labels: package: start, package: start-config, package: router-generator, package: react-start-config, package: react-start, package: react-start-api-routes, package: solid-start-config, package: solid-start, package: solid-start-api-routes

#3726 refactor: use router-core in server-functions packages
  packages/react-router-with-query/package.json
  packages/react-router-with-query/src/index.tsx
  packages/react-start-client/src/createServerFn.ts
  packages/react-start-client/src/useServerFn.ts
  packages/react-start-server-functions-fetcher/package.json
  packages/react-start-server-functions-fetcher/src/index.ts
  packages/react-start-server-functions-handler/package.json
  packages/react-start-server-functions-handler/src/index.ts
  packages/solid-start-client/src/createServerFn.ts
  packages/solid-start-client/src/useServerFn.ts
  packages/solid-start-server-functions-fetcher/package.json
  packages/solid-start-server-functions-fetcher/src/index.ts
  packages/solid-start-server-functions-handler/package.json
  packages/solid-start-server-functions-handler/src/index.ts
  pnpm-lock.yaml
Labels: package: react-router-with-query, package: react-start-client, package: react-start-server-functions-fetcher, package: react-start-server-functions-handler, package: solid-start-client, package: solid-start-server-functions-fetcher, package: solid-start-server-functions-handler

#3732 fix(solid-router-devtools,react-router-devtools): add core package and solid-js as deps
  packages/react-router-devtools/package.json
  packages/solid-router-devtools/package.json
  pnpm-lock.yaml
Labels: package: react-router-devtools, package: solid-router-devtools

#3730 fix(react-router): pin version of router-core
  packages/react-router/package.json
Labels: package: react-router

#3733 fix(docs): update path-alias example from app to src
  docs/start/framework/react/path-aliases.md
Labels: documentation

#3740 fix(router-core): agnostic scroll restoration code
  packages/react-router/src/ScrollRestoration.tsx
  packages/react-router/src/router.ts
  packages/react-router/src/scroll-restoration.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/ScrollRestoration.tsx
  packages/solid-router/src/router.ts
  packages/solid-router/src/scroll-restoration.tsx
Labels: package: react-router, package: router-core, package: solid-router

#3749 fix(router-core): move ThrowConstraint to core utils
  packages/react-router/src/useMatch.tsx
  packages/react-router/src/useParams.tsx
  packages/react-router/src/useSearch.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/utils.ts
  packages/solid-router/src/useMatch.tsx
  packages/solid-router/src/useParams.tsx
  packages/solid-router/src/useSearch.tsx
Labels: package: react-router, package: router-core, package: solid-router

#3752 docs: Add example for virtualization for the whole window.
  docs/router/framework/react/guide/scroll-restoration.md
Labels: documentation

#3759 docs(quickstart): use create-tsrouter-app for scaffolding a tsrouter app
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

#3758 fix(react-router-devtools): remove router devtools duplicate peer dependency
  packages/react-router-devtools/package.json
  packages/solid-router-devtools/package.json
Labels: package: react-router-devtools, package: solid-router-devtools

#3768 fix(router-devtools-core): propagate toggleButtonProps properly
  packages/react-router-devtools/src/TanStackRouterDevtools.tsx
  packages/router-devtools-core/src/TanStackRouterDevtoolsCore.tsx
Labels: package: router-devtools-core, package: react-router-devtools, package: solid-router-devtools

#3769 fix(router-docs): update notes on devtools in quickstart guide
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

#3770 fix(react-router-devtools): remove console warnings from useRouter
  packages/react-router-devtools/src/TanStackRouterDevtools.tsx
Labels: package: react-router-devtools

#3767 Update useBlockerHook.md
  docs/router/framework/react/api/router/useBlockerHook.md
Labels: documentation

#3772 docs: typo in the "external-data-loading" guide
  docs/router/framework/react/guide/external-data-loading.md
Labels: documentation

#3779 fix(history): double `/` being added in hash routing
  packages/history/src/index.ts
  packages/history/tests/createHashHistory.test.ts
Labels: package: history

#3788 [DOCS] : Fix wrong getting started command
  docs/router/framework/react/guide/tanstack-start.md
Labels: documentation

#3792 refactor(router-core): decorate with JSDoc for `NavigateOptionProps`, `ActiveOptions`, `MatchRouteOptions` and `Redirect`
  packages/router-core/src/Matches.ts
  packages/router-core/src/link.ts
  packages/router-core/src/redirect.ts
Labels: package: router-core

#3791 docs(react-router): add view transitions example
  docs/router/config.json
  examples/react/view-transitions/.gitignore
  examples/react/view-transitions/.vscode/settings.json
  examples/react/view-transitions/README.md
  examples/react/view-transitions/index.html
  examples/react/view-transitions/package.json
  examples/react/view-transitions/postcss.config.mjs
  examples/react/view-transitions/src/main.tsx
  examples/react/view-transitions/src/posts.tsx
  examples/react/view-transitions/src/routeTree.gen.ts
  examples/react/view-transitions/src/routes/__root.tsx
  examples/react/view-transitions/src/routes/explore.tsx
  examples/react/view-transitions/src/routes/how-it-works.tsx
  examples/react/view-transitions/src/routes/index.tsx
  examples/react/view-transitions/src/routes/posts.$postId.tsx
  examples/react/view-transitions/src/routes/posts.index.tsx
  examples/react/view-transitions/src/routes/posts.route.tsx
  examples/react/view-transitions/src/styles.css
  examples/react/view-transitions/tailwind.config.mjs
  examples/react/view-transitions/tsconfig.dev.json
  examples/react/view-transitions/tsconfig.json
  examples/react/view-transitions/vite.config.js
  pnpm-lock.yaml
Labels: documentation

#3795 docs(start): fix broken url to the `start-counter` example
  docs/start/framework/react/quick-start.md
Labels: documentation

#3803 refactor(router-core): move internals of Route to router-core
  packages/react-router/src/route.ts
  packages/router-core/src/index.ts
  packages/router-core/src/route.ts
  packages/solid-router/src/route.ts
Labels: package: react-router, package: router-core, package: solid-router

#3800 refactor(router-core): moving internals of Router to router core
  packages/react-router/src/index.tsx
  packages/react-router/src/route.ts
  packages/react-router/src/router.ts
  packages/react-router/src/routerContext.tsx
  packages/router-core/package.json
  packages/router-core/src/history.ts
  packages/router-core/src/index.ts
  packages/router-core/src/router.ts
  packages/solid-router/src/index.tsx
  packages/solid-router/src/route.ts
  packages/solid-router/src/router.ts
  pnpm-lock.yaml
Labels: package: react-router, package: router-core, package: solid-router

#3806 docs: typo fix
  docs/router/framework/react/routing/routing-concepts.md
Labels: documentation

#3813 fix(solid-router): nav flickering and view transitions
  packages/solid-router/src/lazyRouteComponent.tsx
Labels: package: solid-router

#3819 docs(start): move router configuration note to the top
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

#3821 fix(react-router): missing `Symbol` declaration for HMR
  packages/react-router/src/route.ts
Labels: package: react-router

#3822 docs(react-router,solid-router): add a FAQ section
  docs/router/config.json
  docs/router/framework/react/faq.md
  docs/router/framework/solid/faq.md
Labels: documentation

#3829 docs: fix create-tsrouter-app command
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

#3833 fix(docs): Update link for the The Router Configuration: Preloading & Caching
  docs/start/framework/react/build-from-scratch.md
Labels: documentation

#3864 release experimental `@tanstack/solid-start` package
  docs/start/config.json
  docs/start/framework/react/server-functions.md
  docs/start/framework/solid/api-routes.md
  docs/start/framework/solid/authentication.md
  docs/start/framework/solid/build-from-scratch.md
  docs/start/framework/solid/databases.md
  docs/start/framework/solid/getting-started.md
  docs/start/framework/solid/hosting.md
  docs/start/framework/solid/learn-the-basics.md
  docs/start/framework/solid/middleware.md
  docs/start/framework/solid/observability.md
  docs/start/framework/solid/overview.md
  docs/start/framework/solid/path-aliases.md
  docs/start/framework/solid/quick-start.md
  docs/start/framework/solid/server-functions.md
  docs/start/framework/solid/ssr.md
  docs/start/framework/solid/static-prerendering.md
  docs/start/framework/solid/static-server-functions.md
  examples/solid/start-bare/package.json
  examples/solid/start-basic/package.json
  package.json
  packages/solid-start-client/package.json
  packages/solid-start-config/package.json
  packages/solid-start-plugin/package.json
  packages/solid-start-router-manifest/package.json
  packages/solid-start-server/package.json
  packages/solid-start/README.md
  packages/solid-start/package.json
  pnpm-lock.yaml
  scripts/publish.js
Labels: documentation, package: solid-start-client, package: solid-start-config, package: solid-start-plugin, package: solid-start-server, package: solid-start, package: solid-start-router-manifest

#3866 chore(docs): fix escaping of brackets in solid overview page
  docs/start/framework/solid/overview.md
Labels: documentation

#3863 docs(start): switch from `degit` to `gitpick`
  docs/start/framework/react/quick-start.md
Labels: documentation

#3877 docs(router): fix `_pathlessLayout` example of file-based routing
  docs/router/framework/react/routing/file-based-routing.md
Labels: documentation

#3881 fix: bump babel-dead-code-elimination
  packages/directive-functions-plugin/package.json
  packages/react-start-plugin/package.json
  packages/router-plugin/package.json
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/random-number@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/random-number@component.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/development/random-number@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/2-components-combined-loader-separate/production/random-number@component---errorComponent---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/development/random-number@component---loader---notFoundComponent---pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/3-all-combined-errorComponent-separate/production/random-number@component---loader---notFoundComponent---pendingComponent.tsx
  pnpm-lock.yaml
Labels: package: router-plugin, package: directive-functions-plugin, package: react-start-plugin

#3892 Update api-routes.md
  docs/start/framework/react/api-routes.md
Labels: documentation

#3898 fix(router-devtools-core): remove floating panel style on close
  packages/router-devtools-core/src/FloatingTanStackRouterDevtools.tsx
Labels: package: router-devtools-core

#3896 docs(router): correct ReturnType of `Router.matchRoute` to match the runtime output
  docs/router/framework/react/api/router/RouterType.md
Labels: documentation
