Repository TanStack/router, pull requests merged in 2025-04, with the labels that each got.

#3905 Fix HeadContent docs
  docs/router/framework/react/guide/document-head-management.md
Labels: documentation

#3890 docs(router): simplify route variable naming in search params guide
  docs/router/framework/react/guide/search-params.md
Labels: documentation

#3914 fix(react-router): restore scroll position onResolved
  packages/react-router/src/Transitioner.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/scroll-restoration.ts
  packages/solid-router/src/Transitioner.tsx
Labels: package: react-router, package: router-core, package: solid-router

#3923 fix(react-router): missing Symbol declaration for HMR in root route
  packages/react-router/src/route.ts
Labels: package: react-router

#3934 Update scroll-restoration.md
  docs/router/framework/react/guide/scroll-restoration.md
Labels: documentation

#3935 test(router-generator): check filenames starting with a number
  packages/router-generator/tests/generator/numbers-in-path/routeTree.snapshot.ts
  packages/router-generator/tests/generator/numbers-in-path/routes/01-example/index.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/02.index.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/03.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/__root.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/about.tsx
  packages/router-generator/tests/generator/numbers-in-path/routes/index.tsx
Labels: package: router-generator

#3937 docs: fix broken example link
  docs/router/framework/react/guide/authenticated-routes.md
Labels: documentation

#3894 fix(router-core): search parsing of `+` using `URLSearchParams`
  docs/router/framework/react/guide/search-params.md
  packages/router-core/src/qss.ts
  packages/router-core/tests/qss.test.ts
Labels: documentation, package: router-core

#3918 fix(react-router): fix issue with scroll restoration
  packages/react-router/src/Match.tsx
Labels: package: react-router

#3961 docs: devtools installation
  docs/router/framework/react/devtools.md
Labels: documentation

#3966 Add Start WorkOS example
  docs/start/config.json
  docs/start/framework/react/quick-start.md
  examples/react/start-basic/src/routeTree.gen.ts
  examples/react/start-workos/.env.example
  examples/react/start-workos/.gitignore
  examples/react/start-workos/README.md
  examples/react/start-workos/app.config.ts
  examples/react/start-workos/app/api.ts
  examples/react/start-workos/app/authkit/serverFunctions.ts
  examples/react/start-workos/app/authkit/ssr/config.ts
  examples/react/start-workos/app/authkit/ssr/interfaces.ts
  examples/react/start-workos/app/authkit/ssr/session.ts
  examples/react/start-workos/app/authkit/ssr/utils.ts
  examples/react/start-workos/app/authkit/ssr/workos.ts
  examples/react/start-workos/app/client.tsx
  examples/react/start-workos/app/components/footer.tsx
  examples/react/start-workos/app/components/sign-in-button.tsx
  examples/react/start-workos/app/routeTree.gen.ts
  examples/react/start-workos/app/router.tsx
  examples/react/start-workos/app/routes/__root.tsx
  examples/react/start-workos/app/routes/_authenticated.tsx
  examples/react/start-workos/app/routes/_authenticated/account.tsx
  examples/react/start-workos/app/routes/api/auth/callback.tsx
  examples/react/start-workos/app/routes/index.tsx
  examples/react/start-workos/app/routes/logout.tsx
  examples/react/start-workos/app/ssr.tsx
  examples/react/start-workos/package.json
  examples/react/start-workos/prettier.config.js
  examples/react/start-workos/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

#3979 fix(router-core): Accept AnyRouter in `redirect`
  packages/router-core/src/redirect.ts
Labels: package: router-core

#3969 feat(react-router): Export `ClientOnly`
  docs/router/framework/react/api/router.md
  docs/router/framework/react/api/router/clientOnlyComponent.md
  packages/react-router/src/ClientOnly.tsx
  packages/react-router/src/index.tsx
  packages/react-router/src/lazyRouteComponent.tsx
  packages/react-router/tests/ClientOnly.test.tsx
  packages/solid-router/src/ClientOnly.tsx
  packages/solid-router/src/index.tsx
  packages/solid-router/src/lazyRouteComponent.tsx
  packages/solid-router/tests/ClientOnly.test.tsx
Labels: documentation, package: react-router, package: solid-router

#3986 add comment for vite plugin order
  docs/router/framework/react/quick-start.md
  docs/router/framework/react/routing/installation-with-vite.md
Labels: documentation

#3984 docs(router): Fix broken link to SSR page from Deferred Data Loading page
  docs/router/framework/react/guide/deferred-data-loading.md
Labels: documentation

#3980 fix(router-plugin): avoid blocking webpack build command
  packages/router-plugin/src/core/router-generator-plugin.ts
Labels: package: router-plugin

#3991 fix(docs): correct start server git link
  docs/start/framework/react/server-functions.md
Labels: documentation

#3994 docs: improves react/solid quick-start docs
  docs/router/framework/react/quick-start.md
  docs/router/framework/solid/quick-start.md
Labels: documentation

#3995 chore: added Parallel Routes comparison.md
  docs/router/framework/react/comparison.md
Labels: documentation

#3992 fix(docs): Complete server function mutation example and fix broken links.
  docs/start/framework/react/learn-the-basics.md
Labels: documentation

#4024 test(router-core): cases for `interpolatePath` and `matchPathname`
  packages/router-core/tests/path.test.ts
Labels: package: router-core

#4029 docs(start): remove trailing commas from "build-from-scratch"
  docs/start/framework/react/build-from-scratch.md
  docs/start/framework/solid/build-from-scratch.md
Labels: documentation

#4031 feat(router-core): allow dynamic `ViewTransition` types
  examples/react/view-transitions/src/main.tsx
  packages/router-core/src/router.ts
Labels: package: router-core

#4044 fix: pending component handling for initial load
  packages/router-core/src/router.ts
  packages/solid-router/src/Transitioner.tsx
Labels: package: router-core, package: solid-router

#4047 fix(router-plugin): do not split the `pendingComponent`
  packages/router-plugin/src/core/constants.ts
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/arrow-function@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/chinese@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/conditional-properties@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/destructured-react-memo-imported-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/destructuring@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/export-default-component-and-normal-notFound@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/export-default-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/function-as-parameter@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/function-declaration@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/importAttribute@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/imported-default-component-destructured-loader@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/imported-default-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/imported-errorComponent@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/imported-notFoundComponent@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/imported-pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/imported-pendingComponent@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/imported@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/inline@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/random-number@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/react-memo-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/react-memo-imported-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/retain-export-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/retain-exports-const@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/retain-exports-function@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/retain-exports-loader@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/development/useStateDestructure@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/arrow-function@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/chinese@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/conditional-properties@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/destructured-react-memo-imported-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/destructuring@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/export-default-component-and-normal-notFound@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/export-default-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/function-as-parameter@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/function-declaration@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/importAttribute@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/imported-default-component-destructured-loader@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/imported-default-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/imported-errorComponent@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/imported-notFoundComponent@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/imported-pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/imported-pendingComponent@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/imported@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/inline@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/random-number@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/react-memo-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/react-memo-imported-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/retain-export-component@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/retain-exports-const@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/retain-exports-function@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/retain-exports-loader@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/react/1-default/production/useStateDestructure@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/solid/1-default/development/arrow-function@pendingComponent.tsx
  packages/router-plugin/tests/code-splitter/snapshots/solid/1-default/production/arrow-function@pendingComponent.tsx
  packages/router-plugin/tests/detect-route-codesplit-groupings.test.ts
Labels: package: router-plugin

#3993 feat: allow use of nitro zero conf
  packages/react-start-config/src/index.ts
  packages/react-start-config/src/schema.ts
  packages/solid-start-config/src/index.ts
  packages/solid-start-config/src/schema.ts
  packages/start-config/src/index.ts
  packages/start-config/src/schema.ts
Labels: package: start-config, package: react-start-config, package: solid-start-config

#4055 docs: fix broken link
  docs/start/framework/react/middleware.md
Labels: documentation

#4062 docs(start): fix key on changing the base path for API routes
  docs/start/framework/react/api-routes.md
Labels: documentation

#4070 fix(react-router-devtools): remove useRouter warning for panel
  packages/react-router-devtools/src/TanStackRouterDevtoolsPanel.tsx
Labels: package: react-router-devtools
