Repository TanStack/router, pull requests merged in 2025-10, with the labels that each got.

#5326 chore: update migration docs for next/image
  docs/start/framework/react/migrate-from-next-js.md
Labels: documentation

#5330 fix: correctly handle client-side vs server-side redirects with rewrites
  e2e/react-start/custom-basepath/src/routeTree.gen.ts
  e2e/react-start/custom-basepath/src/routes/posts.$postId.tsx
  e2e/react-start/custom-basepath/src/routes/redirect/index.tsx
  e2e/react-start/custom-basepath/src/routes/redirect/throw-it.tsx
  e2e/react-start/custom-basepath/tests/navigation.spec.ts
  packages/router-core/src/router.ts
Labels: package: router-core

#5333 fix: return Headers instead of object
  packages/start-server-core/src/request-response.ts
Labels: package: start-server-core

#5334 docs: fix Bun server environment variable names and improve clarity
  docs/start/framework/react/hosting.md
Labels: documentation

#5345 fix: basepath
  examples/react/start-basic/vite.config.ts
  packages/nitro-v2-vite-plugin/src/index.ts
  packages/react-router/src/index.tsx
  packages/react-router/tests/router.test.tsx
  packages/router-core/src/index.ts
  packages/router-core/src/router.ts
  packages/solid-router/src/index.tsx
  packages/start-client-core/src/client-rpc/createClientRpc.ts
  packages/start-client-core/src/client/hydrateStart.ts
  packages/start-plugin-core/src/global.d.ts
  packages/start-plugin-core/src/plugin.ts
  packages/start-plugin-core/src/prerender.ts
  packages/start-plugin-core/src/schema.ts
  packages/start-plugin-core/src/start-manifest-plugin/plugin.ts
  packages/start-server-core/src/createServerRpc.ts
  packages/start-server-core/src/createStartHandler.ts
  packages/start-server-core/src/global.d.ts
  packages/start-server-core/src/router-manifest.ts
  packages/start-server-core/src/server-functions-handler.ts
Labels: package: react-router, package: router-core, package: solid-router, package: start-plugin-core, package: start-server-core, package: start-client-core, package: nitro-v2-vite-plugin

#5355 fix: re-add SessionConfig export
  packages/start-server-core/src/index.tsx
Labels: package: start-server-core

#5347 update solid start docs
  docs/start/framework/react/fetching-external-api.md
  docs/start/framework/react/path-aliases.md
  docs/start/framework/react/reading-writing-file.md
  docs/start/framework/react/server-routes.md
  docs/start/framework/solid/authentication.md
  docs/start/framework/solid/build-from-scratch.md
  docs/start/framework/solid/client-entry-point.md
  docs/start/framework/solid/code-execution-patterns.md
  docs/start/framework/solid/environment-variables.md
  docs/start/framework/solid/execution-model.md
  docs/start/framework/solid/getting-started.md
  docs/start/framework/solid/hosting.md
  docs/start/framework/solid/observability.md
  docs/start/framework/solid/quick-start.md
  docs/start/framework/solid/routing.md
  docs/start/framework/solid/selective-ssr.md
  docs/start/framework/solid/server-functions.md
  docs/start/framework/solid/server-routes.md
  docs/start/framework/solid/static-prerendering.md
  docs/start/framework/solid/tailwind-integration.md
Labels: documentation

#5378 fix: revert alias handling for nitro-v2-vite-plugin
  packages/nitro-v2-vite-plugin/package.json
  packages/nitro-v2-vite-plugin/src/index.ts
  packages/nitro-v2-vite-plugin/vite.config.ts
  packages/start-server-core/package.json
  packages/start-server-core/src/request-response.ts
  pnpm-lock.yaml
Labels: package: start-server-core, package: nitro-v2-vite-plugin

#5362 fix(router-core): fix typing of search in remountDeps
  packages/router-core/src/route.ts
  packages/router-core/tests/remountDeps.test-d.ts
  packages/router-core/tests/remountDeps.test.ts
Labels: package: router-core

#5321 fix: merge `serializationAdapters` from `createStart` `getOptions` and `router.options`
  packages/start-client-core/src/client/hydrateStart.ts
  packages/start-server-core/src/createStartHandler.ts
Labels: package: start-server-core, package: start-client-core

#5374 fix(router-devtools-core): bundle solid for smaller package
  packages/router-devtools-core/package.json
  pnpm-lock.yaml
Labels: package: router-devtools-core

#5387 fix: add TsrSerializable
  packages/router-core/src/index.ts
  packages/router-core/src/ssr/serializer/transformer.ts
  packages/router-core/src/ssr/server.ts
  packages/router-core/tests/serializer.test-d.ts
  packages/start-client-core/src/tests/createServerFn.test-d.ts
Labels: package: router-core, package: start-client-core

#5390 fix: pass in request when requestMiddleware is used in combination wi…
  e2e/react-start/server-functions/src/routeTree.gen.ts
  e2e/react-start/server-functions/src/routes/middleware/index.tsx
  e2e/react-start/server-functions/src/routes/middleware/request-middleware.tsx
  e2e/react-start/server-functions/tests/server-functions.spec.ts
  packages/start-client-core/src/createServerFn.ts
  packages/start-client-core/src/getServerContextAfterGlobalMiddlewares.ts
  packages/start-client-core/src/getStartContextServerOnly.ts
  packages/start-server-core/src/createStartHandler.ts
  packages/start-storage-context/src/async-local-storage.ts
Labels: package: start-server-core, package: start-client-core, package: start-storage-context

#5348 fix(solid-router): make useLoaderDeps return Accessor for reactivity
  packages/solid-router/src/useLoaderDeps.tsx
  packages/solid-router/tests/route.test.tsx
  packages/solid-router/tests/routeApi.test-d.tsx
Labels: package: solid-router

#5403 Fix(router-devtools-core): Reverts #5374
  packages/router-devtools-core/package.json
  pnpm-lock.yaml
Labels: package: router-devtools-core
